<div class="fsa-topper">
  <div class="fsa-topper__bd">
    <a class="fsa-topper__link HINT" href="#main-content">Return to top</a>
  </div>
</div>

<!-- <div class="fsa-footer-nav">
  <div class="fsa-footer-nav__bd">
    <ul class="fsa-footer-nav__list">
      <li class="fsa-footer-nav__list-item"><a class="fsa-footer-nav__link" href="link.html">Home</a></li>
      <li class="fsa-footer-nav__list-item"><a class="fsa-footer-nav__link" href="link.html">Nav item 2</a></li>
      <li class="fsa-footer-nav__list-item"><a class="fsa-footer-nav__link" href="link.html">Another Nav item 3</a></li>
      <li class="fsa-footer-nav__list-item"><a class="fsa-footer-nav__link" href="link.html">Nav item 4</a></li>
    </ul>
  </div>
</div> -->

<div class="fsa-footer">
  <div class="fsa-footer__bd">
    <div class="fsa-grid">
      <div class="fsa-footer__primary fsa-grid__1/1 fsa-grid__9/12@l">
        <div class="fsa-grid">
          <div class="fsa-grid__1/1 fsa-grid__1/3@m">
            <h3 class="fsa-footer__cat-header">Program Information</h3>
            <ul class="fsa-footer__list">
              <li class="fsa-footer__list-item"><a class="HINT" href="about.html" target="_blank">About <abbr title="Posted County Prices">PCP</abbr></a></li>
              <li class="fsa-footer__list-item"><a class="HINT" href="handbook.html" target="_blank"><abbr title="Posted County Prices">PCP</abbr> - Handbook 1</a></li>
            </ul>
          </div>
          <div class="fsa-grid__1/1 fsa-grid__1/3@m">
            <h3 class="fsa-footer__cat-header">Agency Guidelines</h3>
            <ul class="fsa-footer__list">
              <li class="fsa-footer__list-item"><a class="HINT" href="http://fsaintranet.sc.egov.usda.gov/fsa/FSAIntranet_newsroom.html" target="_blank">Publications</a></li>
              <li class="fsa-footer__list-item"><a class="HINT" href="http://fsaintranet.sc.egov.usda.gov/dam/handbooks/handbooks.asp	" target="_blank">Handbooks</a></li>
              <li class="fsa-footer__list-item"><a class="HINT" href="https://www.fsa.usda.gov/FSA/notices?area=home&subject=lare&topic=not&setflag=FROMURL&getData=NONE" target="_blank">Notices</a></li>
              <li class="fsa-footer__list-item"><a class="HINT" href="http://fsaintranet.sc.egov.usda.gov/dam/ffasforms/forms.html" target="_blank">FFAS Employee Forms</a></li>
              <li class="fsa-footer__list-item"><a class="HINT" href="https://inside.fsa.usda.gov/operations/ocio/software-release-transmittals/" target="_blank">Software Transmittals</a></li>
            </ul>
          </div>
          <div class="fsa-grid__1/1 fsa-grid__1/3@m">
            <h3 class="fsa-footer__cat-header">Resources</h3>
            <ul class="fsa-footer__list">
              <li class="fsa-footer__list-item"><a class="HINT" href="https://inside.fsa.usda.gov/" target="_blank">Inside FSA</a></li>
              <li class="fsa-footer__list-item"><a class="HINT" href="https://www.fsa.usda.gov/help/policies-and-links" target="_blank">Policies and Links</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="fsa-footer__secondary fsa-grid__1/1 fsa-grid__3/12@l">
        <ul class="fsa-footer__list fsa-footer__secondary-list">
          <li class="fsa-footer__list-item fsa-footer__secondary-list-item">
            <a class="fsa-btn fsa-footer__btn" href="link.html" target="_blank">Contact Us</a>
          </li>
          <li class="fsa-footer__list-item fsa-footer__secondary-list-item"><a href="tel:+8005551234" target="_blank">1-800-555-1234</a></li>
          <li class="fsa-footer__list-item fsa-footer__secondary-list-item"><a class="HINT" href="http://www.fsa.usda.gov/" target="_blank">FSA Website</a></li>
          <li class="fsa-footer__list-item fsa-footer__secondary-list-item"><a class="HINT" href="http://www.usda.gov/" target="_blank">USDA Website</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="fsa-screen-id">
  <div class="fsa-screen-id__bd">
    <dl class="fsa-screen-id__dl">
      <dt class="fsa-screen-id__dt">Screen ID</dt>
      <dd class="fsa-screen-id__dd">ABC-XYZ-123</dd>
    </dl>
  </div>
</div>
