<div class="fsa-growl fsa-growl--error fsa-growl--centered" id="{{ID}}" aria-hidden="false">
  <div class="fsa-growl__hd">
    <button class="fsa-growl__close" data-behavior="growl-dismiss whiteout-dismiss" type="button"><img class="fsa-growl__close-icon" src="img/close.svg" alt="close"></button>
    <h2 class="fsa-growl__title">Error</h2>
  </div>
  <div class="fsa-growl__bd">
    <p>Something really bad happened, and you can only interact with this Growl Notification. For example, try again or <a href="#fake-link" data-behavior="growl-dismiss whiteout-dismiss">close this Growl Notification</a>.</p>
    <p>
      <button data-behavior="growl-dismiss whiteout-dismiss" class="fsa-btn fsa-btn--small fsa-btn--secondary" type="button">OK</button>
    </p>
  </div>
</div>
