<h3>General</h3>
<div class="fsa-growl">
  <div class="fsa-growl__hd">
    <button class="fsa-growl__close" data-behavior="growl-dismiss" type="button"><img class="fsa-growl__close-icon" src="img/close.svg" alt="close"></button>
    <h2 class="fsa-growl__title">Something happened</h2>
  </div>
  <div class="fsa-growl__bd">
    <p>You're probably just fine.</p>
    <p>
      <button data-behavior="growl-dismiss" class="fsa-btn fsa-btn--small fsa-btn--secondary" type="button">OK</button>
    </p>
  </div>
</div>
<h3>Positive</h3>
<div class="fsa-growl fsa-growl--success">
  <div class="fsa-growl__hd">
    <button class="fsa-growl__close" data-behavior="growl-dismiss" type="button"><img class="fsa-growl__close-icon" src="img/close.svg" alt="close"></button>
    <h2 class="fsa-growl__title">Growl title</h2>
  </div>
  <div class="fsa-growl__bd">
    <p>Message goes here if you like or something, <a href="link.html">with a link</a> if necessary.</p>
    <p>And another line here for kicks.</p>
    <p>
      <button data-behavior="growl-dismiss" class="fsa-btn fsa-btn--small fsa-btn--secondary" type="button">Button</button>
      <a class="fsa-btn fsa-btn--small fsa-btn--secondary" href="link.html">Button link</a>
    </p>
  </div>
</div>
<h3>Warning</h3>
<div class="fsa-growl fsa-growl--warning">
  <div class="fsa-growl__hd">
    <button class="fsa-growl__close" data-behavior="growl-dismiss" type="button"><img class="fsa-growl__close-icon" src="img/close.svg" alt="close"></button>
    <h2 class="fsa-growl__title">Growl title</h2>
  </div>
  <div class="fsa-growl__bd">
    <p>Message goes here if you like or something, <a href="link.html">with a link</a> if necessary.</p>
    <p>And another line here for kicks.</p>
    <p>
      <button data-behavior="growl-dismiss" class="fsa-btn fsa-btn--small fsa-btn--secondary" type="button">Button</button>
      <a class="fsa-btn fsa-btn--small fsa-btn--secondary" href="link.html">Button link</a>
    </p>
  </div>
</div>
<h3>Error</h3>
<div class="fsa-growl fsa-growl--error">
  <div class="fsa-growl__hd">
    <button class="fsa-growl__close" data-behavior="growl-dismiss" type="button"><img class="fsa-growl__close-icon" src="img/close.svg" alt="close"></button>
    <h2 class="fsa-growl__title">Growl title</h2>
  </div>
  <div class="fsa-growl__bd">
    <p>Message goes here if you like or something, <a href="link.html">with a link</a> if necessary.</p>
    <p>And another line here for kicks.</p>
    <p>
      <button data-behavior="growl-dismiss" class="fsa-btn fsa-btn--small fsa-btn--secondary" type="button">Button</button>
      <a class="fsa-btn fsa-btn--small fsa-btn--secondary" href="link.html">Button link</a>
    </p>
  </div>
</div>
