<div data-component="modified-form-target" tabindex="0" id="UNIQUE-ID-ss551s5s4gf" class="pcp-modal pcp-modal--top pcp-modal--large" role="dialog" aria-hidden="true" data-component="modified-form-target">
  <div class="pcp-modal__dialog">
    <div class="pcp-modal__content">
      <button class="pcp-modal__close" data-behavior="close-modal"><img class="pcp-modal__close-icon" src="img/close.svg" alt="close"></button>
      <h1 class="pcp-modal__title">Rice</h1>
      {% include: 'includes/pcp-content-tabs__price-discovery__rice.html' %}
      <p>
        <button disabled="disabled" type="reset" class="fsa-btn fsa-btn--alt fsa-btn--small" data-behavior="growl-show whiteout-show button-to-disable" data-target="unique-id-556847000om">Reset</button>
      </p>
      <div class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION">
        <div id="UNIQUE-ID-sasdfhshh3hw7" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM--ACTIVE">
          <textarea style='font-family: "Bitstream Vera Sans Mono", "Consolas", "Menlo", "Monaco", "Courier New", "Courier", monospace;' rows="20" class="fsa-textarea" name="UNIQUE-ID-99S99SHhjs" id="UNIQUE-ID-99S99SHhjs" placeholder="Placeholder">{% include: 'includes/rice-markets__080917.txt' %}</textarea>
        </div>
        <div id="UNIQUE-ID-sasdfh46j9ow7" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
          (LDP)
        </div>
      </div>
    </div>
  </div>
</div>
