<div class="pcp-popover pcp-popover--br pcp-popover--size-medium" id="popover-notifications">
  <button class="pcp-popover__close" data-behavior="popover-dismiss" type="button"><img class="pcp-popover__close-icon" src="img/close.svg" alt="close"></button>
  <div class="pcp-popover__content">
    <div class="pcp-popover__hd">
      <h2 class="pcp-popover__title">Messages</h2>
    </div>
    <div class="pcp-popover__bd">
      <ul class="fsa-list--unstyled">
        <li>message 1</li>
        <li>message 2</li>
        <li>message 3</li>
        <li>message 4</li>
        <li>message 5</li>
      </ul>
    </div>
    <div class="pcp-popover__hd">
      <h2 class="pcp-popover__title">Activity</h2>
    </div>
    <div class="pcp-popover__bd">
      <ul class="fsa-list--unstyled">
        <li>activity 1</li>
        <li>activity 2</li>
        <li>activity 3</li>
        <li>activity 4</li>
        <li>activity 5</li>
      </ul>
    </div>
  </div>
</div>
