<div class="pcp-card">
  <div class="pcp-card__hd">
    <h2 class="pcp-card__title">Hard Red Winter Wheat</h2>
  </div>
  <div class="pcp-card__bd">
    <p class="pcp-card__status">
      <button type="button" onclick="alert('Zoom map to view all *HIGH RANGE* rift markers');" class="fsa-badge HINT fsa-badge--alert" title="High">3</button>
      <button type="button" onclick="alert('Zoom map to view all *LOW RANGE* rift markers');" class="fsa-badge HINT fsa-badge--warning" title="Low">2</button>
      <button type="button" onclick="alert('Zoom map to view all *NORMAL RANGE* rift markers');" class="fsa-badge HINT" title="Normal">1</button>
    </p>
    <div class="fsa-grid">
      <div class="fsa-grid__1/1 fsa-grid__1/3@m">
        <button type="button" class="fsa-btn fsa-btn--small fsa-btn--secondary HINT" data-behavior="growl-show whiteout-show" data-target="unique-id-556847000om" id="unique-id-RESET-3245345">Reset</button>
      </div>
      <div class="fsa-grid__1/1 fsa-grid__2/3@m">
        <div class="fsa-text-align--right">
          <input class="fsa-checkbox" id="UNIQUE-ID-44s5x6" type="checkbox" name="UNIQUE-ID-44s5x6" value="adjustment-completeness__hrw" data-behavior="mark-adj-complete toggle-finalize" data-reset-target="unique-id-RESET-3245345" data-save-target="unique-id-SAVE-3245345">
          <label for="UNIQUE-ID-44s5x6" class="HINT">Mark as Complete</label>
        </div>
      </div>
    </div>
  </div>
  <div class="pcp-card__ft"></div>
</div>
