<span class="pcp-file-upload" id="{{TARGET}}">
  <label class="pcp-file-upload__label" for="{{UPLOAD_ID}}">
    <input class="pcp-file-upload__input" data-behavior="attach-upload" data-target="{{TARGET}}__new" type="file" id="{{UPLOAD_ID}}">
    <span class="pcp-file-upload__btn fsa-btn fsa-btn--secondary {{STYLE_VARIATION}}">{{LABEL}}</span>
  </label>
  <span class="pcp-file-upload__result">
    <span class="pcp-file-upload__attachment" for="{{UPLOAD_ID}}">{{ATTACHMENT}}</span>
    <button class="fsa-btn fsa-btn--small fsa-btn--flat pcp-file-upload__clear" data-behavior="attach-upload__clear" data-target="{{TARGET}}__new">Clear</button>
  </span>
</span>
