<div class="pcp-adjust">
  <div class="pcp-adjust__hd">
    <h3 class="pcp-adjust__title">{{ title }}</h3>
  </div>
  <div class="pcp-adjust__bd">
    <table class="pcp-adjust__table">
      <thead>
        <tr>
          <th colspan="3" class="pcp-adjust__th pcp-adjust__th--first" scope="col" title="State">State</th>
          <th colspan="2" class="pcp-adjust__th" scope="col" title="Market">Mkt</th>
          <th colspan="3" class="pcp-adjust__th pcp-adjust__th--bisect" scope="col" title="Change">Chg</th>
          <th colspan="4" class="pcp-adjust__th pcp-adjust__th--last pcp-adjust__th--adj" scope="col" title="Adjustment">Adjust</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--first"><abbr title="Kansas">KS</abbr></td>
          <td colspan="2" class="pcp-adjust__td"><abbr title="Gulf">GLF</abbr></td>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--bisect">0.01</td>
          <td colspan="4" class="pcp-adjust__td pcp-adjust__td--last pcp-adjust__td--adj pcp-adjust__td--editable">{% include: 'includes/spinbox.html' @ID:'lorem-ipsum-amount__55sefj9fa' @VALUE:'0.00' @STEP:'0.01' @CLASS:'pcp-adjust__spinbox' %}</td>
        </tr>
        <tr>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--first"><abbr title="Oklahoma">OK</abbr></td>
          <td colspan="2" class="pcp-adjust__td"><abbr title="Gulf">GLF</abbr></td>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--bisect">0.01</td>
          <td colspan="4" class="pcp-adjust__td pcp-adjust__td--last pcp-adjust__td--adj pcp-adjust__td--editable">{% include: 'includes/spinbox.html' @ID:'lorem-ipsum-amount__5shod21a' @VALUE:'0.00' @STEP:'0.01' @CLASS:'pcp-adjust__spinbox' %}</td>
        </tr>
        <tr>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--first"><abbr title="Colorado">CO</abbr></td>
          <td colspan="2" class="pcp-adjust__td"><abbr title="Gulf">GLF</abbr></td>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--bisect">-0.01</td>
          <td colspan="4" class="pcp-adjust__td pcp-adjust__td--last pcp-adjust__td--adj pcp-adjust__td--editable">{% include: 'includes/spinbox.html' @ID:'lorem-ipsum-amount__5sssthi9' @VALUE:'0.00' @STEP:'0.01' @CLASS:'pcp-adjust__spinbox' %}</td>
        </tr>
        <tr>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--first"><abbr title="Nebraska">NE</abbr></td>
          <td colspan="2" class="pcp-adjust__td"><abbr title="Gulf">GLF</abbr></td>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--bisect">0.02</td>
          <td colspan="4" class="pcp-adjust__td pcp-adjust__td--last pcp-adjust__td--adj pcp-adjust__td--editable">{% include: 'includes/spinbox.html' @ID:'lorem-ipsum-amount__5ss66h' @VALUE:'0.00' @STEP:'0.01' @CLASS:'pcp-adjust__spinbox' %}</td>
        </tr>
        <tr>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--first"><abbr title="South Dakota">SD</abbr></td>
          <td colspan="2" class="pcp-adjust__td"><abbr title="Gulf">GLF</abbr></td>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--bisect">0.00</td>
          <td colspan="4" class="pcp-adjust__td pcp-adjust__td--last pcp-adjust__td--adj pcp-adjust__td--editable">{% include: 'includes/spinbox.html' @ID:'lorem-ipsum-amount__5sssssh' @VALUE:'0.00' @STEP:'0.01' @CLASS:'pcp-adjust__spinbox' %}</td>
        </tr>
        <tr>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--first"><abbr title="California">CA</abbr></td>
          <td colspan="2" class="pcp-adjust__td"><abbr title="Gulf">GLF</abbr></td>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--bisect">0.07</td>
          <td colspan="4" class="pcp-adjust__td pcp-adjust__td--last pcp-adjust__td--adj pcp-adjust__td--editable">{% include: 'includes/spinbox.html' @ID:'lorem-ipsum-amount__5s553fdgsh' @VALUE:'0.00' @STEP:'0.01' @CLASS:'pcp-adjust__spinbox' %}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pcp-adjust__ft"></div>
</div>
