<div data-component="modified-form-target" tabindex="0" id="UNIQUE-ID-jjdfgj456788w37" class="fsa-modal fsa-modal--fullscreen" role="dialog" aria-hidden="true" data-component="modified-form-target">
  <div class="fsa-modal__dialog">
    <div class="fsa-modal__content">
      <button class="fsa-modal__close" data-behavior="close-modal"><img class="fsa-modal__close-icon" src="img/close.svg" alt="close"></button>
      <h1 class="fsa-modal__title">
        GLF - Gulf of Mexico Ports
        <span class="fsa-label fsa-label--success" title="This program has been worked on and has been marked as complete">Complete</span>
      </h1>
      {% include: 'includes/mark-as-complete.html' @ID:'discovery-complete__pnw' @STATUS:'checked disabled' @BEHAVIOR:' ' %}
      <div data-complete-target>
        {% include: 'includes/program-entry__glf.html' %}
      </div>
    </div>
  </div>
</div>
