<div class="pcp-adjust">
  <div class="pcp-adjust__hd">
    <h3 class="pcp-adjust__title">{{ title }}</h3>
    <span class="pcp-adjust__options">
      <button data-behavior="open-modal" data-target="UNIQUE-ID-772634736t" class="fsa-btn fsa-btn--small fsa-btn--flat HINT" type="button">Edit</button>
    </span>
  </div>
  <div class="pcp-adjust__bd">
    <div class="pcp-adjust__empty">
      <h4 class="pcp-adjust__empty-title"><abbr title="Hard Red Winter">HRW</abbr> has no State Adjustments</h4>
      <p class="pcp-adjust__empty-action">
        <button data-behavior="open-modal" data-target="UNIQUE-ID-772634736t" class="fsa-btn fsa-btn--small fsa-btn--secondary pcp-adjust__btn HINT" type="button">Add some</button>
      </p>
    </div>
  </div>
  <div class="pcp-adjust__ft"></div>
</div>
