<div class="pcp-popover pcp-popover--size-small pcp-popover--lt" id="popover-tools__legend">
  <button class="pcp-popover__close" data-behavior="popover-dismiss" type="button"><img class="pcp-popover__close-icon" src="img/close.svg" alt="close"></button>
  <div class="pcp-popover__content">
    <div class="pcp-popover__content-group">
      <div class="pcp-popover__hd">
        <h2 class="pcp-popover__title">Market Regions</h2>
      </div>
      <div class="pcp-popover__bd">
        <div class="pcp-legend">
          <ul class="pcp-legend__list">
            <li class="pcp-legend__item">
              <div class="pcp-legend__preview">
                <div class="pcp-legend__thumb" style="background-color:#bacdc1;"></div>
              </div>
              <div class="pcp-legend__label"><abbr title="AMA">Amarillo</abbr></div>
            </li>
            <li class="pcp-legend__item">
              <div class="pcp-legend__preview">
                <div class="pcp-legend__thumb" style="background-color:#a9d9ed;"></div>
              </div>
              <div class="pcp-legend__label"><abbr title="GLF">Gulf</abbr></div>
            </li>
            <li class="pcp-legend__item">
              <div class="pcp-legend__preview">
                <div class="pcp-legend__thumb" style="background-color:#cfd5dc;"></div>
              </div>
              <div class="pcp-legend__label"><abbr title="GLF">Gulf</abbr> / <abbr title="KCM">Kansas City Markets</abbr></div>
            </li>
            <li class="pcp-legend__item">
              <div class="pcp-legend__preview">
                <div class="pcp-legend__thumb" style="background-color:#e9c3c6;"></div>
              </div>
              <div class="pcp-legend__label"><abbr title="KCM">Kansas City Markets</abbr></div>
            </li>
            <li class="pcp-legend__item">
              <div class="pcp-legend__preview">
                <div class="pcp-legend__thumb" style="background-color:#d8d4e6;"></div>
              </div>
              <div class="pcp-legend__label"><abbr title="MIN">Minnesota</abbr> / <abbr title="PNW">Pacific Northwest</abbr></div>
            </li>
            <li class="pcp-legend__item">
              <div class="pcp-legend__preview">
                <div class="pcp-legend__thumb" style="background-color:#b1c2d7;"></div>
              </div>
              <div class="pcp-legend__label"><abbr title="PNW">Pacific Northwest</abbr></div>
            </li>
            <li class="pcp-legend__item">
              <div class="pcp-legend__preview">
                <div class="pcp-legend__thumb" style="background-color:#b8B2d1;"></div>
              </div>
              <div class="pcp-legend__label"><abbr title="CCC">California Central Coast</abbr></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="pcp-popover__content-group">
      <div class="pcp-popover__hd">
        <h2 class="pcp-popover__title"><abbr title="SPELL_IT_OUT">LDP</abbr> Rates</h2>
      </div>
      <div class="pcp-popover__bd">
        <div class="pcp-legend">
          <ul class="pcp-legend__list">
            <li class="pcp-legend__item">
              <div class="pcp-legend__preview">
                <div class="pcp-legend__thumb" style="background-color:rgba(253, 184, 30, .85);"></div>
              </div>
              <div class="pcp-legend__label">More than -0.50</div>
            </li>
            <li class="pcp-legend__item">
              <div class="pcp-legend__preview">
                <div class="pcp-legend__thumb" style="background-color:rgba(253, 184, 30, .7);"></div>
              </div>
              <div class="pcp-legend__label">More than -0.40</div>
            </li>
            <li class="pcp-legend__item">
              <div class="pcp-legend__preview">
                <div class="pcp-legend__thumb" style="background-color:rgba(253, 184, 30, .55);"></div>
              </div>
              <div class="pcp-legend__label">More than -0.30</div>
            </li>
            <li class="pcp-legend__item">
              <div class="pcp-legend__preview">
                <div class="pcp-legend__thumb" style="background-color:rgba(253, 184, 30, .35);"></div>
              </div>
              <div class="pcp-legend__label">More than -0.20</div>
            </li>
            <li class="pcp-legend__item">
              <div class="pcp-legend__preview">
                <div class="pcp-legend__thumb" style="background-color:rgba(253, 184, 30, .2);"></div>
              </div>
              <div class="pcp-legend__label">More than -0.10</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="pcp-popover__content-group">
      <div class="pcp-popover__hd">
        <h2 class="pcp-popover__title">[category]</h2>
      </div>
      <div class="pcp-popover__bd">
        <div class="pcp-legend">
          <ul class="pcp-legend__list">
            <li class="pcp-legend__item">
              <div class="pcp-legend__preview">
                <div class="pcp-legend__thumb" style="background-color:#bacdc1;"></div>
              </div>
              <div class="pcp-legend__label">[thing]</div>
            </li>
            <li class="pcp-legend__item">
              <div class="pcp-legend__preview">
                <div class="pcp-legend__thumb" style="background-color:#a9d9ed;"></div>
              </div>
              <div class="pcp-legend__label">[thing]</div>
            </li>
            <li class="pcp-legend__item">
              <div class="pcp-legend__preview">
                <div class="pcp-legend__thumb" style="background-color:#cfd5dc;"></div>
              </div>
              <div class="pcp-legend__label">[thing]</div>
            </li>
            <li class="pcp-legend__item">
              <div class="pcp-legend__preview">
                <div class="pcp-legend__thumb" style="background-color:#e9c3c6;"></div>
              </div>
              <div class="pcp-legend__label">[thing]</div>
            </li>
            <li class="pcp-legend__item">
              <div class="pcp-legend__preview">
                <div class="pcp-legend__thumb" style="background-color:#d8d4e6;"></div>
              </div>
              <div class="pcp-legend__label">[thing]</div>
            </li>
            <li class="pcp-legend__item">
              <div class="pcp-legend__preview">
                <div class="pcp-legend__thumb" style="background-color:#b1c2d7;"></div>
              </div>
              <div class="pcp-legend__label">[thing]</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="pcp-popover__content-group">
      <div class="pcp-popover__hd">
        <h2 class="pcp-popover__title">[category]</h2>
      </div>
      <div class="pcp-popover__bd">
        <div class="pcp-legend">
          <ul class="pcp-legend__list">
            <li class="pcp-legend__item">
              <div class="pcp-legend__preview">
                <div class="pcp-legend__thumb" style="background-color:#a9d9ed;"></div>
              </div>
              <div class="pcp-legend__label">[thing]</div>
            </li>
            <li class="pcp-legend__item">
              <div class="pcp-legend__preview">
                <div class="pcp-legend__thumb" style="background-color:#e9c3c6;"></div>
              </div>
              <div class="pcp-legend__label">[thing]</div>
            </li>
            <li class="pcp-legend__item">
              <div class="pcp-legend__preview">
                <div class="pcp-legend__thumb" style="background-color:#b1c2d7;"></div>
              </div>
              <div class="pcp-legend__label">[thing]</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
