<div tabindex="0" id="STEPPED-CONTROL-MODAL-VARIATION-2" class="fsa-modal fsa-modal--top" role="dialog" aria-hidden="true">
  <div class="fsa-modal__dialog">
    <div class="fsa-modal__content">
      <button class="fsa-modal__close" data-behavior="close-modal"><img class="fsa-modal__close-icon" src="img/close.svg" alt="close"></button>
      <h1 class="fsa-modal__title">Modal Title</h1>
      <p>Voluptas vel, excepturi! Quo, veritatis. Aliquam voluptate, aut voluptates neque, repellat, dolore autem provident, deserunt ducimus quibusdam similique dolorum facilis. Quis, ducimus.</p>
      <p>Cupiditate, nemo illo. Rerum dolor suscipit, doloribus nam unde, nostrum quod voluptatum, amet nulla molestias debitis, officia asperiores temporibus aliquid! Ipsum, at.</p>
      <p>Maxime repellat expedita, rem, sapiente, debitis consectetur placeat dolorum deleniti delectus tenetur commodi? Optio, sequi. Fugiat, hic incidunt, vitae aspernatur voluptates molestiae?</p>
      <p>Voluptas vel, excepturi! Quo, veritatis. Aliquam voluptate, aut voluptates neque, repellat, dolore autem provident, deserunt ducimus quibusdam similique dolorum facilis. Quis, ducimus.</p>
      <p>Cupiditate, nemo illo. Rerum dolor suscipit, doloribus nam unde, nostrum quod voluptatum, amet nulla molestias debitis, officia asperiores temporibus aliquid! Ipsum, at.</p>
      <p>Maxime repellat expedita, rem, sapiente, debitis consectetur placeat dolorum deleniti delectus tenetur commodi? Optio, sequi. Fugiat, hic incidunt, vitae aspernatur voluptates molestiae?</p>
      <div class="fsa-stepped-control fsa-stepped-control--modal fsa-stepped-control--sticky">
        <div class="fsa-stepped-control__bd">
          <div class="fsa-stepped-control__list">
            <div class="fsa-stepped-control__item fsa-stepped-control__item--pull">
              <button class="fsa-btn fsa-btn--secondary fsa-stepped-control__btn" type="button">{{ regressive }}</button>
            </div>
            <div class="fsa-stepped-control__item">
              <button class="fsa-btn fsa-btn--primary fsa-stepped-control__btn" type="submit">
                <span class="fsa-stepped-control__btn-label">{{ progressive }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
