<div class="pcp-global-access">
  <ul class="pcp-global-access__list">
    <li class="pcp-global-access__list-item">
      <button data-behavior="toggle-popover" data-target="popover-notifications" type="button" title="Notifications" class="pcp-icon-TEMP">Notifications</button>
      {% include: 'includes/pcp-popover.notifications.html' %}
    </li>
    <li class="pcp-global-access__list-item">
      <button data-behavior="toggle-popover" data-target="popover-settings" type="button" title="Settings" class="pcp-icon-TEMP">Settings</button>
      {% include: 'includes/pcp-popover.settings.html' %}
    </li>
    <li class="pcp-global-access__list-item">
      <button data-behavior="toggle-popover" data-target="popover-profile" type="button" title="Profile" class="pcp-icon-TEMP">Profile</button>
      {% include: 'includes/pcp-popover.profile.html' %}
    </li>
  </ul>
</div>
