<div class="pcp-global-access">
  <ul class="pcp-global-access__list">
    <li class="pcp-global-access__list-item">
      <button type="button" title="Notifications" class="pcp-icon-TEMP">Notifications</button>
      {% include: 'includes/pcp-popover.html' %}
    </li>
    <li class="pcp-global-access__list-item">
      <button type="button" title="Settings" class="pcp-icon-TEMP">Settings</button>
      <!-- {% include: 'includes/pcp-popover.html' %} -->
    </li>
    <li class="pcp-global-access__list-item">
      <button type="button" title="Profile" class="pcp-icon-TEMP">Profile</button>
      <!-- {% include: 'includes/pcp-popover.html' %} -->
    </li>
  </ul>
</div>
