<div class="pcp-adjust">
  <div class="pcp-adjust__hd">
    <h3 class="pcp-adjust__title">{{ title }}</h3>
  </div>
  <div class="pcp-adjust__bd">
    <table class="pcp-adjust__table">
      <thead>
        <tr>
          <th colspan="4" class="pcp-adjust__th pcp-adjust__th--first pcp-adjust__th--bisect" scope="col" title="Market">MKT</th>
          <th colspan="6" class="pcp-adjust__th pcp-adjust__th--adj" scope="col">Amber</th>
          <th colspan="3" class="pcp-adjust__th pcp-adjust__th--number pcp-adjust__th--adj pcp-adjust__th--bisect" scope="col" title="Change">Chg</th>
          <th colspan="6" class="pcp-adjust__th pcp-adjust__th--adj" scope="col">Durum</th>
          <th colspan="3" class="pcp-adjust__th pcp-adjust__th--number pcp-adjust__th--last pcp-adjust__th--adj" scope="col" title="Change">Chg</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4" class="pcp-adjust__td pcp-adjust__td--first pcp-adjust__td--bisect"><abbr title="Minnesota">MIN</abbr></td>
          <td colspan="6" class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--editable">{% include: 'includes/spinbox.html' @ID:'lorem-ipsum-amount__gghgj4' @VALUE:'-0.99' @STEP:'0.01' @CLASS:'pcp-adjust__spinbox' %}</td>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--number pcp-adjust__td--bisect"><span class="pcp-adjust__change-value"></span></td>
          <td colspan="6" class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--editable">{% include: 'includes/spinbox.html' @ID:'lorem-ipsum-amount__hywy55' @VALUE:'-1.08' @STEP:'0.01' @CLASS:'pcp-adjust__spinbox' %}</td>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--number pcp-adjust__td--last pcp-adjust__td--bisect"><span class="pcp-adjust__change-value">-0.01</span></td>
        </tr>
        <tr>
          <td colspan="4" class="pcp-adjust__td pcp-adjust__td--first pcp-adjust__td--bisect"><abbr title="Pacific Northwest">PNW</abbr></td>
          <td colspan="6" class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--editable">{% include: 'includes/spinbox.html' @ID:'lorem-ipsum-amount__ggtyuityuo22a' @VALUE:'-1.00' @STEP:'0.01' @CLASS:'pcp-adjust__spinbox' %}</td>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--number pcp-adjust__td--bisect"><span class="pcp-adjust__change-value">-0.01</span></td>
          <td colspan="6" class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--editable">{% include: 'includes/spinbox.html' @ID:'lorem-ipsum-amount__wwwerqwerqwer' @VALUE:'-2.00' @STEP:'0.01' @CLASS:'pcp-adjust__spinbox' %}</td>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--number pcp-adjust__td--last pcp-adjust__td--bisect"><span class="pcp-adjust__change-value">-0.01</span></td>
        </tr>
        <tr>
          <td colspan="4" class="pcp-adjust__td pcp-adjust__td--first pcp-adjust__td--bisect"><abbr title="laurence Olivier Solarieto">LOS</abbr></td>
          <td colspan="6" class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--editable">{% include: 'includes/spinbox.html' @ID:'lorem-ipsum-amount__555ttt55663' @VALUE:'-1.00' @STEP:'0.01' @CLASS:'pcp-adjust__spinbox' %}</td>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--number pcp-adjust__td--bisect"><span class="pcp-adjust__change-value">-0.02</span></td>
          <td colspan="6" class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--editable">{% include: 'includes/spinbox.html' @ID:'lorem-ipsum-amount__002125s66sd' @VALUE:'-1.30' @STEP:'0.01' @CLASS:'pcp-adjust__spinbox' %}</td>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--number pcp-adjust__td--last pcp-adjust__td--bisect"><span class="pcp-adjust__change-value"></span></td>
        </tr>
        <tr>
          <td colspan="4" class="pcp-adjust__td pcp-adjust__td--first pcp-adjust__td--bisect"><abbr title="Whatchadoin">WCD</abbr></td>
          <td colspan="6" class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--editable">{% include: 'includes/spinbox.html' @ID:'lorem-ipsum-amount__gjiyoorj7' @VALUE:'0.70' @STEP:'0.01' @CLASS:'pcp-adjust__spinbox' %}</td>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--number pcp-adjust__td--bisect"><span class="pcp-adjust__change-value"></span></td>
          <td colspan="6" class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--editable">{% include: 'includes/spinbox.html' @ID:'lorem-ipsum-amount__8h85t5575' @VALUE:'-8.00' @STEP:'0.01' @CLASS:'pcp-adjust__spinbox' %}</td>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--number pcp-adjust__td--last pcp-adjust__td--bisect"><span class="pcp-adjust__change-value">-8.02</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pcp-adjust__ft"></div>
</div>
