<div data-component="modified-form-target" tabindex="0" id="UNIQUE-ID-415s5s4g5s4gf" class="pcp-modal pcp-modal--top pcp-modal--large" role="dialog" aria-hidden="true" data-component="modified-form-target">
  <div class="pcp-modal__dialog">
    <div class="pcp-modal__content">
      <button class="pcp-modal__close" data-behavior="close-modal"><img class="pcp-modal__close-icon" src="img/close.svg" alt="close"></button>
      <h1 class="pcp-modal__title">
        PNW - Pacific Northwest
        <span class="fsa-label fsa-label--success" title="This program has been worked on and has been marked as complete">Complete</span>
      </h1>
      {% include: 'includes/pcp-content-tabs__price-discovery__pnw__marked.html' %}
      <div data-complete-target>
        <p>
          <!-- <button disabled="disabled" type="button" class="fsa-btn fsa-btn--primary fsa-btn--small" data-behavior="growl-show growl-dismiss-delay button-to-disable" data-target="unique-id-55s55h55from">Save</button> -->
          <button disabled="disabled" type="reset" class="fsa-btn fsa-btn--alt fsa-btn--small HINT" data-behavior="growl-show whiteout-show button-to-disable" data-target="unique-id-556847000om">Reset</button>
        </p>
        <div class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION">
          <div id="UNIQUE-ID-shshh3hw7" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM--ACTIVE">
            {% include: 'includes/program-entry__pnw__marked.html' %}
          </div>
          <div id="UNIQUE-ID-sh46j9ow7" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
            {% include: 'includes/program-entry__pnw-proteins__marked.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
