<div class="pcp-stepped-tabs">
  <div class="pcp-stepped-tabs__bd">
    <ol class="pcp-stepped-tabs__list">
      <li class="pcp-stepped-tabs__item">
        <a class="pcp-stepped-tabs__label pcp-stepped-tabs__label--complete" href="link.html">
          {% include: 'includes/icon.html' @NAME:'checkmark' @SIZE:' ' @CLASS:'pcp-stepped-tabs__icon' %}
          <span class="pcp-stepped-tabs__text">Step 1</span>
        </a>
      </li>
      <li class="pcp-stepped-tabs__item">
        <a class="pcp-stepped-tabs__label pcp-stepped-tabs__label--complete" href="link.html">
          {% include: 'includes/icon.html' @NAME:'checkmark' @SIZE:' ' @CLASS:'pcp-stepped-tabs__icon' %}
          <span class="pcp-stepped-tabs__text">Step 2</span>
        </a>
      </li>
      <li class="pcp-stepped-tabs__item">
        <a class="pcp-stepped-tabs__label pcp-stepped-tabs__label--active" href="link.html">
          {% include: 'includes/icon.html' @NAME:'contrast' @SIZE:' ' @CLASS:'pcp-stepped-tabs__icon' %}
          <span class="pcp-stepped-tabs__text">Step 3</span>
        </a>
      </li>
      <li class="pcp-stepped-tabs__item">
        <span class="pcp-stepped-tabs__label pcp-stepped-tabs__label--incomplete">
          {% include: 'includes/icon.html' @NAME:'radio-unchecked' @SIZE:' ' @CLASS:'pcp-stepped-tabs__icon' %}
          <span class="pcp-stepped-tabs__text">Step 4</span>
        </span>
      </li>
    </ol>
  </div>
</div>
