<div class="pcp-adjust">
  <div class="pcp-adjust__hd">
    <h3 class="pcp-adjust__title">{{ title }}</h3>
  </div>
  <div class="pcp-adjust__bd">
    <table class="pcp-adjust__table">
      <thead>
        <tr>
          <th colspan="3" class="pcp-adjust__th pcp-adjust__th--first" scope="col" title="Market">Mkt</th>
          <th colspan="3" class="pcp-adjust__th" scope="col" title="Flat Price">Price</th>
          <th colspan="3" class="pcp-adjust__th pcp-adjust__th--bisect" scope="col" title="Market Change">Chg</th>
          <th colspan="6" class="pcp-adjust__th pcp-adjust__th--adj" scope="col" title="Adjustment">Adjust</th>
          <th colspan="3" class="pcp-adjust__th pcp-adjust__th--last pcp-adjust__th--adj" scope="col" title="Change">Chg</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--first"><abbr title="Amarillo, TX">AMA</abbr></td>
          <td colspan="3" class="pcp-adjust__td">3.13</td>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--bisect">-0.01</td>
          <td colspan="6" class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--editable">{% include: 'includes/spinbox.html' @ID:'lorem-ipsum-amount__55s5g89s5sssa' @VALUE:'-0.07' @STEP:'0.01' @CLASS:'pcp-adjust__spinbox' %}</td>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--last pcp-adjust__td--adj pcp-adjust__td--editable">0.00</td>
        </tr>
        <tr>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--first"><abbr title="Kansas City Market">KCM</abbr></td>
          <td colspan="3" class="pcp-adjust__td">4.49</td>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--bisect">0.01</td>
          <td colspan="6" class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--editable">{% include: 'includes/spinbox.html' @ID:'lorem-ipsum-amount__55s5ssgsaa' @VALUE:'-1.06' @STEP:'0.01' @CLASS:'pcp-adjust__spinbox' %}</td>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--last pcp-adjust__td--adj pcp-adjust__td--editable">0.00</td>
        </tr>
        <tr>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--first"><abbr title="Gulf">GLF</abbr></td>
          <td colspan="3" class="pcp-adjust__td">4.63</td>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--bisect">0.00</td>
          <td colspan="6" class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--editable">{% include: 'includes/spinbox.html' @ID:'lorem-ipsum-amount__55s5hh7jaa' @VALUE:'-0.73' @STEP:'0.01' @CLASS:'pcp-adjust__spinbox' %}</td>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--last pcp-adjust__td--adj pcp-adjust__td--editable">0.00</td>
        </tr>
        <tr>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--first"><abbr title="Minnesota">MIN</abbr></td>
          <td colspan="3" class="pcp-adjust__td">4.18</td>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--bisect">-0.02</td>
          <td colspan="6" class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--editable">{% include: 'includes/spinbox.html' @ID:'lorem-ipsum-amount__555d5d63jaa' @VALUE:'-0.67' @STEP:'0.01' @CLASS:'pcp-adjust__spinbox' %}</td>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--last pcp-adjust__td--adj pcp-adjust__td--editable">0.00</td>
        </tr>
        <tr>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--first"><abbr title="Pacific Northwest">PWN</abbr></td>
          <td colspan="3" class="pcp-adjust__td">4.81</td>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--bisect">0.00</td>
          <td colspan="6" class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--editable">{% include: 'includes/spinbox.html' @ID:'lorem-ipsum-amount__sshggaai' @VALUE:'-1.00' @STEP:'0.01' @CLASS:'pcp-adjust__spinbox' %}</td>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--last pcp-adjust__td--adj pcp-adjust__td--editable">0.00</td>
        </tr>
        <tr>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--first"><abbr title="Pacific Northwest">WCD</abbr></td>
          <td colspan="3" class="pcp-adjust__td">4.84</td>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--bisect">0.04</td>
          <td colspan="6" class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--editable">{% include: 'includes/spinbox.html' @ID:'lorem-ipsum-amount__ssswsgsaai' @VALUE:'-1.28' @STEP:'0.01' @CLASS:'pcp-adjust__spinbox' %}</td>
          <td colspan="3" class="pcp-adjust__td pcp-adjust__td--last pcp-adjust__td--adj pcp-adjust__td--editable">0.00</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pcp-adjust__ft"></div>
</div>
