<div class="fsa-grid">
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'home' %} home </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'file-text2' %} file-text2 </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'stack' %} stack </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'pushpin' %} pushpin </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'printer' %} printer </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'user' %} user </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'spinner11' %} spinner11 </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'zoom-in' %} zoom-in </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'zoom-out' %} zoom-out </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'enlarge' %} enlarge </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'shrink' %} shrink </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'enlarge2' %} enlarge2 </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'shrink2' %} shrink2 </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'cog' %} cog </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'bin' %} bin </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'contrast' %} contrast </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'star-empty' %} star-empty </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'star-full' %} star-full </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'warning' %} warning </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'notification' %} notification </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'plus' %} plus </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'minus' %} minus </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'info' %} info </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'cancel-circle' %} cancel-circle </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'blocked' %} blocked </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'cross' %} cross </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'checkmark' %} checkmark </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'checkmark2' %} checkmark2 </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'backward2' %} backward2 </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'forward3' %} forward3 </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'loop2' %} loop2 </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'circle-up' %} circle-up </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'circle-right' %} circle-right </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'circle-down' %} circle-down </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'circle-left' %} circle-left </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'checkbox-checked' %} checkbox-checked </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'checkbox-unchecked' %} checkbox-unchecked </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'radio-checked' %} radio-checked </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'radio-checked2' %} radio-checked2 </p></div>
  <div class="fsa-grid__6/12 fsa-grid__3/12@m fsa-grid__2/12@l"><p>{% include: 'includes/icon.html' @NAME:'radio-unchecked' %} radio-unchecked </p></div>
</div>
