<div class="pcp-header">
  <div class="pcp-header__bd">
    <div class="pcp-header__prop">
      {% include: 'includes/pcp-brand.html' %}
    </div>
    <div class="pcp-header__options">
      <div style="position: relative;">
        <a data-behavior="toggle-popover" data-target="popover-profile" role="button" href="#profile-info" style="color: white; text-decoration: none;">
          Sam Malone <span style="font-size: 65%;">▼</span>
        </a>
        {% include: 'includes/pcp-popover.profile.html' %}
      </div>
    </div>
  </div>
</div>
