<div class="fsa-content-tabs fsa-content-tabs--justified">
  <ul class="fsa-content-tabs__list">
    <li class="fsa-content-tabs__item"><a class="fsa-content-tabs__label" href="#YC" title="Corn"><span class="fsa-content-tabs__label-text">YC</span></a></li>
    <li class="fsa-content-tabs__item"><a class="fsa-content-tabs__label" href="#YSB" title="Soybean"><span class="fsa-content-tabs__label-text">YSB</span></a></li>
    <li class="fsa-content-tabs__item"><a class="fsa-content-tabs__label" href="#SOR" title="Sorghum"><span class="fsa-content-tabs__label-text">SOR</span></a></li>
    <li class="fsa-content-tabs__item"><a class="fsa-content-tabs__label fsa-content-tabs__label--active fsa-content-tabs__label--unsaved" href="#HRW" title="Hard Red Winter Wheat" id="unique-id-SAVE-3245345"><span class="fsa-content-tabs__label-text">HRW</span></a></li>
    <li class="fsa-content-tabs__item"><a class="fsa-content-tabs__label" href="#SRW" title="Soft Red Winter Wheat"><span class="fsa-content-tabs__label-text">SRW</span></a></li>
    <li class="fsa-content-tabs__item"><a class="fsa-content-tabs__label" href="#WHI" title="Soft White Wheat"><span class="fsa-content-tabs__label-text">WHI</span></a></li>
    <li class="fsa-content-tabs__item"><a class="fsa-content-tabs__label" href="#HRS" title="Hard Red Spring Wheat"><span class="fsa-content-tabs__label-text">HRS</span></a></li>
    <li class="fsa-content-tabs__item"><a class="fsa-content-tabs__label" href="#HAD" title="Hard Amber Durum"><span class="fsa-content-tabs__label-text">HAD</span></a></li>
    <li class="fsa-content-tabs__item"><a class="fsa-content-tabs__label" href="#OAT" title="Oats"><span class="fsa-content-tabs__label-text">OAT</span></a></li>
    <li class="fsa-content-tabs__item"><a class="fsa-content-tabs__label" href="#BRL" title="Barley"><span class="fsa-content-tabs__label-text">BRL</span></a></li>
  </ul>
  <div class="fsa-content-tabs__aside"></div>
</div>
