<div class="pcp-stepped-tabs pcp-stepped-tabs--justified">
  <div class="pcp-stepped-tabs__bd">
    <ol class="pcp-stepped-tabs__list">
      <li class="pcp-stepped-tabs__item">
        <a class="pcp-stepped-tabs__label pcp-stepped-tabs__label--active" href="workflow.html" title="In Progress">
          {% include: 'includes/icon.html' @NAME:'contrast' @SIZE:' ' @CLASS:'pcp-stepped-tabs__icon' %}
          <span class="pcp-stepped-tabs__text">Initialize</span>
        </a>
      </li>
      <li class="pcp-stepped-tabs__item">
        <span class="pcp-stepped-tabs__label pcp-stepped-tabs__label--incomplete" title="Not Started" title="Not Started">
          {% include: 'includes/icon.html' @NAME:'radio-unchecked' @SIZE:' ' @CLASS:'pcp-stepped-tabs__icon' %}
          <span class="pcp-stepped-tabs__text">Price Discovery</span>
        </span>
      </li>
      <li class="pcp-stepped-tabs__item">
        <span class="pcp-stepped-tabs__label pcp-stepped-tabs__label--incomplete" title="Not Started">
          {% include: 'includes/icon.html' @NAME:'radio-unchecked' @SIZE:' ' @CLASS:'pcp-stepped-tabs__icon' %}
          <span class="pcp-stepped-tabs__text">Closing</span>
        </span>
      </li>
      <li class="pcp-stepped-tabs__item">
        <span class="pcp-stepped-tabs__label pcp-stepped-tabs__label--incomplete" title="Not Started">
          {% include: 'includes/icon.html' @NAME:'radio-unchecked' @SIZE:' ' @CLASS:'pcp-stepped-tabs__icon' %}
          <span class="pcp-stepped-tabs__text">Adjustments</span>
        </span>
      </li>
      <li class="pcp-stepped-tabs__item">
        <span class="pcp-stepped-tabs__label pcp-stepped-tabs__label--incomplete" title="Not Started">
          {% include: 'includes/icon.html' @NAME:'radio-unchecked' @SIZE:' ' @CLASS:'pcp-stepped-tabs__icon' %}
          <span class="pcp-stepped-tabs__text">Review</span>
        </span>
      </li>
      <li class="pcp-stepped-tabs__item">
        <span class="pcp-stepped-tabs__label pcp-stepped-tabs__label--incomplete" title="Not Started">
          {% include: 'includes/icon.html' @NAME:'radio-unchecked' @SIZE:' ' @CLASS:'pcp-stepped-tabs__icon' %}
          <span class="pcp-stepped-tabs__text">Publish</span>
        </span>
      </li>
    </ol>
  </div>
</div>
