<div class="fsa-content-tabs">
  <ul class="fsa-content-tabs__list">
    <li class="fsa-content-tabs__item"><a class="fsa-content-tabs__label" href="settings_commodities.html"><span class="fsa-content-tabs__label-text">Commodities and materials</span></a></li>
    <li class="fsa-content-tabs__item"><a class="fsa-content-tabs__label fsa-content-tabs__label--active" href="settings_markets.html"><span class="fsa-content-tabs__label-text">Markets with bunnies</span></a></li>
    <li class="fsa-content-tabs__item"><a class="fsa-content-tabs__label" href="settings_market-combos.html"><span class="fsa-content-tabs__label-text">Market Combos, Amalgams, & Aggregates</span></a></li>
    <li class="fsa-content-tabs__item"><a class="fsa-content-tabs__label" href="settings_roles.html"><span class="fsa-content-tabs__label-text">Roles and actors they portray</span></a></li>
    <li class="fsa-content-tabs__item"><a class="fsa-content-tabs__label" href="settings_permissions.html"><span class="fsa-content-tabs__label-text">Permissions and blah carte blanche</span></a></li>
  </ul>
  <div class="fsa-content-tabs__aside"></div>
</div>
