<table class="pcp-adjust__table">
  <thead>
    <tr>
      <th class="pcp-adjust__th pcp-adjust__th--first pcp-adjust__th--bisect" scope="col" title="Market">Market</th>
      <th class="pcp-adjust__th pcp-adjust__th--adj" scope="col">Amber</th>
      <th class="pcp-adjust__th pcp-adjust__th--number pcp-adjust__th--adj pcp-adjust__th--bisect" scope="col" title="Change">Change</th>
      <th class="pcp-adjust__th pcp-adjust__th--adj" scope="col">Durum</th>
      <th class="pcp-adjust__th pcp-adjust__th--number pcp-adjust__th--last pcp-adjust__th--adj" scope="col" title="Change">Change</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="pcp-adjust__td pcp-adjust__td--first pcp-adjust__td--bisect"><abbr title="Minnesota">MIN</abbr></td>
      <td class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--number">-0.99</td>
      <td class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--number pcp-adjust__td--bisect"><span class="pcp-adjust__change-value"></span></td>
      <td class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--number">-1.08</td>
      <td class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--number pcp-adjust__td--last"><span class="pcp-adjust__change-value">-0.01</span></td>
    </tr>
    <tr>
      <td class="pcp-adjust__td pcp-adjust__td--first pcp-adjust__td--bisect"><abbr title="Pacific Northwest">PNW</abbr></td>
      <td class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--number">-1.00</td>
      <td class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--number pcp-adjust__td--bisect"><span class="pcp-adjust__change-value">-0.01</span></td>
      <td class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--number">-2.00</td>
      <td class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--number pcp-adjust__td--last"><span class="pcp-adjust__change-value">-0.01</span></td>
    </tr>
    <tr>
      <td class="pcp-adjust__td pcp-adjust__td--first pcp-adjust__td--bisect"><abbr title="laurence Olivier Solarieto">LOS</abbr></td>
      <td class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--number">-1.00</td>
      <td class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--number pcp-adjust__td--bisect"><span class="pcp-adjust__change-value">-0.02</span></td>
      <td class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--number">-1.30</td>
      <td class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--number pcp-adjust__td--last"><span class="pcp-adjust__change-value"></span></td>
    </tr>
    <tr>
      <td class="pcp-adjust__td pcp-adjust__td--first pcp-adjust__td--bisect"><abbr title="Whatchadoin">WCD</abbr></td>
      <td class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--number">0.70</td>
      <td class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--number pcp-adjust__td--bisect"><span class="pcp-adjust__change-value"></span></td>
      <td class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--number">-8.00</td>
      <td class="pcp-adjust__td pcp-adjust__td--adj pcp-adjust__td--number pcp-adjust__td--last"><span class="pcp-adjust__change-value">-8.02</span></td>
    </tr>
  </tbody>
</table>
