<div data-component="modified-form-target" tabindex="0" id="UNIQUE-ID-ss551s5s4gf" class="pcp-modal pcp-modal--top pcp-modal--large" role="dialog" aria-hidden="true" data-component="modified-form-target">
  <div class="pcp-modal__dialog">
    <div class="pcp-modal__content">
      <button class="pcp-modal__close" data-behavior="close-modal"><img class="pcp-modal__close-icon" src="img/close.svg" alt="close"></button>
      <h1 class="pcp-modal__title">Rice</h1>
      {% include: 'includes/pcp-content-tabs__price-discovery__rice.html' %}
      <div class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION">
        <div id="UNIQUE-ID-sasdfhshh3hw7" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM--ACTIVE">
          <p>
            <span>
              <input class="fsa-radio" id="UNIQUE-ID-asdff2345dfghh" type="radio" name="rice-use-current__market-prices" value="UNIQUE-ID-asdff2345dfghh" checked="checked">
              <label for="UNIQUE-ID-asdff2345dfghh">Use Current</label>
            </span>
            <span>
              <input class="fsa-radio" id="UNIQUE-ID-awhackoo" type="radio" name="rice-use-current__market-prices" value="UNIQUE-ID-awhackoo">
              <label for="UNIQUE-ID-awhackoo">Use New</label>
            </span>
          </p>
          <textarea style='outline: 1px solid Orangered; font-family: "Bitstream Vera Sans Mono", "Consolas", "Menlo", "Monaco", "Courier New", "Courier", monospace;' rows="20" class="fsa-textarea" name="UNIQUE-ID-99S99SHhjs" id="UNIQUE-ID-99S99SHhjs" placeholder="Placeholder">{% include: 'includes/rice-markets__080917.txt' %}</textarea>
        </div>
        <div id="UNIQUE-ID-sasdfh46j9ow7" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
          <p>
            <span>
              <input class="fsa-radio" id="UNIQUE-ID-asdgf5555d" type="radio" name="rice-use-current__ldp" value="UNIQUE-ID-asdgf5555d" checked="checked">
              <label for="UNIQUE-ID-asdgf5555d">Use Current</label>
            </span>
            <span>
              <input class="fsa-radio" id="UNIQUE-ID-awloreo" type="radio" name="rice-use-current__ldp" value="UNIQUE-ID-awloreo">
              <label for="UNIQUE-ID-awloreo">Use New</label>
            </span>
          </p>
          <textarea style='outline: 1px solid Orangered; font-family: "Bitstream Vera Sans Mono", "Consolas", "Menlo", "Monaco", "Courier New", "Courier", monospace;' rows="20" class="fsa-textarea" name="UNIQUE-ID-99S99SHhjs" id="UNIQUE-ID-99S99SHhjs" placeholder="Placeholder">{% include: 'includes/rice-ldp__080917.txt' %}</textarea>
        </div>
      </div>
    </div>
  </div>
</div>
