<div class="fsa-content-tabs">
  <ul class="fsa-content-tabs__list HINT">
    <li class="fsa-content-tabs__item"><a class="fsa-content-tabs__label" href="settings_commodities.html"><span class="fsa-content-tabs__label-text">Commodities</span></a></li>
    <li class="fsa-content-tabs__item"><a class="fsa-content-tabs__label" href="settings_markets.html"><span class="fsa-content-tabs__label-text">Markets</span></a></li>
    <li class="fsa-content-tabs__item"><a class="fsa-content-tabs__label" href="settings_commodities-classes.html"><span class="fsa-content-tabs__label-text">Classes</span></a></li>
    <li class="fsa-content-tabs__item"><a class="fsa-content-tabs__label" href="settings_commodities-subclasses.html"><span class="fsa-content-tabs__label-text">Sub-classes</span></a></li>
    <li class="fsa-content-tabs__item"><a class="fsa-content-tabs__label fsa-content-tabs__label--active" href="settings_market-combos.html"><span class="fsa-content-tabs__label-text">Programs</span></a></li>
    <li class="fsa-content-tabs__item"><a class="fsa-content-tabs__label" href="settings_roles.html"><span class="fsa-content-tabs__label-text">Roles</span></a></li>
    <li class="fsa-content-tabs__item"><a class="fsa-content-tabs__label" href="settings_permissions.html"><span class="fsa-content-tabs__label-text">Permissions</span></a></li>
  </ul>
  <div class="fsa-content-tabs__aside"></div>
</div>
