<div class="WIP-proceeder {{ CLASS }}">
  <div class="WIP-proceeder__hd"><!-- Keep --></div>
  <div class="WIP-proceeder__bd">
    <div class="WIP-proceeder__message" role="status">
      <span class="WIP-proceeder__message-text">
        <span id="DYNAMIC-UNIQUE__ID-STATUS-MESSAGE">{{ message }}</span>
      </span>
    </div>
    <div class="WIP-proceeder__actions">
      <div class="WIP-proceeder__action-item">
        <button class="fsa-btn fsa-btn--alt fsa-btn--large pcp-title-action-bar__action HINT" type="button" data-behavior="growl-show whiteout-show" data-target="{{ reopen }}" id="UNIQUE-ID-REOPENER" title="Re-open Discovery">
          <span class="fsa-m-r--xs">
            {% include: 'includes/icon.html' @NAME:'spinner11' @SIZE:' ' @CLASS:'pcp-title-action-bar__icon' %}
          </span>
          <span>Re-open Discovery</span>
        </button>
      </div>
      <div class="WIP-proceeder__action-item">
        <button id="UNIQUE-ID-FINALIZER" {{ button_state }} class="fsa-btn fsa-btn--primary fsa-btn--large WIP-proceeder__btn HINT" type="button" onclick="window.location = '{{ link }}'"><!-- Hacky use of onclick attribute. Sue me. -->
          <span class="fsa-m-r--xs">
            {% include: 'includes/icon.html' @NAME:'checkmark' @SIZE:' ' @CLASS:'pcp-title-action-bar__icon' %}
          </span>
          <span>{{ action }}</span>
        </button>
      </div>
    </div>
  </div>
  <div class="WIP-proceeder__ft"><!-- Keep --></div>
</div>
