<div class="fsa-grid">
  <div class="fsa-grid__1/1 fsa-grid__1/2@m fsa-grid__1/3@l">
    <h3 class="fsa-m-t--none">Terminal</h3>
    {% include: 'includes/pcp-adjust__terminal-review.html' %}
  </div>
  <div class="fsa-grid__1/1 fsa-grid__1/2@m fsa-grid__1/3@l">
    <h3 class="fsa-m-t--none">State</h3>
    {% include: 'includes/pcp-adjust__state-review.html' %}
  </div>
  <div class="fsa-grid__1/1 fsa-grid__1/2@m fsa-grid__1/3@l">
    <h3 class="fsa-m-t--none">Premiums/Discount</h3>
    {% include: 'includes/pcp-adjust__protein-review.html' %}
  </div>
</div>
