<div class="pcp-rift-detail">
  <div class="pcp-rift-detail__hd">
    <h2 class="pcp-rift-detail__title">
      <span id="UNIQUE-ID-SSSGY776399">XYZ</span>
      /
      <span id="UNIQUE-ID-777S777S777S">WOW</span>
    </h2>
    <div class="pcp-rift-detail__actions">
      <button data-behavior="DEMO-PIN-RIFT-DETAILS" title="Pin" class="pcp-rift-detail__action-btn HINT" type="button" aria-label="Pin">{% include: 'includes/icon.html' @SIZE:'small' @CLASS:' ' @NAME:'pushpin' %}</button><button data-behavior="DEMO-CLOSE-RIFT-DETAILS" title="Close" class="pcp-rift-detail__action-btn HINT" type="button" aria-label="Close">{% include: 'includes/icon.html' @SIZE:'small' @CLASS:' ' @NAME:'cross' %} </button>
    </div>
  </div>
  <div class="pcp-rift-detail__bd">
    <table class="pcp-rift-detail__table">
      <thead class="pcp-rift-detail__thead">
        <tr class="pcp-rift-detail__tr">
          <th class="pcp-rift-detail__th pcp-rift-detail__th--first" colspan="6" scope="col">
            <div class="pcp-rift-detail__county" title="CO - Phillipsioningtonerwhoppingtoneropp"><abbr title="Colorado">CO</abbr> - Phillipsioningtonerwhoppingtoneropp</div>
          </th>
          <th class="pcp-rift-detail__th pcp-rift-detail__th--last" colspan="6" scope="col">
            <div class="pcp-rift-detail__county" title="NE - Boone"><abbr title="Nebraska">NE</abbr> - Boone</div>
          </th>
        </tr>
      </thead>
      <tbody class="pcp-rift-detail__tbody">
        <tr class="pcp-rift-detail__tr pcp-rift-detail__tr--rift">
          <td class="pcp-rift-detail__td pcp-rift-detail__td--rift" colspan="12">
            <h3 id="UNIQUE-ID-3377377777S77S" class="sr-only">Rift Point Spread</h3>
            <div class="pcp-marker pcp-marker--large pcp-marker--static pcp-rift-detail__marker" id="UNIQUE-ID-12346">
              <div class="pcp-marker__value" aria-labelledby="UNIQUE-ID-3377377777S77S">-0.08</div>
              <div class="pcp-marker__pinpoint"></div>
            </div>
          </td>
        </tr>
        <tr class="pcp-rift-detail__tr pcp-rift-detail__tr--spread">
          <td colspan="6" class="pcp-rift-detail__td pcp-rift-detail__spread-left">
            <table class="pcp-rift-detail__markets">
              <tr>
                <th class="pcp-rift-detail__markets-item pcp-rift-detail__markets-item--dominant pcp-rift-detail__markets-item--first" colspan="6" scope="row"><abbr title="Kansas City, MO">KCM</abbr></th>
                <td class="pcp-rift-detail__markets-value pcp-rift-detail__markets-value--dominant pcp-rift-detail__markets-value--last" colspan="6"><span id="UNIQUE-ID-3333990S00S">3.10</span></td>
              </tr>
              <tr>
                <th class="pcp-rift-detail__markets-item pcp-rift-detail__markets-item--interior pcp-rift-detail__markets-item--first" colspan="6" scope="row"><abbr title="Gulf of Mexico Ports, TX / LA / MS">GLF</abbr></th>
                <td class="pcp-rift-detail__markets-value pcp-rift-detail__markets-value--interior pcp-rift-detail__markets-value--last" colspan="6">3.09</td>
              </tr>
            </table>
          </td>
          <td colspan="6" class="pcp-rift-detail__td pcp-rift-detail__spread-right">
            <table class="pcp-rift-detail__markets">
              <tr>
                <td class="pcp-rift-detail__markets-value pcp-rift-detail__markets-value--dominant pcp-rift-detail__markets-value--first"><span id="UNIQUE-ID-DDD777D77D77DHH">3.07</span></td>
                <th class="pcp-rift-detail__markets-item pcp-rift-detail__markets-item--dominant pcp-rift-detail__markets-item--last" scope="row"><abbr title="Minnesota Markets, MN"><span id="UNIQUE-ID-0000A00S0S0">MIN</span></abbr></th>
              </tr>
              <tr>
                <td class="pcp-rift-detail__markets-value pcp-rift-detail__markets-value--interior pcp-rift-detail__markets-value--first"><span id="UNIQUE-ID-555S55S5GH5S5">2.90</span></td>
                <th class="pcp-rift-detail__markets-item pcp-rift-detail__markets-item--interior pcp-rift-detail__markets-item--last" scope="row"><abbr title="Gulf of Mexico Ports, TX / LA / MS"><span id="UNIQUE-ID-SSS666PPP">GLF</span></abbr></th>
              </tr>
            </table>
          </td>
        </tr>
        <tr class="pcp-rift-detail__tr pcp-rift-detail__tr--moor">
          <td class="pcp-rift-detail__td pcp-rift-detail__td--moor pcp-rift-detail__td--moor-first" colspan="4">-1.14</td>
          <th class="pcp-rift-detail__td pcp-rift-detail__th--moor" colspan="4" scope="row"><abbr title="Loan Deficiency Payment">LDP</abbr></th>
          <td class="pcp-rift-detail__td pcp-rift-detail__td--moor pcp-rift-detail__td--moor-last" colspan="4">-1.10</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pcp-rift-detail__ft"></div>
</div>
