<div class="fsa-select-multi fsa-select-multi--disabled">
  <ul class="fsa-select-multi__list">
    <li class="fsa-select-multi__item">
      <input disabled="disabled" class="fsa-checkbox fsa-select-multi__check" id="commodity-class_{{ UNIQUE_ID }}_AAS" type="checkbox" name="commodity-class_{{ UNIQUE_ID }}_AAS" value="AAS - Medium Grain" checked="checked">
      <label class="fsa-select-multi__label" for="commodity-class_{{ UNIQUE_ID }}_AAS">ABC - Medium Grain</label>
    </li>
    <li class="fsa-select-multi__item">
      <input disabled="disabled" class="fsa-checkbox fsa-select-multi__check" id="commodity-class_{{ UNIQUE_ID }}_AAW" type="checkbox" name="commodity-class_{{ UNIQUE_ID }}_AAW" value="AAW - Soft White Wheat">
      <label class="fsa-select-multi__label" for="commodity-class_{{ UNIQUE_ID }}_AAW">AAW - Soft White Wheat</label>
    </li>
    <li class="fsa-select-multi__item">
      <input disabled="disabled" class="fsa-checkbox fsa-select-multi__check" id="commodity-class_{{ UNIQUE_ID }}_AZZ" type="checkbox" name="commodity-class_{{ UNIQUE_ID }}_AZZ" value="AZZ - SAF">
      <label class="fsa-select-multi__label" for="commodity-class_{{ UNIQUE_ID }}_AZZ">AZZ - SAF</label>
    </li>
    <li class="fsa-select-multi__item">
      <input disabled="disabled" class="fsa-checkbox fsa-select-multi__check" id="commodity-class_{{ UNIQUE_ID }}_CSS" type="checkbox" name="commodity-class_{{ UNIQUE_ID }}_CSS" value="CSS - CAN">
      <label class="fsa-select-multi__label" for="commodity-class_{{ UNIQUE_ID }}_CSS">CSS - CAN</label>
    </li>
    <li class="fsa-select-multi__item">
      <input disabled="disabled" class="fsa-checkbox fsa-select-multi__check" id="commodity-class_{{ UNIQUE_ID }}_IIO" type="checkbox" name="commodity-class_{{ UNIQUE_ID }}_IIO" value="IIO - Hard Red Spring" checked="checked">
      <label class="fsa-select-multi__label" for="commodity-class_{{ UNIQUE_ID }}_IIO">HIJ - Hard Red Spring</label>
    </li>
    <li class="fsa-select-multi__item">
      <input disabled="disabled" class="fsa-checkbox fsa-select-multi__check" id="commodity-class_{{ UNIQUE_ID }}_IQA" type="checkbox" name="commodity-class_{{ UNIQUE_ID }}_IQA" value="IQA - Long Grain" checked="checked">
      <label class="fsa-select-multi__label" for="commodity-class_{{ UNIQUE_ID }}_IQA">IIO - Long Grain</label>
    </li>
    <li class="fsa-select-multi__item">
      <input disabled="disabled" class="fsa-checkbox fsa-select-multi__check" id="commodity-class_{{ UNIQUE_ID }}_MMM" type="checkbox" name="commodity-class_{{ UNIQUE_ID }}_MMM" value="MMM - Mustard" checked="checked">
      <label class="fsa-select-multi__label" for="commodity-class_{{ UNIQUE_ID }}_MMM">LMN - Mustard</label>
    </li>
    <li class="fsa-select-multi__item">
      <input disabled="disabled" class="fsa-checkbox fsa-select-multi__check" id="commodity-class_{{ UNIQUE_ID }}_MQQ" type="checkbox" name="commodity-class_{{ UNIQUE_ID }}_MQQ" value="MQQ - Small">
      <label class="fsa-select-multi__label" for="commodity-class_{{ UNIQUE_ID }}_MQQ">MQQ - Small</label>
    </li>
    <li class="fsa-select-multi__item">
      <input disabled="disabled" class="fsa-checkbox fsa-select-multi__check" id="commodity-class_{{ UNIQUE_ID }}_MZZ" type="checkbox" name="commodity-class_{{ UNIQUE_ID }}_MZZ" value="MZZ - SUN">
      <label class="fsa-select-multi__label" for="commodity-class_{{ UNIQUE_ID }}_MZZ">MZZ - SUN</label>
    </li>
    <li class="fsa-select-multi__item">
      <input disabled="disabled" class="fsa-checkbox fsa-select-multi__check" id="commodity-class_{{ UNIQUE_ID }}_PAQ" type="checkbox" name="commodity-class_{{ UNIQUE_ID }}_PAQ" value="PAQ - Peas">
      <label class="fsa-select-multi__label" for="commodity-class_{{ UNIQUE_ID }}_PAQ">PAQ - Peas</label>
    </li>
    <li class="fsa-select-multi__item">
      <input disabled="disabled" class="fsa-checkbox fsa-select-multi__check" id="commodity-class_{{ UNIQUE_ID }}_POP" type="checkbox" name="commodity-class_{{ UNIQUE_ID }}_POP" value="POP - Durum">
      <label class="fsa-select-multi__label" for="commodity-class_{{ UNIQUE_ID }}_POP">POP - Durum</label>
    </li>
    <li class="fsa-select-multi__item">
      <input disabled="disabled" class="fsa-checkbox fsa-select-multi__check" id="commodity-class_{{ UNIQUE_ID }}_PXX" type="checkbox" name="commodity-class_{{ UNIQUE_ID }}_PXX" value="PXX - SFN">
      <label class="fsa-select-multi__label" for="commodity-class_{{ UNIQUE_ID }}_PXX">PXX - SFN</label>
    </li>
    <li class="fsa-select-multi__item">
      <input disabled="disabled" class="fsa-checkbox fsa-select-multi__check" id="commodity-class_{{ UNIQUE_ID }}_QPP" type="checkbox" name="commodity-class_{{ UNIQUE_ID }}_QPP" value="QPP - Sorghum">
      <label class="fsa-select-multi__label" for="commodity-class_{{ UNIQUE_ID }}_QPP">QPP - Sorghum</label>
    </li>
    <li class="fsa-select-multi__item">
      <input disabled="disabled" class="fsa-checkbox fsa-select-multi__check" id="commodity-class_{{ UNIQUE_ID }}_QWE" type="checkbox" name="commodity-class_{{ UNIQUE_ID }}_QRS" value="QRS - Crambe" checked="checked">
      <label class="fsa-select-multi__label" for="commodity-class_{{ UNIQUE_ID }}_QRS">QRS - Crambe</label>
    </li>
    <li class="fsa-select-multi__item">
      <input disabled="disabled" class="fsa-checkbox fsa-select-multi__check" id="commodity-class_{{ UNIQUE_ID }}_QWE" type="checkbox" name="commodity-class_{{ UNIQUE_ID }}_QWE" value="QWE - Large">
      <label class="fsa-select-multi__label" for="commodity-class_{{ UNIQUE_ID }}_QWE">QWE - Large</label>
    </li>
    <li class="fsa-select-multi__item">
      <input disabled="disabled" class="fsa-checkbox fsa-select-multi__check" id="commodity-class_{{ UNIQUE_ID }}_RAD" type="checkbox" name="commodity-class_{{ UNIQUE_ID }}_RAD" value="RAD - Soft Red Winter">
      <label class="fsa-select-multi__label" for="commodity-class_{{ UNIQUE_ID }}_RAD">RAD - Soft Red Winter</label>
    </li>
    <li class="fsa-select-multi__item">
      <input disabled="disabled" class="fsa-checkbox fsa-select-multi__check" id="commodity-class_{{ UNIQUE_ID }}_TRE" type="checkbox" name="commodity-class_{{ UNIQUE_ID }}_TRE" value="TRE - Hard Red Winter">
      <label class="fsa-select-multi__label" for="commodity-class_{{ UNIQUE_ID }}_TRE">TRE - Hard Red Winter</label>
    </li>
    <li class="fsa-select-multi__item">
      <input disabled="disabled" class="fsa-checkbox fsa-select-multi__check" id="commodity-class_{{ UNIQUE_ID }}_UUU" type="checkbox" name="commodity-class_{{ UNIQUE_ID }}_UUU" value="UUU - SES">
      <label class="fsa-select-multi__label" for="commodity-class_{{ UNIQUE_ID }}_UUU">UUU - SES</label>
    </li>
    <li class="fsa-select-multi__item">
      <input disabled="disabled" class="fsa-checkbox fsa-select-multi__check" id="commodity-class_{{ UNIQUE_ID }}_VCB" type="checkbox" name="commodity-class_{{ UNIQUE_ID }}_VCB" value="VCB - Lentils">
      <label class="fsa-select-multi__label" for="commodity-class_{{ UNIQUE_ID }}_VCB">VCB - Lentils</label>
    </li>
    <li class="fsa-select-multi__item">
      <input disabled="disabled" class="fsa-checkbox fsa-select-multi__check" id="commodity-class_{{ UNIQUE_ID }}_VVV" type="checkbox" name="commodity-class_{{ UNIQUE_ID }}_VVV" value="VVV - Yellow">
      <label class="fsa-select-multi__label" for="commodity-class_{{ UNIQUE_ID }}_VVV">VVV - Yellow</label>
    </li>
    <li class="fsa-select-multi__item">
      <input disabled="disabled" class="fsa-checkbox fsa-select-multi__check" id="commodity-class_{{ UNIQUE_ID }}_WWE" type="checkbox" name="commodity-class_{{ UNIQUE_ID }}_WWE" value="WWE - RAP">
      <label class="fsa-select-multi__label" for="commodity-class_{{ UNIQUE_ID }}_WWE">WWE - RAP</label>
    </li>
    <li class="fsa-select-multi__item">
      <input disabled="disabled" class="fsa-checkbox fsa-select-multi__check" id="commodity-class_{{ UNIQUE_ID }}_XAZ" type="checkbox" name="commodity-class_{{ UNIQUE_ID }}_XAZ" value="XYZ - Barley" checked="checked">
      <label class="fsa-select-multi__label" for="commodity-class_{{ UNIQUE_ID }}_XAZ">XYZ - Barley</label>
    </li>
    <li class="fsa-select-multi__item">
      <input disabled="disabled" class="fsa-checkbox fsa-select-multi__check" id="commodity-class_{{ UNIQUE_ID }}_XYZ" type="checkbox" name="commodity-class_{{ UNIQUE_ID }}_XYZ" value="XYZ - FLX">
      <label class="fsa-select-multi__label" for="commodity-class_{{ UNIQUE_ID }}_XYZ">XYZ - FLX</label>
    </li>
    <li class="fsa-select-multi__item">
      <input disabled="disabled" class="fsa-checkbox fsa-select-multi__check" id="commodity-class_{{ UNIQUE_ID }}_XZZ" type="checkbox" name="commodity-class_{{ UNIQUE_ID }}_XZZ" value="XYZ - Oats">
      <label class="fsa-select-multi__label" for="commodity-class_{{ UNIQUE_ID }}_XZZ">XYZ - Oats</label>
    </li>
    <li class="fsa-select-multi__item">
      <input disabled="disabled" class="fsa-checkbox fsa-select-multi__check" id="commodity-class_{{ UNIQUE_ID }}_ZZP" type="checkbox" name="commodity-class_{{ UNIQUE_ID }}_ZZP" value="ZZP - Short Grain">
      <label class="fsa-select-multi__label" for="commodity-class_{{ UNIQUE_ID }}_ZZP">ZZP - Short Grain</label>
    </li>
  </ul>
</div>
