<div class="fsa-select-multi">
  <ul class="fsa-select-multi__list">
    <li class="fsa-select-multi__item">
      <input class="fsa-checkbox fsa-select-multi__check" id="commodity_{{ UNIQUE_ID }}_888" type="checkbox" name="commodity_{{ UNIQUE_ID }}_888" value="BRL - Barley">
      <label class="fsa-select-multi__label" for="commodity_{{ UNIQUE_ID }}_888">BRL - Barley</label>
    </li>
    <li class="fsa-select-multi__item">
      <input class="fsa-checkbox fsa-select-multi__check" id="commodity_{{ UNIQUE_ID }}_ysu" type="checkbox" name="commodity_{{ UNIQUE_ID }}_ysu" value="CTN - Cotton" checked="checked">
      <label class="fsa-select-multi__label" for="commodity_{{ UNIQUE_ID }}_ysu">CTN - Cotton</label>
    </li>
    <li class="fsa-select-multi__item">
      <input class="fsa-checkbox fsa-select-multi__check" id="commodity_{{ UNIQUE_ID }}_881" type="checkbox" name="commodity_{{ UNIQUE_ID }}_881" value="HRW - Hard Red Winter Wheat" checked="checked">
      <label class="fsa-select-multi__label" for="commodity_{{ UNIQUE_ID }}_881">HRW - Hard Red Winter Wheat</label>
    </li>
    <li class="fsa-select-multi__item">
      <input class="fsa-checkbox fsa-select-multi__check" id="commodity_{{ UNIQUE_ID }}_111" type="checkbox" name="commodity_{{ UNIQUE_ID }}_111" value="JB - Jelly Bean">
      <label class="fsa-select-multi__label" for="commodity_{{ UNIQUE_ID }}_111">JB - Jelly Bean</label>
    </li>
    <li class="fsa-select-multi__item">
      <input class="fsa-checkbox fsa-select-multi__check" id="commodity_{{ UNIQUE_ID }}_558" type="checkbox" name="commodity_{{ UNIQUE_ID }}_558" value="PBS - Pork Bellies" checked="checked">
      <label class="fsa-select-multi__label" for="commodity_{{ UNIQUE_ID }}_558">PBS - Pork Bellies</label>
    </li>
    <li class="fsa-select-multi__item">
      <input class="fsa-checkbox fsa-select-multi__check" id="commodity_{{ UNIQUE_ID }}_002" type="checkbox" name="commodity_{{ UNIQUE_ID }}_002" value="RR - Rice">
      <label class="fsa-select-multi__label" for="commodity_{{ UNIQUE_ID }}_002">RR - Rice</label>
    </li>
    <li class="fsa-select-multi__item">
      <input class="fsa-checkbox fsa-select-multi__check" id="commodity_{{ UNIQUE_ID }}_661" type="checkbox" name="commodity_{{ UNIQUE_ID }}_661" value="SOR - Sorghum">
      <label class="fsa-select-multi__label" for="commodity_{{ UNIQUE_ID }}_661">SOR - Sorghum</label>
    </li>
    <li class="fsa-select-multi__item">
      <input class="fsa-checkbox fsa-select-multi__check" id="commodity_{{ UNIQUE_ID }}_991" type="checkbox" name="commodity_{{ UNIQUE_ID }}_991" value="YSB - Soybean">
      <label class="fsa-select-multi__label" for="commodity_{{ UNIQUE_ID }}_991">YSB - Soybean</label>
    </li>
    <li class="fsa-select-multi__item">
      <input class="fsa-checkbox fsa-select-multi__check" id="commodity_{{ UNIQUE_ID }}_65o" type="checkbox" name="commodity_{{ UNIQUE_ID }}_65o" value="YC - Yellow Corn">
      <label class="fsa-select-multi__label" for="commodity_{{ UNIQUE_ID }}_65o">YC - Yellow Corn</label>
    </li>
  </ul>
</div>
