<table class="fsa-table fsa-table--borderless pcp-table">
  <caption class="sr-only">Terminal Markets: Pulses</caption>
  <thead class="pcp-table__row">
    <tr>
      <th scope="col" class="pcp-table__th pcp-table__th--sticky pcp-table__cell--bisect">Market</th>
      <th scope="col" class="pcp-table__th pcp-table__th--sticky fsa-text-align--right"><abbr title="SPELL_IT_OUT">CHL</abbr</th>
      <th scope="col" class="pcp-table__th pcp-table__th--sticky fsa-text-align--right"><abbr title="SPELL_IT_OUT">CHK</abbr</th>
      <th scope="col" class="pcp-table__th pcp-table__th--sticky fsa-text-align--right"><abbr title="SPELL_IT_OUT">LEN</abbr</th>
      <th scope="col" class="pcp-table__th pcp-table__th--sticky fsa-text-align--right"><abbr title="SPELL_IT_OUT">PEA</abbr</th>
    </tr>
  </thead>
  <tbody>
    <tr data-has-changes="true" class="pcp-table__row">
      <th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">US</abbr></th>
      <td class="pcp-table__cell fsa-text-align--right">31.50</td>
      <td class="pcp-table__cell fsa-text-align--right pcp-table__cell--highlight">26.50</td>
      <td class="pcp-table__cell fsa-text-align--right">22.40</td>
      <td class="pcp-table__cell fsa-text-align--right">8.67</td>
    </tr>
  </tbody>
</table>
