<table class="fsa-table fsa-table--borderless pcp-table">
  <caption class="sr-only">Terminal Markets: Minor Oilseeds</caption>
  <thead class="pcp-table__row">
    <tr>
      <th scope="col" class="pcp-table__th pcp-table__th--sticky pcp-table__cell--bisect">Market</th>
      <th scope="col" class="pcp-table__th pcp-table__th--sticky fsa-text-align--right"><abbr title="SPELL_IT_OUT">CAN</abbr</th>
      <th scope="col" class="pcp-table__th pcp-table__th--sticky fsa-text-align--right"><abbr title="SPELL_IT_OUT">CRA</abbr</th>
      <th scope="col" class="pcp-table__th pcp-table__th--sticky fsa-text-align--right"><abbr title="SPELL_IT_OUT">RAP</abbr</th>
      <th scope="col" class="pcp-table__th pcp-table__th--sticky fsa-text-align--right"><abbr title="SPELL_IT_OUT">FLX</abbr</th>
      <th scope="col" class="pcp-table__th pcp-table__th--sticky fsa-text-align--right"><abbr title="SPELL_IT_OUT">MUS</abbr</th>
      <th scope="col" class="pcp-table__th pcp-table__th--sticky fsa-text-align--right"><abbr title="SPELL_IT_OUT">SAF</abbr</th>
      <th scope="col" class="pcp-table__th pcp-table__th--sticky fsa-text-align--right"><abbr title="SPELL_IT_OUT">SEM</abbr</th>
      <th scope="col" class="pcp-table__th pcp-table__th--sticky fsa-text-align--right"><abbr title="SPELL_IT_OUT">SFN</abbr</th>
      <th scope="col" class="pcp-table__th pcp-table__th--sticky fsa-text-align--right"><abbr title="SPELL_IT_OUT">SUN</abbr</th>
    </tr>
  </thead>
  <tbody>
    <tr data-has-changes="true" class="pcp-table__row">
      <th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">ARL</abbr></th>
      <td class="pcp-table__cell fsa-text-align--right pcp-table__cell--highlight">15.19</td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
    </tr>
    <tr aria-hidden="true" hidden="hidden" class="pcp-table__row">
      <th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">AUG</abbr></th>
      <td class="pcp-table__cell fsa-text-align--right">15.19</td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
    </tr>
    <tr aria-hidden="true" hidden="hidden" class="pcp-table__row">
      <th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">CAR</abbr></th>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right">14.72</td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
    </tr>
    <tr aria-hidden="true" hidden="hidden" class="pcp-table__row">
      <th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">COL</abbr></th>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right">19.01</td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
    </tr>
    <tr data-has-changes="true" class="pcp-table__row">
      <th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">COR</abbr></th>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right pcp-table__cell--highlight">19.01</td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
    </tr>
    <tr data-has-changes="true" class="pcp-table__row">
      <th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">FAR</abbr></th>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right">14.64</td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right">26.66</td>
      <td class="pcp-table__cell fsa-text-align--right pcp-table__cell--highlight">16.8</td>
    </tr>
    <tr aria-hidden="true" hidden="hidden" class="pcp-table__row">
      <th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">GLD</abbr></th>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right">26.77</td>
      <td class="pcp-table__cell fsa-text-align--right">17.8</td>
    </tr>
    <tr aria-hidden="true" hidden="hidden" class="pcp-table__row">
      <th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">GFK</abbr></th>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right">26.22</td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
    </tr>
    <tr aria-hidden="true" hidden="hidden" class="pcp-table__row">
      <th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">GRF</abbr></th>
      <td class="pcp-table__cell fsa-text-align--right">N/B</td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right">22.87</td>
      <td class="pcp-table__cell fsa-text-align--right">15.18</td>
      <td class="pcp-table__cell fsa-text-align--right">26.02</td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
    </tr>
    <tr aria-hidden="true" hidden="hidden" class="pcp-table__row">
      <th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">PAR</abbr></th>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right">20.55</td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
    </tr>
    <tr aria-hidden="true" hidden="hidden" class="pcp-table__row">
      <th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">RDW</abbr></th>
      <td class="pcp-table__cell fsa-text-align--right">16.3</td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right">14.73</td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right">N/B</td>
    </tr>
    <tr aria-hidden="true" hidden="hidden" class="pcp-table__row">
      <th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">RIC</abbr></th>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right">19.01</td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
    </tr>
    <tr aria-hidden="true" hidden="hidden" class="pcp-table__row">
      <th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">VEL</abbr></th>
      <td class="pcp-table__cell fsa-text-align--right">16.45</td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
    </tr>
  </tbody>
</table>
