<table class="fsa-table fsa-table--borderless pcp-table">
  <caption class="sr-only">Terminal Markets: Commodities</caption>
  <thead>
    <tr class="pcp-table__row">
      <th scope="col" class="pcp-table__th pcp-table__th--sticky pcp-table__cell--bisect">Market</th>
      <th scope="col" class="pcp-table__th pcp-table__th--sticky fsa-text-align--right"><abbr title="SPELL_IT_OUT">HRW</abbr></th>
      <th scope="col" class="pcp-table__th pcp-table__th--sticky fsa-text-align--right"><abbr title="SPELL_IT_OUT">HRS</abbr></th>
      <th scope="col" class="pcp-table__th pcp-table__th--sticky fsa-text-align--right"><abbr title="SPELL_IT_OUT">SRW</abbr></th>
      <th scope="col" class="pcp-table__th pcp-table__th--sticky fsa-text-align--right"><abbr title="SPELL_IT_OUT">WHI</abbr></th>
      <th scope="col" class="pcp-table__th pcp-table__th--sticky fsa-text-align--right"><abbr title="SPELL_IT_OUT">HAD</abbr></th>
      <th scope="col" class="pcp-table__th pcp-table__th--sticky fsa-text-align--right"><abbr title="SPELL_IT_OUT">YC</abbr></th>
      <th scope="col" class="pcp-table__th pcp-table__th--sticky fsa-text-align--right"><abbr title="SPELL_IT_OUT">BRL</abbr></th>
      <th scope="col" class="pcp-table__th pcp-table__th--sticky fsa-text-align--right"><abbr title="SPELL_IT_OUT">OAT</abbr></th>
      <th scope="col" class="pcp-table__th pcp-table__th--sticky fsa-text-align--right"><abbr title="SPELL_IT_OUT">YSB</abbr></th>
      <th scope="col" class="pcp-table__th pcp-table__th--sticky fsa-text-align--right"><abbr title="SPELL_IT_OUT">SOR</abbr></th>
    </tr>
  </thead>
  <tbody>
    <tr aria-hidden="true" hidden="hidden" class="pcp-table__row">
      <th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">AMA</abbr></th>
      <td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">3.22</a></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">3.64</a></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
      <td class="pcp-table__cell fsa-text-align--right"></td>
    </tr>
		<tr aria-hidden="true" hidden="hidden" class="pcp-table__row">
			<th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">AMA</abbr></th>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">3.22</a></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">3.64</a></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
		</tr>
		<tr aria-hidden="true" hidden="hidden" class="pcp-table__row">
			<th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">CIN</abbr></th>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">3.90</a></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">3.42</a></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">9.62</a></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">6.00</a></td>
		</tr>
		<tr aria-hidden="true" hidden="hidden" class="pcp-table__row">
			<th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">EVN</abbr></th>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">4.05</a></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
		</tr>
		<tr data-has-changes="true" class="pcp-table__row">
			<th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">GLF</abbr></th>
			<td class="pcp-table__cell fsa-text-align--right pcp-table__cell--highlight"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">4.67</a></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">4.65</a></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right pcp-table__cell--highlight"><a class="HINT" href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">3.88</a></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">3.44</a></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">10.12</a></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">6.92</a></td>
		</tr>
		<tr data-has-changes="true" class="pcp-table__row">
			<th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">KCM</abbr></th>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">4.33</a></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">3.35</a></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right pcp-table__cell--highlight"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">3.14</a></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">3.05</a></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">9.43</a></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
		</tr>
		<tr aria-hidden="true" hidden="hidden" class="pcp-table__row">
			<th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">LOS</abbr></th>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">7.11</a></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
		</tr>
		<tr aria-hidden="true" hidden="hidden" class="pcp-table__row">
			<th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">MEM</abbr></th>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">3.91</a></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">3.59</a></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">9.79</a></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">5.69</a></td>
		</tr>
		<tr data-has-changes="true" class="pcp-table__row">
			<th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">MIN</abbr></th>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">4.27</a></td>
			<td class="pcp-table__cell fsa-text-align--right pcp-table__cell--highlight"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">5.73</a></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">7.35</a></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">2.99</a></td>
			<td class="pcp-table__cell fsa-text-align--right pcp-table__cell--highlight"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">2.85</a></td>
			<td class="pcp-table__cell fsa-text-align--right pcp-table__cell--highlight"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">2.79</a></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">8.98</a></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">5.69</a></td>
		</tr>
		<tr aria-hidden="true" hidden="hidden" class="pcp-table__row">
			<th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">NCD</abbr></th>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">5.48</a></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">5.25</a></td>
		</tr>
		<tr aria-hidden="true" hidden="hidden" class="pcp-table__row">
			<th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">PNW</abbr></th>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">4.92</a></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">4.81</a></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">7.35</a></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">4.31</a></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">3.19</a></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">3.37</a></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">10.61</a></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
		</tr>
		<tr aria-hidden="true" hidden="hidden" class="pcp-table__row">
			<th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">SCD</abbr></th>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">5.33</a></td>
		</tr>
		<tr data-has-changes="true" class="pcp-table__row">
			<th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">TOL</abbr></th>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">4.06</a></td>
			<td class="pcp-table__cell fsa-text-align--right pcp-table__cell--highlight"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">4.06</a></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">3.34</a></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">9.36</a></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
		</tr>
		<tr aria-hidden="true" hidden="hidden" class="pcp-table__row">
			<th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">TKO</abbr></th>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">3.62</a></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">9.48</a></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
		</tr>
		<tr aria-hidden="true" hidden="hidden" class="pcp-table__row">
			<th class="pcp-table__th pcp-table__cell--bisect" scope="row"><abbr title="SPELL_IT_OUT">WCD</abbr></th>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">4.93</a></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">4.76</a></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">7.15</a></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">4.46</a></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">3.94</a></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"></td>
			<td class="pcp-table__cell fsa-text-align--right"><a href="#footnotes" role="button"  data-behavior="open-modal" data-target="UNIQUE-ID-REVIEW-FOOTNOTE">8.28</a></td>
		</tr>
	</tbody>
</table>
