
@keyframes pcp-highlight-fade {

  $fadeColor: yellow;
  $fadeOutlineSize: $size-base;

  from {
    background: $fadeColor;
    outline: $fadeOutlineSize solid $fadeColor;
  }

  to {
    background: transparent;
    outline: ($fadeOutlineSize / 2) solid transparent;
  }

}

.pcp-highlight-text {
  animation: pcp-highlight-fade 1s ease-in-out;
}
