.pcp-info-bar {

  margin-top: 1em;

  &__bd {

    @include font-size(2);

    .pcp-info-bar--print & {
      @include font-size(3);
    }

    @include breakpoint(L) {

      display: flex;
      align-items: center;

      .pcp-info-bar--print & {
        align-items: initial;
      }

    }

  }

  &__item {

    margin-bottom: $size-base;

    @include breakpoint(L) {

      white-space: nowrap;
      margin-right: $size-medium;
      margin-bottom: 0;

      &:last-child:not(.pcp-info-bar__item--truncate) {
        margin-left: auto;
        margin-right: 0;
      }

      .pcp-info-bar--print & {
        white-space: normal;
      }

    }

    > strong {
      // boy was this a mistake, TODO: sometime
      .pcp-info-bar--print & {
        display: block;
      }

      margin-right: $size-base;
    }

    &--truncate {

      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;

      .pcp-info-bar--print & {
        white-space: normal;
      }

    }

  }

  &--print {}

}
