.pcp-popover {
  position: absolute;
  color: $color-fsa-base;
  top: calc(100% + #{$size-default});
  right: -$size-default;
  z-index: 1;
  text-align: left;
  background-color: $color-white;
  padding: $size-default;
  box-shadow: 0 0 $size-default rgba(0, 0, 0, .5);
}
