
.pcp-map-toolbar {

  &__bd {
    position: relative;
    z-index: 1;
    background-color: $color-white;
    border: 1px solid $color-fsa-tertiary-200;
    border-width: 0 1px 1px;
    padding: $size-small $size-default;
    display: flex;
    align-items: center;
    box-shadow: 0 $size-default $size-medium (-$size-default) rgba(0, 0, 0, .4);
  }

	&__unit {

    flex: auto;
    white-space: nowrap;
    line-height: 1;
    margin-right: $size-default;
    text-align: center;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
      margin-right: 0;
    }

    &--hd {
      flex: none;
      max-width: ($mapPanelWidth - $size-large)
    }

    &--status {
      text-align: left;
    }

    &--rift-state {}

    &--mode {}

    &--actions {}

    &--submit {}

	}

	&__title {
    @include font-size(4);
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: ($size-base / 2);
    word-wrap: normal;
  }

}
