.pcp-table {

  $inactive-text-color: tint($color-fsa-tertiary, 50%);
  $inactive-bgc: $color-fsa-tertiary-100;

  margin-top: 1em;

  th:first-child,
  td:first-child {
    @include breakpoint(M) {
      padding-left: $size-default;
    }
  }

  th:last-child,
  td:last-child {
    @include breakpoint(M) {
      padding-right: $size-default;
    }
  }

  &--fixed {
    table-layout: fixed;
  }

  &--middle td {
    vertical-align: middle;
  }

  &__row {

    &--inactive {

      color: $inactive-text-color;
      background-color: $inactive-bgc;

      &:hover {
        color: initial;
        cursor: default;
      }

      th:before,
      td:before {
        color: $inactive-text-color;
      }

    }

  }

  &__cell {}

  &__sort {

    @include pcp-button-reset;

    display: block;
    width: 100%;
    white-space: nowrap;

    &:focus,
    &:hover {
      color: $color-fsa-link-hover;
    }

    &:after {
      content: '';
      background-size: 100%;
      width: 12px;
      height: 12px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -2px;
      margin-left: 4px;
    }

    &--up {}

    &--down {}

    &--up {
      &:after {
        background-image: url('../img/chevron-up.png');
        background-image: url('../img/chevron-up.svg');
      }
    }

    &--down {
      &:after {
        background-image: url('../img/chevron-down.png');
        background-image: url('../img/chevron-down.svg');
      }
    }

  }

}
