.pcp-nav-global {

  background-color: $color-fsa-white;
  border-bottom: 1px solid $color-fsa-tertiary-200;

	&__bd {
    max-width: ($site-max-width + 24px);
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

	&__list {
    @include reset-ul();
    display: flex;
	}

	&__list-item {
    @include reset-li();
    display: inline-block;
	}

	&__link {

    @include font-size(2);
    display: block;
    font-weight: $font-bold;
    text-decoration: none;
    padding: 0 $size-default;

    @include breakpoint(M) {
      @include font-size(3);
    }

    &:link,
    &:visited {
      color: $color-fsa-tertiary-300;
    }

    span {

      display: block;
      padding: $size-small 0;

      @include breakpoint(M) {
        padding: $size-default 0;
      }

    }

    &:hover {
      span {
        box-shadow: 0 (-$size-base / 2) 0 0 $color-fsa-tertiary-300 inset;
      }
    }

    &--active {

      &:link,
      &:visited {
        color: $color-fsa-secondary-900;
      }

      span {
        box-shadow: 0 (-$size-base) 0 0 $color-fsa-secondary inset;
      }

    }

	}

}
