
.pcp-stepped-tabs {

  $colorComplete: $color-fsa-secondary-300;
  $colorActive: $color-fsa-secondary;
  $colorFuture: $color-fsa-secondary-100;
  $colorDark: $color-fsa-secondary-900;
  $labelPadding: $size-small;

  $arrowMagicNumber: 2.1rem;

  margin: $size-medium 0;

  &__bd {}

  &__list {

    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
    list-style: none;

    // scss-lint:disable SelectorFormat
    .pcp-stepped-tabs--justified & {
      table-layout: fixed;
    }

  }

  &__item {
    display: table-cell;
  }

  &__label {

    @include reset-button();
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: $labelPadding $labelPadding ($labelPadding - .1rem);
    background-color: $color-fsa-tertiary-100;
    font-weight: $font-bold;
    color: $color-fsa-base;
    position: relative;

    &:before,
    &:after {
      pointer-events: none;
      position: absolute;
      content: '';
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: $arrowMagicNumber 0 $arrowMagicNumber ($arrowMagicNumber - .9rem); // super magical number
      z-index: 1;
    }

    &:before {

      left: -12px;
      border-color: $color-fsa-site-bg $color-fsa-site-bg $color-fsa-site-bg transparent;

      .pcp-stepped-tabs__item:first-child & {
        display: none;
      }

    }

    &:after {

      right: -12px;
      border-color: transparent transparent transparent $color-fsa-site-bg;

      .pcp-stepped-tabs__item:last-child & {
        display: none;
      }

    }

    &--complete {

      background-color: $colorComplete;
      text-shadow: 1px 1px 0 $color-black;
      color: $color-fsa-white !important;

      &:focus,
      &:visited,
      &:active,
      &:hover {
        // scss-lint:disable ImportantRule
        color: $color-fsa-white;
      }

      &:focus,
      &:hover {
        outline: 0;
        background-color: $colorDark;
      }

    }

    &--active {

      background-color: $colorActive;
      text-shadow: 1px 1px 0 $color-black;
      color: $color-fsa-white;

      &:focus,
      &:visited,
      &:active,
      &:hover {
        // scss-lint:disable ImportantRule
        color: $color-fsa-white !important;
      }

      &:hover {
        background-color: $colorDark;
      }

    }

    &--incomplete {
      background-color: $colorFuture;
      color: $colorDark;
    }

    .pcp-stepped-tabs__item:first-child & {
      padding-right: ( ($labelPadding * 2) + ($labelPadding / 3) );
    }

  }

  &__status {

    $icon-size: $size-default;

    position: relative;
    appearance: none;
    border: 0;
    padding: 0;
    margin: 0 $size-base 0 0;
    display: inline-block;
    text-indent: $icon-size * 5;
    overflow: hidden;
    width: $icon-size;
    height: $icon-size;

    &--complete {
      background-color: rgba(255, 255, 255, .3);
    }

    &--current {
      background-color: rgba(255, 255, 255, .6);
    }

    &--incomplete {
      background-color: rgba(0, 0, 0, .3);
    }


  }

}
