.pcp-title-action-bar {

  @include breakpoint(M) {
    @include fsa-grid-row();
  }

	&__hd,
	&__ft {
    @include breakpoint(M) {
      @include fsa-grid-column();
    }
  }

  &__hd {
    @include breakpoint(M) {
      @include fsa-grid-column-width(8);
    }
  }

  &__ft {
    @include breakpoint(M) {
      @include fsa-grid-column-width(4);
      text-align: right;
    }
  }

	&__title {
    margin: 0;
  }

	&__action {

    display: block;
    width: 100%;

    @include breakpoint(M) {
      display: inline-block;
      width: auto;
    }

  }

}
