.pcp-title-action-bar {

  @include breakpoint(L) {
    @include fsa-grid-row();
  }

  &__hd,
  &__ft {
    @include breakpoint(L) {
      @include fsa-grid-column();
    }
  }

  &__hd {
    @include breakpoint(L) {
      // @include fsa-grid-column-width(8);
    }
  }

  &__ft {
    margin-top: $size-small;
    @include breakpoint(L) {
      // @include fsa-grid-column-width(4);
      margin-top: 0;
      margin-left: auto;
      text-align: right;
    }
  }

  &__title {

    margin: 0;

    @include breakpoint(L, down) {
      @include h2();
      font-weight: $font-normal;
    }

  }

  &__action {

    display: block;
    width: 100%;

    @include breakpoint(L) {
      display: inline-block;
      width: auto;
    }

  }

}
