@keyframes rift-detail-show {
  from {
    opacity: 0;
    transform: translateY($size-default);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.pcp-mapping {

  margin: $size-medium 0;

  &--fullscreen {
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-fsa-site-bg;
  }

  &__fullscreen-btn {

    position: absolute;
    top: $size-small;
    right: $size-small;

  }

  &__hd {}

  &__bd {
    position: relative;
    overflow: hidden;
  }

  &__ft {}

  &__panel {
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    width: 264px;
    padding: $size-default;
    background-color: $color-fsa-site-bg;
    text-align: center;
    box-shadow: 0 0 $size-small rgba(0, 0, 0, .4);
  }

  &__map {

    border: 1px solid $color-fsa-tertiary-200;
    border-top: 0;
    background-color: $color-white;
    height: 540px;

    // scss-lint:disable SelectorFormat
    .pcp-mapping--fullscreen & {
      border: 0;
      height: calc(100vh - 4.6px); // magic number
    }

  }

  &__marker {
    position: absolute;
  }

  &__rift-detail {

    display: none;
    position: absolute;
    left: 292px;
    bottom: $size-medium;
    width: 220px;

    &--visible {
      display: block;
      animation: rift-detail-show 230ms ease-in-out;
    }

  }

}
