@keyframes rift-detail-show {
  from {
    opacity: 0;
    transform: translateY($size-default);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

$mapPanelWidth: ($size-base * 85);
$mapPanelIconHeight: 42px;
$mapPanelIconWidth: ($mapPanelIconHeight - 2px);

.pcp-mapping {

  margin: $size-medium 0;

  // ---------------------------------------------------------------------------

  &--fullscreen {
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-fsa-site-bg;
    z-index: 2;
  }

  // ---------------------------------------------------------------------------

  &__hd {}

  &__cardbar {}

  &__bd {

    position: relative;
    overflow: hidden;
    border: 1px solid $color-fsa-tertiary-200;
    border-top: 0;
    background-color: $color-white;

  }

  &__ft {}

  // ---------------------------------------------------------------------------
  // Quantity Queries for Commodity Tabs. Labels are known to be 2- or 3-letter
  // combinations, so we can adjust font-size depending on quantity of tabs

  // if at least 11 tabs
  .fsa-content-tabs__item:nth-last-child(n+11),
  .fsa-content-tabs__item:nth-last-child(n+11) ~ .fsa-content-tabs__item {
    .fsa-content-tabs__label {
      @include font-size(3);
    }
  }

  // if at least 15 tabs
  .fsa-content-tabs__item:nth-last-child(n+15),
  .fsa-content-tabs__item:nth-last-child(n+15) ~ .fsa-content-tabs__item {
    .fsa-content-tabs__label {
      @include font-size(2);
    }
  }

  // if at least 18 tabs
  .fsa-content-tabs__item:nth-last-child(n+18),
  .fsa-content-tabs__item:nth-last-child(n+18) ~ .fsa-content-tabs__item {
    .fsa-content-tabs__label {
      @include font-size(1);
    }
  }

  // if at least 21 tabs
  .fsa-content-tabs__item:nth-last-child(n+21),
  .fsa-content-tabs__item:nth-last-child(n+21) ~ .fsa-content-tabs__item {
    .fsa-content-tabs__label {
      @include font-size(0);
    }
  }

  // ---------------------------------------------------------------------------

  &__panel {

    will-change: transform;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: $mapPanelWidth;
    min-width: ($mapPanelWidth * .8);
    max-width: ($mapPanelWidth * 2);
    background-color: $color-white;
    border-right: 1px solid $color-fsa-tertiary-200;
    transform: translateX(-100%);
    transition: all .23s ease-in-out;
    z-index: 1001;

    display: flex;
    flex-direction: column;

    // scss-lint:disable SelectorFormat
    .pcp-mapping--fullscreen & {
      width: ($size-base * 100);
    }

    &--visible {
      box-shadow: 0 0 $size-small rgba(0, 0, 0, .4);
      transform: translateX(0);
    }

  }

  &__panel-toggle {
    position: absolute;
    right: -$mapPanelIconWidth;
    top: $size-default;
    z-index: -1;
  }

  &__panel-splitter {

    $splitter-width: $size-base;

    display: none;
    position: absolute;
    right: -($splitter-width * 2);
    top: 0;
    bottom: 0;
    border-left: $splitter-width solid transparent;
    border-right: $splitter-width solid transparent;
    cursor: ew-resize;

    // scss-lint:disable SelectorFormat
    .pcp-mapping__panel--visible & {
      display: block;
    }

    &:hover {
      border-left-color: $color-fsa-aqua;
    }

    &:active {
      border-left-color: $color-fsa-aqua-900;
    }

  }

  &__panel-btn {

    appearance: none;
    border: 0;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: $mapPanelIconWidth;
    height: $mapPanelIconHeight;
    background-color: $color-fsa-site-bg;
    text-align: center;
    border-left: 1px solid $color-fsa-tertiary-200;
    border-radius: 0 4px 4px 0;
    box-shadow: 2px 2px $size-small rgba(0, 0, 0, .4);
    // transition: background .23s ease-in-out;

    &:hover {
      color: $color-fsa-link-hover;
    }

    &:active {
      background-color: $color-fsa-link-hover;
      color: $color-fsa-white;
    }

    &--toggled {
      transform: scaleX(-1);
      border-right: 1px solid $color-fsa-tertiary-200;
      border-radius: 4px 0 0 4px;
      box-shadow: -2px 2px $size-small rgba(0, 0, 0, .4);
    }

  }

  &__panel-bd {

    display: flex;
    flex-direction: column;

    &--scrollable {
      display: flex;
      flex-direction: column;
      overflow: auto;
    }

  }

  &__panel-bd--splitter {

    $splitter-height: $size-base;

    height: ($splitter-height * 3);
    margin-top: -($splitter-height + ($splitter-height / 2));
    margin-bottom: -($splitter-height + ($splitter-height / 2));
    cursor: ns-resize;
    z-index: 2;

    &:before,
    &:after {
      content: '';
      display: block;
      height: $splitter-height;
    }

    i {
      display: block;
      height: $splitter-height;
    }

    &:hover {
      i {
        background-color: $color-fsa-aqua;
      }
    }

    &:active {
      i {
        background-color: $color-fsa-aqua-900;
      }
    }

  }

  &__panel-bd-scroll-item {

    overflow: auto;
    min-height: 124px;

    @supports (position: sticky) {
      border-top: 0;
    }

    &--no-scroll {
      min-height: initial;
      overflow: initial;
    }

  }

  &__map {

    min-height: 591px;
    height: 70vh;
    overflow: hidden;

    // scss-lint:disable SelectorFormat
    .pcp-mapping--fullscreen & {
      border: 0;
      height: calc(100vh - 94px);
      // 94px is a magic number.
      // It's the cumulative height of .pcp-mapping__hd and .pcp-mapping__cardbar
    }

  }

  &__PLACEHOLDER {
    max-width: none;
  }

  // ---------------------------------------------------------------------------

  &__tools-primary {

    position: absolute;
    top: $size-small;
    right: $size-small;

  }

  &__tools-secondary {

    position: absolute;
    bottom: $size-small;
    right: $size-small;

  }

  &__zoom {

    $icon-size: $size-large;

    position: relative;
    appearance: none;
    border: 0;
    padding: 0;
    margin: 0;
    display: inline-block;
    text-indent: $icon-size * 5;
    overflow: hidden;
    width: $icon-size;
    height: $icon-size;
    background-color: $color-white;
    box-shadow: 0 0 $size-small rgba(0, 0, 0, .4);

    &--toggled {
      background-color: $color-fsa-tertiary-200;
    }

  }

  &__tool {

    width: ($size-base * 10);
    background-color: $color-white;
    box-shadow: 0 0 $size-small rgba(0, 0, 0, .4);
    margin-top: $size-small;
    position: relative;

    &:first-child {
      margin-top: 0;
    }

  }

  &__slider {
    height: 240px;
    border-bottom: 1px solid $color-fsa-tertiary-200;
  }

  &__btn {

    @include reset-button();
    display: block;
    text-align: center;
    width: 100%;
    padding: $size-small;
    // transition: background .23s ease-in-out;

    &[disabled] {
      opacity: .4;
      cursor: not-allowed;
    }

    &:not([disabled]):hover {
      color: $color-fsa-link-hover;
    }

    &:not([disabled]):active {
      background-color: $color-fsa-link-hover;
      color: $color-fsa-white;
    }

    &--adj {
      border-top: 1px solid $color-fsa-tertiary-200;
    }

  }

  &__fullscreen { }

  &__legend {
    width: 21px;
  }

  &__reset {
    width: 18px;
  }

  &__layers {}

  &__zoom-in,
  &__zoom-out {
    width: 18px;
  }

  &__home { }

  // ---------------------------------------------------------------------------

  &__marker {
    position: absolute;
  }

  &__rift-detail {

    display: none;
    position: absolute;
    left: $mapPanelWidth + $size-medium;
    bottom: $size-medium;
    width: 220px;

    &--visible {
      display: block;
      animation: rift-detail-show 230ms ease-in-out;
    }

  }

}
