.pcp-footer-TEMP {

  margin-top: $size-extra-large;
  padding-left: $size-default;
  padding-right: $size-default;
  background-color: $color-fsa-tertiary-100;

  &__bd {
    margin-left: auto;
    margin-right: auto;
    max-width: $site-max-width;
    text-align: center;
    padding: 11vh 0;
    color: $color-fsa-tertiary-300;
  }

}
