.pcp-content-tabs {

  &--shrink {

    display: flex;

  }

  &__list {

    width: 100%;
    display: table;
    table-layout: fixed;
    list-style: none;

    &--shrink {
      width: auto;
      flex: 1;
    }

  }

  &__aside {

    display: none;

    &--shrink {
      display: block;
      flex: 2;
      content: '';
      border-bottom: 1px solid $color-fsa-tertiary-200;
    }

  }

  &__item {
    display: table-cell;
  }

  &__label {

    @include font-size(4);
    display: block;
    text-decoration: none;
    padding: $size-small $size-medium;
    border: solid transparent;
    border-bottom-color: $color-fsa-tertiary-200;
    border-width: $size-base 1px 1px;
    color: $color-fsa-base;
    text-align: center;

    &:visited {
      color: inherit;
    }

    &:hover {
      color: inherit;
    }

    &--active {
      border-color: $color-fsa-secondary $color-fsa-tertiary-200 transparent;
    }

    &--unsaved {
      &:after {
        // content: '•';
        content: '\2022';
        // float: right;
        color: $color-fsa-tertiary-300;
        font-size: 24px;
        line-height: 1;
        margin-left: $size-small;
      }
    }

    &--small {
      @include font-size(3);
    }

    &--large {
      @include font-size(5);
    }

    &--contrast {
      background-color: $color-fsa-white;
    }

  }

}
