.pcp-brand {

  @include clearfix;

  &__logo {

    display: none;

    @include breakpoint(M) {
      display: block;
      height: ($size-base * 9);
      float: left;
      margin-right: $size-small;
      height: ($size-base * 11);
      margin-right: $size-default;
    }

  }

  &__label {

    white-space: nowrap;
    display: block;
    color: $color-fsa-white;

  }

  &__usda {

    @include font-size(1);
    display: block;

  }

  &__agency {

    @include font-size(4);
    display: block;
    line-height: 1;
    font-weight: $font-bold;

  }

  &__us-trunc {
    display: none;
  }

  &__us-initial {

    &:after {
      content: '.'
    }

    & ~ & {
      margin-left: -2px;
    }

  }

}
