.pcp-content-tabs {

  $tab-padding: $size-small;

  display: flex;

  &--justified {}

  &__list {

    display: table;
    list-style: none;
    width: auto;

    // scss-lint:disable SelectorFormat
    .pcp-content-tabs--justified & {
      width: 100%;
    }

    .pcp-content-tabs--justified-equal & {
      width: 100%;
      table-layout: fixed;
    }

  }

  &__aside {

    display: block;
    flex: 1;
    content: '';
    border-bottom: 1px solid $color-fsa-tertiary-200;

    // scss-lint:disable SelectorFormat
    .pcp-content-tabs--justified &,
    .pcp-content-tabs--justified-equal & {
      display: none;
    }


  }

  &__item {
    display: table-cell;
  }

  &__label {

    @include font-size(4);
    display: block;
    text-decoration: none;
    padding: $tab-padding ($tab-padding * 2) ($tab-padding + $size-base);
    border-bottom: 1px solid $color-fsa-tertiary-200;
    color: $color-fsa-base;
    text-align: center;
    outline: 1px solid red;

    span {
      display: inline-block;
      box-shadow: 0 $size-base 0 0 $color-fsa-secondary inset;
      outline: 1px solid red;
    }

    &:visited {
      color: inherit;
    }

    &:hover {
      color: inherit;
    }

    &--unsaved {
      &:after {
        // content: '•';
        content: '\2022';
        // float: right;
        color: $color-fsa-tertiary-300;
        font-size: 24px;
        line-height: 1;
        margin-left: $tab-padding;
      }
    }

    &--small {

      @include font-size(3);

      padding: ($tab-padding - $size-base) ($tab-padding + $size-base) $tab-padding;


    }

    &--large {

      @include font-size(5);
      padding-left: ($tab-padding * 3);
      padding-right: ($tab-padding * 3);

    }

    &--contrast {
      background-color: $color-fsa-white;
    }

    // scss-lint:disable SelectorFormat
    .pcp-content-tabs--justified & {
      padding-left: ($tab-padding / 2);
      padding-right: ($tab-padding / 2);
    }

  }

}
