.pcp-table {

  margin-top: 1em;

  &__row {

  }

  &__cell {

    &--inactive {

      color: tint($color-fsa-tertiary, 60%);
      background-color: $color-fsa-tertiary-100;

      .pcp-table__row--inactive:hover & {
        color: initial;
      }

    }

  }

}
