
.pcp-adjust {

  $padding: $size-base;

  &__hd {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &__title {
    @include font-size(2);
    text-transform: uppercase;
    margin: 0;
    padding: ($padding * 2) ($padding * 3);
    background-color: $color-fsa-tertiary-100;
    font-weight: $font-bold;
    font-family: $font-sans;
    color: $color-fsa-tertiary;
  }

  // ---------------------------------------------------------------------------

  &__bd {} // no rules to begin with, keep though.

  // ---------------------------------------------------------------------------

  &__table {
    margin: 0;
    table-layout: fixed;
    min-width: ($mapPanelWidth * .9);
  }

  &__th,
  &__td {

    @include font-size(2);

    padding: $padding;

    &--first {
      padding-left: ($padding * 3);
    }

    &--last {
      padding-right: $padding;
    }

    &--adj {

      background-color: $color-fsa-site-bg;
      padding-left: ($padding * 3);

      &.pcp-adjust__th--last,
      &.pcp-adjust__td--last {
        padding-left: $padding;
        padding-right: $padding;
      }

      &.pcp-adjust__th--last {
      }

    }

    &--number {
      text-align: right;
    }

    &--bisect {
      border-right: 1px solid $color-fsa-tertiary-200;
      padding-right: ($padding * 3);
    }

  }

  &__th {

    font-size: $font-size-0 - .1rem;
    padding-top: $padding * 2;
    text-transform: uppercase;

    &--adj {}

  }

  &__td {

    &--adj {}

    &--editable {
      padding-left: ($padding * 2);
    }

  }

  &__spinbox {

    &--focused {}

  }

  // ---------------------------------------------------------------------------

  &__ft {}

  // ---------------------------------------------------------------------------

  abbr {
    border-bottom: 0;
    text-decoration: none;
  }

}
