
.pcp-map-toolbar {

  &__bd {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    position: relative;
    z-index: 1;
    background-color: $color-white;
    border: 1px solid $color-fsa-tertiary-200;
    border-width: 0 1px 1px;
    padding: $size-small $size-default;
    box-shadow: 0 $size-default $size-medium (-$size-default) rgba(0, 0, 0, .4);
  }

	&__unit {

    white-space: nowrap;
    line-height: 1;
    margin-right: $size-medium;
    text-align: center;
    transition: width .23s ease-in-out;

    &--split {
      margin-left: auto;
    }

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
      margin-right: 0;
    }

	}

	&__title {
    @include font-size(4);
    margin: 0;
    max-width: 284px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: ($size-base / 2);
    word-wrap: normal;
  }

}
