.pcp-table {

  $inactive-text-color: tint($color-fsa-tertiary, 50%);
  $inactive-bgc: $color-fsa-tertiary-100;

  $highlight-text-color: tint($color-fsa-tertiary, 50%);
  $highlight-bgc: $color-fsa-aqua-100;

  margin-top: 1em;

  th:first-child,
  td:first-child {
    @include breakpoint(M) {
      padding-left: $size-default;
    }
  }

  th:last-child,
  td:last-child {
    @include breakpoint(M) {
      padding-right: $size-default;
    }
  }

  &--fixed {
    table-layout: fixed;
  }

  &--middle th,
  &--middle td {
    vertical-align: middle;
  }

  &__row {

    &--inactive {

      color: $inactive-text-color;
      background-color: $inactive-bgc;

      &:hover {
        color: initial;
        cursor: default;
      }

      th:before,
      td:before {
        color: $inactive-text-color;
      }

    }

    &--highlight {

      transition: background .23s ease-in-out;
      background-color: $highlight-bgc;

      &--suppressed {
        background-color: initial;
      }

    }

  }

  &__cell {

    &--highlight {

      transition: background .23s ease-in-out;
      background-color: $highlight-bgc;
      // box-shadow: 1px 0 0 0 $color-fsa-tertiary-200 inset, -1px 0 0 0 $color-fsa-tertiary-200 inset;

      // & + & {
      //   box-shadow: -1px 0 0 0 $color-fsa-tertiary-200 inset;
      // }

      &--suppressed {
        background-color: initial;
        box-shadow: none;
      }

    }

  }

  &__th {

    font-weight: $font-bold;

    &--pair {
      // scss-lint:disable ImportantRule
      border-bottom: 0 !important; // refactor to remove important
      padding-bottom: 0 !important; // refactor to remove important
    }

    &--sub {
      font-weight: $font-normal;
    }

    &--sticky {

      position: sticky;
      top: -1px;
      background-color: $color-fsa-site-bg;
      z-index: 2;
      box-shadow: 0 1px 0 0 $table-border-color;

      &.pcp-table__th--pair {
        box-shadow: none;
      }

    }

  }

  &__sort {

    @include pcp-button-reset;

    display: block;
    width: 100%;
    white-space: nowrap;

    &:focus,
    &:hover {
      color: $color-fsa-link-hover;
    }

    &:after {
      content: '';
      background-size: 100%;
      width: 12px;
      height: 12px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -2px;
      margin-left: 4px;
    }

    &--up:after {
      background-image: url('../img/chevron-up.png');
      background-image: url('../img/chevron-up.svg');
    }

    &--down:after {
      background-image: url('../img/chevron-down.png');
      background-image: url('../img/chevron-down.svg');
    }

  }

  @media print {
    margin-top: 2em;
  }

}

// scss-lint:disable QualifyingElement SelectorFormat
td.pcp-table__cell--bisect,
th.pcp-table__cell--bisect {
  @include breakpoint(M) {
    border-right: 1px solid $color-fsa-tertiary-200;
  }
}

.pcp-overflow-table {

  position: relative;
  overflow: auto;
  max-height: 62vh;
  margin-top: 1em;
  border: 1px solid $table-border-color;
  border-top-width: 2px;

  > .fsa-table {
    border: 0;
    margin: 0;
  }

  @media screen and (min-height: 720px) {
    max-height: 65vh;
  }

  @media screen and (min-height: 875px) {
    max-height: 63vh;
  }

  @media screen and (min-height: 1024px) {
    max-height: 68vh;
  }

  @media print {
    border-left: 0;
    border-right: 0;
    max-height: none;
  }

}
