.pcp-content-tabs {

  $tab-padding: $size-small;

  display: flex;

  &--justified {}

  &__list {

    display: table;
    list-style: none;
    width: auto;
    flex: 1;

    // scss-lint:disable SelectorFormat
    .pcp-content-tabs--justified & {
      width: 100%;
      table-layout: fixed;
    }

  }

  &__aside {

    display: block;
    flex: 2;
    content: '';
    border-bottom: 1px solid $color-fsa-tertiary-200;

    // scss-lint:disable SelectorFormat
    .pcp-content-tabs--justified & {
      display: none;
    }


  }

  &__item {
    display: table-cell;
  }

  &__label {

    @include font-size(4);
    display: block;
    text-decoration: none;
    padding: $tab-padding ($tab-padding * 2);
    border: solid transparent;
    border-bottom-color: $color-fsa-tertiary-200;
    border-width: $size-base 1px 1px;
    color: $color-fsa-base;
    text-align: center;

    &:visited {
      color: inherit;
    }

    &:hover {
      color: inherit;
    }

    &--active {
      border-color: $color-fsa-secondary $color-fsa-tertiary-200 transparent;
    }

    &--unsaved {
      &:after {
        // content: '•';
        content: '\2022';
        // float: right;
        color: $color-fsa-tertiary-300;
        font-size: 24px;
        line-height: 1;
        margin-left: $tab-padding;
      }
    }

    &--small {

      @include font-size(3);
      padding-left: ($tab-padding + $size-base);
      padding-right: ($tab-padding + $size-base);

    }

    &--large {

      @include font-size(5);
      padding-left: ($tab-padding * 3);
      padding-right: ($tab-padding * 3);

    }

    &--contrast {
      background-color: $color-fsa-white;
    }

    .pcp-content-tabs--justified & {
      padding-left: ($tab-padding / 2);
      padding-right: ($tab-padding / 2);
    }

  }

}
