.WIP-proceeder {

  $component-bgcolor-default: $white;
  $component-border-color: $color-fsa-tertiary-200;
  $component-padding: $size-default;

  & {

    margin: $size-large (-$size-default);
    background-color: $component-bgcolor-default;
    border-top: 1px solid $component-border-color;
    padding: $component-padding;
    transition: margin .23s ease-in-out;

    @include breakpoint(L) {
      border: 1px solid $component-border-color;
      margin-left: 0;
      margin-right: 0;
    }

    @include breakpoint(XL) {
      margin-left: -$size-default;
      margin-right: -$size-default;
    }

  }

  &--sticky {

    position: sticky;
    z-index: 1001;
    box-shadow: 0 0 $size-medium rgba(0, 0, 0, .3);
    border-color: shade($component-border-color, 20%);
    bottom: 0;

    @include breakpoint(L) {
      bottom: $size-default;
    }

  }

  &--unstuck {

    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    border-color: $component-border-color;

    @include breakpoint(L, down) {
      border: 1px solid $component-border-color;
    }

  }

  &__hd {}

  &__bd {
    @include breakpoint(L) {
      display: flex;
    }
  }

  &__item {

    & {
      margin-bottom: $size-default;
      @include breakpoint(L) {
        margin-right: $size-default;
        margin-bottom: 0;
      }
    }

    &--primary {
      margin-left: auto;
      margin-right: 0;
      margin-bottom: 0;
    }

  }

  &__btn {
    display: block;
    width: 100%;
  }

}
