.WIP-proceeder {

  $component-bgcolor-default: $white;
  $component-border-color: $color-fsa-tertiary-200;
  $component-padding: $size-default;

  & {

    margin: $size-large (-$size-default);
    background-color: $component-bgcolor-default;
    border-top: 1px solid $component-border-color;
    padding: $component-padding;
    transition: all .23s ease-in-out;

    @include breakpoint(L) {
      margin-left: 0;
      margin-right: 0;
    }

    @include breakpoint(XL) {
      border: 1px solid $component-border-color;
      margin-left: -$size-default;
      margin-right: -$size-default;
    }

  }

  &--sticky {

    position: sticky;
    z-index: 1001;
    box-shadow: 0 0 $size-medium rgba(0, 0, 0, .3);
    border-color: shade($component-border-color, 20%);
    bottom: 0;
    margin-left: -$size-default;
    margin-right: -$size-default;

    @include breakpoint(XL) {
      bottom: $size-default;
    }

  }

  &--unstuck {
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid $component-border-color;
  }

  &__hd {}

  &__bd {
    @include breakpoint(L) {
      display: flex;
      align-items: center;
    }
  }

  &__secondary,
  &__primary {
    @include breakpoint(L) {
      display: flex;
      align-items: center;
    }
  }

  &__message {

    @include font-size(3);
    margin-bottom: $size-default;
    text-align: center;

    @include breakpoint(L) {
      @include font-size(4);
      text-align: left;
      margin-bottom: 0;
      margin-right: $size-default;
      padding-left: $size-small;
    }

  }

  &__message-icon {

    margin-right: $size-small;

    @include breakpoint(L) {
      margin-left: $size-base;
    }

  }

  &__secondary {

    margin-bottom: $size-default;
    margin-right: auto;

    @include breakpoint(L) {
      margin-bottom: 0;
    }

  }

  &__primary {
    margin-left: auto;
  }

  &__item {

    & {

      margin-bottom: $size-default;

      @include breakpoint(L) {
        margin-right: $size-default;
        margin-bottom: 0;
      }

    }

    &:last-child {
      margin-left: auto;
      margin-right: 0;
      margin-bottom: 0;
    }

  }

  &__btn {
    display: block;
    width: 100%;
  }

}
