// pcp.prototype ---------------------------------------------------------------

$hint-color: rgba(255, 69, 0, .8);

// scss-lint:disable SelectorFormat
.OUTLINE {
  outline: 1px solid $hint-color;
}

.HINT {

  .HINT-SHOW & {

    // scss-lint:disable all
    box-shadow:
      0 5000px 0 0 transparentize($hint-color, .7) inset,
      0 5000px 0 0 transparentize($hint-color, .7) inset,
      0 0px 0 7px transparentize($hint-color, .6)
    ;
    outline: 2px dashed $hint-color;
    outline-offset: 5px;

    &.pcp-content-tabs__label--active {
      box-shadow: none;
      outline: none;
    }

  }

  .fsa-radio:checked + &,
  .fsa-radio:disabled + &,
  .fsa-checkbox:disabled + & {
    box-shadow: none;
    outline: none;
  }

  &--HIDDEN-BLOCK {

    @include font-size(2);
    display: none;
    padding: $size-small;

    .HINT-SHOW & {
      display: block;
      outline-offset: 0;
      box-shadow: none;
      background-color: transparentize($hint-color, .7);
    }

  }

  &:disabled {
    outline: none;
    box-shadow: none;
  }

}

.pcp-marker-demo {
  position: relative;
}

.pcp-prototype-popover-demo {

  padding: 300px 400px;
  text-align: center;
  border: 1px solid $color-fsa-tertiary-200;
  background-color: $color-fsa-tertiary-100;
  margin-bottom: $size-extra-large;

}

.pcp-code-block {

  background-color: white;
  border: 1px solid $color-fsa-tertiary-100;
  padding: $size-medium;

  &--hidden {
    display: none;
  }

  code {
    background-color: transparent;
  }

}

.pcp-prototype-home {}

.pcp-prototype-index {

  &__title {

    line-height: 1;
    font-size: $font-size-3;
    font-family: $font-sans;
    font-weight: $font-bold;
    background-color: $color-fsa-secondary-100;
    margin: (-$size-small) (-$size-small) $size-default;
    padding: $size-small;
    position: sticky;
    top: (-$size-small);

    .pcp-prototype-home & {
      display: none;
    }

  }

  &--docked {

    @include breakpoint(L) {

      background-color: white;
      border: 1px solid $color-fsa-secondary;
      border-top-width: $size-base;
      border-bottom-width: 0;
      padding: $size-small;
      box-shadow: -2px 0 19px 0 rgba(0, 0, 0, .4);

      width: 320px;
      position: fixed;
      right: ($size-extra-large * 2);
      max-height: 70vh;
      overflow: hidden;
      z-index: 9999999;
      top: 100%;
      top: calc(100% - 36px);
      display: none;

      html:hover & {
        display: block;
      }

      &:hover {
        overflow: auto;
        top: auto;
        bottom: 0;
      }

      @media print {
        display: none !important;
      }

    }

    .pcp-prototype-home & {
      // scss-lint:disable ImportantRule
      display: none !important;
    }

    @media print {
      display: none;
    }

  }

}

.pcp-prototype-title {

  font-family: $font-sans;
  border-top: 2px solid $color-fsa-secondary-900;
  font-weight: $font-normal;

  .pcp-prototype-index--docked & {
    @include h4();
    text-transform: uppercase;
    margin-top: .5em;
    bottom: 0;
    font-weight: $font-bold;
  }

}

.pcp-prototype-listing {

  @include reset-ul();

  @include breakpoint(M) {

    columns: 4;

    .pcp-prototype-index--docked & {
      columns: 1;
    }

  }

  &--go-home {

    display: none;

    .pcp-prototype-index--docked & {
      display: block;
    }

  }

  &__u {

    @include reset-li();
    margin-bottom: $size-small;

    @include breakpoint(M) {
      display: inline-block;
      width: 100%;
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
    }

  }

}

.PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION {

  // FAKING TAB CONTENT SWAP ---------------------------------------------------

  &__ITEM {
    display: none;
  }

  &__ITEM--ACTIVE {
    display: block;
  }

}

// scss-lint:disable SelectorFormat
.TBD {
  background-color: white;
  border: 1px solid $color-fsa-tertiary-200;
  padding: $size-default;
  text-align: center;
  font-size: 72px;
  font-weight: bold;
  color: $color-fsa-tertiary-100;
  text-shadow: -1px -1px 0 $color-fsa-tertiary-200;
}
