// TO MOVE TO fsa-style --------------------------------------------------------

.fsa-modal {

  &__title {
    margin-bottom: .5em;
  }

  &__content {

    margin-bottom: $size-medium;

    .fsa-modal--fullscreen & {
      min-height: calc(100vh - 5rem); // magic number
    }

  }

}

.fsa-textarea[rows] {
  height: auto;
  min-height: 6rem;
}

fieldset[disabled] {
  opacity: .5;
}

.fsa-btn--flat {
  text-align: left;
}

.sr-only {
  @include sr-only();
}

.fsa-content-tabs__label {
  width: 100%;
}

.fsa-email-string {
  word-break: break-all;
  overflow-wrap: break-word;
}

.fsa-label {
  h1 & {
    position: relative;
    top: -$size-base;
    margin-left: $size-base;
  }
}

.fsa-label,
.fsa-badge {
  &[disabled] {
    opacity: .65;
    filter: saturate(70%);
    cursor: not-allowed;
  }
}
