.pcp-section {

  padding-left: 1.2rem;
  padding-right: 1.2rem;

  &__bd {
    margin-left: auto;
    margin-right: auto;
    max-width: 1040px;
  }

}


.asdfasdf {

  display: flex;

  &__qwer {
    flex: 1;
  }

}
