{% include: 'includes/html.html' %}

{% include: 'includes/head.html' @title:'Component' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.html' %}

  {% include: 'includes/skipnav.html' %}

  <header>
    {% include: 'includes/pcp-header-project.html' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <h1 class="fsa-font--sans">Component: Growl</h1>

        <p class="fsa-text--lead">Inserted into beginning of DOM, i.e. first element in <code>&lt;body&gt;</code></p>

        <pre><code>&lt;div class="pcp-growl-container"&gt;
  &lt;div class="<strong style="color:black">pcp-growl pcp-growl--[variation]</strong>"&gt;...&lt;/div&gt;
&lt;/div&gt;</code></pre>

        <p>To center it in a modal fashion use...</p>

        <pre><code>&lt;div class="pcp-growl-container pcp-growl-container<strong style="color:black">--centered</strong>"&gt;...&lt;/div&gt;</code></pre>

        <div class="fsa-grid">
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="fsa-font--sans">As seen on</h2>
            <ul>
              <li><a href="markets_add-success.html">markets_add-success.html</a></li>
              <li><a href="markets_edit-error.html">markets_edit-error.html</a></li>
            </ul>
          </div>
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="fsa-font--sans">FSA Design System References</h2>
            <ul>
              <li><a href="http://usda-fsa.github.io/fsa-design-system/?preview">FSA Design System</a></li>
            </ul>
          </div>
        </div>

        <h2 class="fsa-font--sans">Variations</h2>

        {% include: 'includes/growl.html' %}

      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/prototype-list.html' @class:'pcp-prototype-list' %}
  </footer>

  {% include: 'includes/scripts.html' %}

</body>

</html>
