{% include: 'includes/html.html' %}

{% include: 'includes/head.html' @title:'Component' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.html' %}

  {% include: 'includes/skipnav.html' %}

  <header>
    {% include: 'includes/pcp-header-project.html' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <h1 class="fsa-font--sans">Component: Rift Detail</h1>

        <p class="fsa-text--lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam quia, rem sapiente, ratione exercitationem eveniet voluptatem?</p>

        <pre class="pcp-code-block"><code>&lt;div class="<strong style="color:black">pcp-rift-detail</strong>"&gt; ... &lt;/div&gt;</code></pre>

        <div class="fsa-grid">
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="fsa-font--sans">As seen on</h2>
            <ul>
              <li><a href="asdfasdf">asdfasdf</a></li>
              <li><a href="asdfasdfqwerqwer">asdfasdfqwerqwer</a></li>
            </ul>
          </div>
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="fsa-font--sans">FSA Design System References</h2>
            <ul>
              <li><a href="http://usda-fsa.github.io/fsa-design-system/?preview">FSA Design System</a></li>
            </ul>
          </div>
        </div>

        <h2 class="fsa-font--sans">Sample</h2>

        <div class="fsa-grid">
          <div class="fsa-grid__3/12">
            {% include: 'includes/rift-detail.html' %}
          </div>
          <div class="fsa-grid__9/12">

            <p>
              <button class="fsa-btn fsa-btn--primary" onclick="pcpDemoHighlightText('UNIQUE-ID-09524')" type="button">Highlight <strong>"NE - Boone, GLF"</strong></button>
              <button class="fsa-btn fsa-btn--primary" onclick="pcpDemoHighlightText('UNIQUE-ID-74851')" type="button">Highlight <strong>"Co - Phillips..., KCM"</strong></button>
            </p>
            <p>
              <button class="fsa-btn fsa-btn--primary" onclick="pcpDemoDominantInteriorSwap('UNIQUE-ID-885452', 'UNIQUE-ID-356458', 'UNIQUE-ID-09524', 'UNIQUE-ID-3235687')" type="button">Swap Dominant/Interior for <strong>"NE - Boone, GLF"</strong></button>
            </p>
            <p>
              <button class="fsa-btn fsa-btn--primary" onclick="pcpDemoMarker('UNIQUE-ID-12346', false)" type="button">Change to <strong>Normal</strong></button>
              <button class="fsa-btn fsa-btn--primary" onclick="pcpDemoMarker('UNIQUE-ID-12346','pcp-marker--high')" type="button">Change to <strong>High</strong></button>
              <button class="fsa-btn fsa-btn--primary" onclick="pcpDemoMarker('UNIQUE-ID-12346','pcp-marker--low')" type="button">Change to <strong>Low</strong></button>
            </p>
            <p>
              <button class="fsa-btn fsa-btn--primary" onclick="pcpDemoMarkerModified('UNIQUE-ID-12346')" type="button">Toggle Modified</button>

            </p>

          </div>
        </div>


      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/pcp-footer-project.html' %}
  </footer>

  {% include: 'includes/scripts.html' %}

</body>

</html>
