{% include: 'includes/html.html' %}

{% include: 'includes/head.html' @title:'Component' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.html' %}

  {% include: 'includes/skipnav.html' %}

  <header>
    {% include: 'includes/pcp-header-project.html' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <h1>Component: Info Bar</h1>

        <pre class="pcp-code-block"><code>class="<strong style="color:black">pcp-info-bar</strong>"</code></pre>

        <div class="fsa-grid">
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="pcp-prototype-title">As seen on</h2>
            <ul>
              <li><a href="workflow_price-discovery.html">Daily Process</a></li>
            </ul>
          </div>
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="pcp-prototype-title">FSA Design System References</h2>
            <ul>
              <li><a href="http://usda-fsa.github.io/fsa-design-system/?preview">FSA Design System</a></li>
            </ul>
          </div>
        </div>

        <h2 class="pcp-prototype-title">Default</h2>

        {% include: 'includes/pcp-info-bar.html' %}

        <h2 class="pcp-prototype-title">Samples</h2>

        <h3 class="fsa-font--sans">Readonly</h3>

        {% include: 'includes/pcp-info-bar__readonly.html' %}

        <h3 class="fsa-font--sans">No notes</h3>

        {% include: 'includes/pcp-info-bar__noteless.html' %}

        <h3 class="fsa-font--sans">Can't edit, short note</h3>

        {% include: 'includes/pcp-info-bar__short.html' %}

      </div>


    </div>


  </main>

  <footer>
    {% include: 'includes/pcp-footer-project.html' %}
  </footer>

  {% include: 'includes/pcp-modal__edit-workflow.html' %}
  {% include: 'includes/pcp-modal__edit-workflow__readonly.html' %}

  {% include: 'includes/scripts.html' %}


</body>

</html>
