{% include: 'includes/html.njk' %}

{% include: 'includes/head.njk' @title:'Component' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.njk' %}

  {% include: 'includes/skipnav.njk' %}

  <header>
    {% include: 'includes/pcp-header-project.njk' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <h1>Component: Modal</h1>

        <pre class="pcp-code-block"><code>class="<strong style="color:black">fsa-modal fsa-modal--[variation]</strong>"</code></pre>

        <div class="fsa-grid">
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="pcp-prototype-title">Variations</h2>
            <p>
              <button data-behavior="open-modal" data-target="UNIQUE-ID-GGFD36765SSSGH" type="button">Default</button>
              <button data-behavior="open-modal" data-target="UNIQUE-ID-2345SFGER99786" type="button">Top</button>
              <button data-behavior="open-modal" data-target="UNIQUE-ID-23458CF9J99DIS" type="button">Small</button>
              <button data-behavior="open-modal" data-target="UNIQUE-ID-23458CF77S77S7" type="button">Large</button>
              <button data-behavior="open-modal" data-target="UNIQUE-ID-23451CF80S77S9" type="button">Fullscreen</button>
            </p>
          </div>
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="pcp-prototype-title">As seen on</h2>
            <ul>
              <li><a href="settings_commodities.njk">Settings</a> (Click "Add" or "California Central Coast")</li>
            </ul>
          </div>
        </div>

      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/pcp-footer-project.njk' %}
  </footer>

  {% include: 'includes/pcp-modal_doc__default.njk' %}
  {% include: 'includes/pcp-modal_doc__top.njk' %}
  {% include: 'includes/pcp-modal_doc__small.njk' %}
  {% include: 'includes/pcp-modal_doc__large.njk' %}
  {% include: 'includes/pcp-modal_doc__fullscreen.njk' %}

  {% include: 'includes/scripts.njk' %}

</body>

</html>
