{% include: 'includes/html.njk' %}

{% include: 'includes/head.njk' @title:'Component' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.njk' %}

  {% include: 'includes/skipnav.njk' %}

  <header>
    {% include: 'includes/pcp-header-project.njk' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <h1>Component: Growl</h1>

        <p class="fsa-text--lead">Inserted into beginning of DOM, i.e. first element in <code>&lt;body&gt;</code></p>

        <pre class="pcp-code-block"><code>&lt;div class="fsa-growl-container"&gt;
  &lt;div class="<strong style="color:black">fsa-growl fsa-growl--[variation]</strong>"&gt;...&lt;/div&gt;
&lt;/div&gt;</code></pre>

        <p>To center it in a modal fashion use...</p>

        <pre class="pcp-code-block"><code>&lt;div class="fsa-growl-container fsa-growl-container<strong style="color:black">--centered</strong>"&gt;...&lt;/div&gt;</code></pre>

        <div class="fsa-grid">
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="pcp-prototype-title">As seen on</h2>
            <ul>
              <li><a href="settings_commodities.njk">settings_commodities.njk</a> (Click "Add", and then submit form "Save")</li>
              <li><a href="settings_markets__add-success.njk">settings_markets__add-success.njk</a></li>
              <li><a href="settings_markets__error.njk">settings_markets__error.njk</a></li>
              <li><a href="workflow_mapping.njk">workflow_mapping.njk</a> (Click "Save" or "Reset")</li>
            </ul>
          </div>
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="pcp-prototype-title">FSA Design System References</h2>
            <ul>
              <li><a href="http://usda-fsa.github.io/fsa-design-system/?preview">FSA Design System</a></li>
            </ul>
          </div>
        </div>

        <div class="fsa-grid">
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="pcp-prototype-title">Variations</h2>
            {% include: 'includes/growl.njk' %}
          </div>
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="pcp-prototype-title">Samples</h2>
            {% include: 'includes/growl_map-reset-confirm.njk' @ID:'unique-id-55sssss55om' %}
            {% include: 'includes/growl_map-save.njk' @ID:'unique-id-55s55h55from' %}
            {% include: 'includes/growl_add-success.njk %}
            {% include: 'includes/growl_map-reset.njk %}
            {% include: 'includes/growl_edit-error.njk @ID:'unique-id-ehje96s6x5' %}
            <style>
            .fsa-growl[aria-hidden="true"] {
              display: block;
            }
            </style>
          </div>
        </div>
      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/pcp-footer-project.njk' %}
  </footer>

  {% include: 'includes/scripts.njk' %}

</body>

</html>
