{% include: 'includes/html.html' %}

{% include: 'includes/head.html' @title:'Component' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.html' %}

  {% include: 'includes/skipnav.html' %}

  <header>
    {% include: 'includes/pcp-header-project.html' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <h1>Component: Select Multi</h1>

        <p class="fsa-text--lead">Effectively a replacement for <code>&lt;select <strong style="color:black">multiple</strong>&gt;...&lt;/select&gt;</code>, though far more user-friendly as select multiple requires users to Ctrl (or Cmd) click.</p>

        <pre class="pcp-code-block"><code>class="<strong style="color:black;">fsa-select-multi</strong>"</code></pre>

        <div class="fsa-grid">
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="pcp-prototype-title">As seen on</h2>
            <ul>
              <li><a href="settings_commodities.html">settings_commodities.html</a> (Click "Add" button)</li>
              <li><a href="settings_thing__detail.html">settings_commodities.html</a> (Click "California Central Coast" button)</li>
            </ul>
          </div>
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="pcp-prototype-title">FSA Design System References</h2>
            <ul>
              <li><a href="http://usda-fsa.github.io/fsa-design-system/?preview">FSA Design System</a></li>
              <li><a href="http://usda-fsa.github.io/fsa-design-system/elements/checkbox/">Element: Checkbox</a></li>
            </ul>
          </div>
        </div>

        <h2 class="pcp-prototype-title">Variations / States</h2>

        <h3>Default</h3>

        {% include: 'includes/select-multi.html' %}

        <h3>Disabled</h3>

        {% include: 'includes/select-multi_classes--disabled.html' @UNIQUE_ID:'UNIQUE-ID-eh5s' %}

        <h2 class="pcp-prototype-title">Samples</h2>

        <h3>Markets</h3>

        {% include: 'includes/select-multi_markets.html' %}

        <h3>Classes</h3>

        {% include: 'includes/select-multi_classes.html' @UNIQUE_ID:'UNIQUE-ID-asfw' %}


      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/pcp-footer-project.html' %}
  </footer>

  {% include: 'includes/scripts.html' %}

</body>

</html>
