{% include: 'includes/html.html' %}

{% include: 'includes/head.html' @title:'Component' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.html' %}

  {% include: 'includes/skipnav.html' %}

  <header>
    {% include: 'includes/pcp-header-project.html' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <h1 class="fsa-font--sans">Component: Marker</h1>

        <p class="fsa-text--lead">Lorem ipsum dolor sit...</p>

        <pre style="color:red;background:yellow"><code>(TBD)</code></pre>

        <div class="fsa-grid">
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="fsa-font--sans">As seen on</h2>
            <ul>
              <li><a href="markets_edit-error.html">TBD</a></li>
            </ul>
          </div>
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="fsa-font--sans">FSA Design System References</h2>
            <ul>
              <li><a href="http://usda-fsa.github.io/fsa-design-system/visual-style/color/">Color</a></li>
            </ul>
          </div>
        </div>

        <h2 class="fsa-font--sans">Variations</h2>

        <h3 class="fsa-font--sans">Default (Unchanged)</h3>

        <div class="pcp-marker">-0.08</div>

        <h3 class="fsa-font--sans">Changed</h3>

        <div class="pcp-marker">-0.08</div>

      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/prototype-list.html' @class:'pcp-prototype-list' %}
  </footer>

  {% include: 'includes/scripts.html' %}

</body>

</html>
