{% include: 'includes/html.html' %}

{% include: 'includes/head.html' @title:'Component' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.html' %}

  {% include: 'includes/skipnav.html' %}

  <header>
    {% include: 'includes/pcp-header-project.html' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <h1 class="fsa-font--sans">Component: Field</h1>

        <p><code>class="<strong style="color:black;">fsa-field</strong>"</code></p>

        <div class="fsa-grid">
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="fsa-font--sans">As seen on</h2>
            <ul>
              <li><a href="commodity_add.html">commodity_add.html</a></li>
              <li><a href="commodity_detail.html">commodity_detail.html</a></li>
            </ul>
          </div>
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="fsa-font--sans">FSA Design System References</h2>
            <ul>
              <li><a href="http://usda-fsa.github.io/fsa-design-system/?preview">FSA Design System</a></li>
              <li><a href="http://usda-fsa.github.io/fsa-style/#components">Component: Field</a> (not yet documented in Design System)</li>
              <li><a href="http://usda-fsa.github.io/fsa-design-system/elements/buttons/">Element: Buttons</a></li>
              <li><a href="http://usda-fsa.github.io/fsa-design-system/elements/text-input/">Element: Text Input</a></li>
              <li><a href="http://usda-fsa.github.io/fsa-design-system/elements/checkbox/">Element: Checkbox</a></li>
              <li><a href="http://usda-fsa.github.io/fsa-design-system/elements/radio/">Element: Radio</a></li>
              <li><a href="http://usda-fsa.github.io/fsa-design-system/elements/select/">Element: Select</a></li>
              <li><a href="http://usda-fsa.github.io/fsa-design-system/elements/textarea/">Element: Textarea</a></li>
            </ul>
          </div>
        </div>

        <h2 class="fsa-font--sans">Sample</h2>

        <h3 class="fsa-font--sans">Default</h3>

        <div class="fsa-field">
          <label class="fsa-field__label" for="commodity-name">Commodity Name <span class="fsa-field__label-desc">Required</span></label>
          <input data-behavior="validate-commodity" class="fsa-input fsa-field__item" id="commodity-name" name="commodity-name" type="text" value="">
          <span class="fsa-field__help">Alpha characters, no numbers or special characters</span>
          <span class="fsa-field__message" id="commodity-name__error-message-01" role="alert">This field is required</span>
        </div>

        <h3 class="fsa-font--sans">Error</h3>
        <div class="fsa-field fsa-field--error">
          <label class="fsa-field__label" for="commodity-name5855">Commodity Name <span class="fsa-field__label-desc">Required</span></label>
          <input data-behavior="validate-commodity" class="fsa-input fsa-field__item" id="commodity-name5855" name="commodity-name5855" type="text" value="">
          <span class="fsa-field__help">Alpha characters, no numbers or special characters</span>
          <span class="fsa-field__message" id="commodity-name5855__error-message-01" role="alert">This field is required</span>
        </div>


      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/prototype-list.html' @class:'pcp-prototype-list' %}
  </footer>

  {% include: 'includes/scripts.html' %}

</body>

</html>
