{% include: 'includes/html.njk' %}

{% include: 'includes/head.njk' @title:'Component' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.njk' %}

  {% include: 'includes/skipnav.njk' %}

  <header>
    {% include: 'includes/pcp-header-project.njk' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <h1>PCP Icons</h1>

        <p class="fsa-text--lead">These are a <strong>limited set of icons</strong> specific to PCP-II, and are not necessarily ones that will become part of the FSA Design System.</p>

        <pre class="pcp-code-block">&lt;svg class="pcp-icon <strong style="color:black">pcp-icon--[variation] pcp-icon--[size]</strong>" role="presentation" aria-hidden="true"&gt;
  &lt;use xlink:href="img/symbol-defs.svg#<strong style="color:black">pcp-icon--[variation]</strong>"&gt;&lt;/use&gt;
&lt;/svg&gt;
</pre>

        <div class="fsa-grid">
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="pcp-prototype-title">As seen on</h2>
            <ul>
              <li><a href="link.njk">[page]</a></li>
              <li><a href="link.njk">[page]</a></li>
            </ul>
          </div>
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="pcp-prototype-title">FSA Design System References</h2>
            <ul>
              <li><a href="http://usda-fsa.github.io/fsa-design-system/">FSA Design System</a></li>
            </ul>
          </div>
        </div>

        <h2 class="pcp-prototype-title">Variations</h2>

        <ul class="fsa-list--inline">
          <li>
            <input class="fsa-radio" id="iconSize__small" name="iconSize" type="radio" value="small" data-behavior="icon-size-demo">
            <label for="iconSize__small">Small</label>
          </li>
          <li>
            <input class="fsa-radio" id="iconSize__default" name="iconSize" type="radio" value="" data-behavior="icon-size-demo" checked>
            <label for="iconSize__default">Default</label>
          </li>
          <li>
            <input class="fsa-radio" id="iconSize__medium" name="iconSize" type="radio" value="medium" data-behavior="icon-size-demo">
            <label for="iconSize__medium">Medium</label>
          </li>
          <li>
            <input class="fsa-radio" id="iconSize__large" name="iconSize" type="radio" value="large" data-behavior="icon-size-demo">
            <label for="iconSize__large">Large</label>
          </li>
        </ul>

        <div id="icon-list">
          {% include: 'includes/pcp-icon-list.njk' %}
        </div>


      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/pcp-footer-project.njk' %}
  </footer>

  {% include: 'includes/scripts.njk' %}

</body>

</html>
