{% include: 'includes/html.html' %}

{% include: 'includes/head.html' @title:'Component' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.html' %}

  {% include: 'includes/skipnav.html' %}

  <header>
    {% include: 'includes/pcp-header-project.html' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <h1 class="fsa-font--sans">Component: Marker</h1>

        <p class="fsa-text--lead">Lorem ipsum dolor sit...</p>

        <pre style="color:red;background:yellow"><code>(TBD)</code></pre>

        <div class="fsa-grid">
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="fsa-font--sans">As seen on</h2>
            <ul>
              <li><a href="markets_edit-error.html">TBD</a></li>
            </ul>
          </div>
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="fsa-font--sans">FSA Design System References</h2>
            <ul>
              <li><a href="http://usda-fsa.github.io/fsa-design-system/visual-style/color/">Color</a></li>
            </ul>
          </div>
        </div>

        <h2 class="fsa-font--sans">Variations</h2>

        <h3 class="fsa-font--sans">Default (Unchanged)</h3>

        <div class="pcp-marker">
          <div class="pcp-marker__value">-0.08</div>
          <div class="pcp-marker__pinpoint"></div>
        </div>

        <h3 class="fsa-font--sans">Modified</h3>

        <div class="pcp-marker pcp-marker--modified">
          <div class="pcp-marker__value">-0.08</div>
          <div class="pcp-marker__pinpoint"></div>
        </div>

        <h3 class="fsa-font--sans">Active</h3>

        <div class="pcp-marker pcp-marker--active">
          <div class="pcp-marker__value">-0.08</div>
          <div class="pcp-marker__pinpoint"></div>
        </div>

        <h3 class="fsa-font--sans">High</h3>

        <div class="pcp-marker pcp-marker--high">
          <div class="pcp-marker__value">-0.08</div>
          <div class="pcp-marker__pinpoint"></div>
        </div>

        <h3 class="fsa-font--sans">Low</h3>

        <div class="pcp-marker pcp-marker--low">
          <div class="pcp-marker__value">-0.08</div>
          <div class="pcp-marker__pinpoint"></div>
        </div>

        <h3 class="fsa-font--sans">Impacted</h3>

        <div class="pcp-marker pcp-marker--impacted">
          <div class="pcp-marker__value">-0.08</div>
          <div class="pcp-marker__pinpoint"></div>
          <div class="pcp-marker__impact">
            <!-- Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In  -->
            <svg version="1.1"
            	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
            	 x="0px" y="0px" width="130.2px" height="45.7px" viewBox="0 0 130.2 45.7" enable-background="new 0 0 130.2 45.7"
            	 xml:space="preserve">
              <polygon opacity="0.4" fill="#00C0E7" points="50.1,11.9 59.5,2.6 64.4,9.3 85.8,2.6 82.6,11.9 106.4,7.3 94.5,15.6 130.2,19.7 93.9,26 107.7,37.4 83.2,31.1 83.9,40.5 67.6,35.3 64.4,43.6 55.7,34.3 50.1,45.7 43.2,34.8 27.5,45.7 24.5,35.2 0,30.1 20,24.1 4.4,15.6 35.1,13.5 24.4,0 "/>
            </svg>
          </div>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque fugiat quos nam, excepturi! Cumque quod numquam earum magnam ad ab, architecto officia suscipit nemo aliquid quam nam alias tempore esse.</p>

      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/prototype-list.html' @class:'pcp-prototype-list' %}
  </footer>

  {% include: 'includes/scripts.html' %}

</body>

</html>
