{% include: 'includes/html.html' %}

{% include: 'includes/head.html' @title:'Component' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.html' %}

  {% include: 'includes/skipnav.html' %}

  <header>
    {% include: 'includes/pcp-header-project.html' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <h1>Component: Stepped Control</h1>

        <p class="fsa-lead">Typically paired with Stepped Tabs, this component acts in two parts: provide <strong>Status</strong> of current step and its associated actions.</p>

        <pre class="pcp-code-block"><code>class="<strong>pcp-stepped-control</strong>"</code></pre>

        <div class="fsa-grid">
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="pcp-prototype-title">As seen on</h2>
            <ul>
              <li>All <strong>Daily Process</strong> phases</li>
            </ul>
          </div>
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="pcp-prototype-title">FSA Design System References</h2>
            <ul>
              <li><a href="http://usda-fsa.github.io/fsa-design-system/?preview">FSA Design System</a></li>
            </ul>
          </div>
        </div>

        <h2 class="pcp-prototype-title">Variations</h2>

        <h3 class="fsa-font--sans">Default</h3>
        {% include: 'includes/fsa-stepped-control__default.html' @CLASS:' ' @link:'workflow_closing.html' %}

        <h3 class="fsa-font--sans">Bi-directional</h3>
        <p>Necessitatibus, doloribus officiis iste, repellendus, consectetur distinctio rerum mollitia autem qui excepturi obcaecati quis. At culpa, odio. Quaerat quidem, rem odio recusandae.</p>
        <h3 class="fsa-font--sans">With status</h3>
        <p>Necessitatibus, doloribus officiis iste, repellendus, consectetur distinctio rerum mollitia autem qui excepturi obcaecati quis. At culpa, odio. Quaerat quidem, rem odio recusandae.</p>
        <h3 class="fsa-font--sans">Sticky</h3>
        <p>Necessitatibus, doloribus officiis iste, repellendus, consectetur distinctio rerum mollitia autem qui excepturi obcaecati quis. At culpa, odio. Quaerat quidem, rem odio recusandae.</p>

        <h2 class="pcp-prototype-title">Samples</h2>

        <h3 class="fsa-font--sans">asdf</h3>
        <p>Necessitatibus, doloribus officiis iste, repellendus, consectetur distinctio rerum mollitia autem qui excepturi obcaecati quis. At culpa, odio. Quaerat quidem, rem odio recusandae.</p>
        <h3 class="fsa-font--sans">qwer</h3>
        <p>Necessitatibus, doloribus officiis iste, repellendus, consectetur distinctio rerum mollitia autem qui excepturi obcaecati quis. At culpa, odio. Quaerat quidem, rem odio recusandae.</p>

      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/pcp-footer-project.html' %}
  </footer>

  {% include: 'includes/scripts.html' %}

</body>

</html>
