{% include: 'includes/html.html' %}

{% include: 'includes/head.html' @title:'Component' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.html' %}

  {% include: 'includes/skipnav.html' %}

  <header>
    {% include: 'includes/pcp-header-project.html' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <h1 class="fsa-font--sans">Component: Content Tabs</h1>

        <pre class="pcp-code-block"><code>class="<strong style="color:black">pcp-content-tabs</strong>"</code></pre>

        <div class="fsa-grid">
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="fsa-font--sans">As seen on</h2>
            <ul>
              <li><a href="workflow_mapping.html">Workflow > Mapping</a></li>
            </ul>
          </div>
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="fsa-font--sans">FSA Design System References</h2>
            <ul>
              <li><a href="http://usda-fsa.github.io/fsa-design-system/?preview">FSA Design System</a></li>
            </ul>
          </div>
        </div>

        <h2 class="fsa-font--sans">Variations</h2>

        <h3 class="fsa-font--sans">Default</h3>

        {% include: 'includes/pcp-content-tabs__handful.html' %}

        <h3 class="fsa-font--sans">Contrast</h3>

        {% include: 'includes/pcp-content-tabs__contrast.html' %}

        <h3 class="fsa-font--sans">Small</h3>

        {% include: 'includes/pcp-content-tabs__small.html' %}

        <h3 class="fsa-font--sans">Large</h3>

        {% include: 'includes/pcp-content-tabs__large.html' %}

        <h3 class="fsa-font--sans">Justified</h3>

        {% include: 'includes/pcp-content-tabs__justified.html' %}

        <h3 class="fsa-font--sans">Justified Equal</h3>

        {% include: 'includes/pcp-content-tabs__justified-equal.html' %}

        <h2 class="fsa-font--sans">Samples</h2>

        <h3 class="fsa-font--sans">Mapping</h3>

        {% include: 'includes/pcp-content-tabs__map.html' %}

      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/pcp-footer-project.html' %}
  </footer>

  {% include: 'includes/scripts.html' %}

</body>

</html>
