{% include: 'includes/html.html' %}

{% include: 'includes/head.html' @title:'Component' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.html' %}

  {% include: 'includes/skipnav.html' %}

  <header>
    {% include: 'includes/pcp-header-project.html' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <h1 class="fsa-font--sans">Component: Rift Detail</h1>

        <p class="fsa-text--lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam quia, rem sapiente, ratione exercitationem eveniet voluptatem?</p>

        <pre class="pcp-code-block"><code>&lt;div class="<strong style="color:black">pcp-rift-detail</strong>"&gt; ... &lt;/div&gt;</code></pre>

        <div class="fsa-grid">
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="fsa-font--sans">As seen on</h2>
            <ul>
              <li><a href="workflow_mapping.html">Workflow > Mapping</a></li>
            </ul>
          </div>
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="fsa-font--sans">FSA Design System References</h2>
            <ul>
              <li><a href="http://usda-fsa.github.io/fsa-design-system/?preview">FSA Design System</a></li>
            </ul>
          </div>
        </div>

        <h2 class="fsa-font--sans">Samples</h2>

        <div class="fsa-grid">
          <div class="fsa-grid__1 fsa-grid__4/12@m fsa-grid__3/12@l">
            {% include: 'includes/rift-detail.html' %}
          </div>
          <div class="fsa-grid__1 fsa-grid__4/12@m fsa-grid__3/12@l">
            {% include: 'includes/rift-detail__example-76883776994975.html' %}
          </div>
          <div class="fsa-grid__1 fsa-grid__4/12@m fsa-grid__3/12@l">
            {% include: 'includes/rift-detail__example-445S5545545558.html' %}
          </div>
        </div>

        <h3 class="fsa-font--sans">Behavior</h3>

        <p>
          <button onclick="pcpDemoHighlightText('UNIQUE-ID-74851')" type="button">Highlight <strong>"Co - Phillips..., KCM"</strong></button>
          <button onclick="pcpDemoHighlightText('UNIQUE-ID-09524')" type="button">Highlight <strong>"NE - Boone, GLF"</strong></button>
        </p>
        <p>
          <button onclick="pcpDemoDominantInteriorSwap('UNIQUE-ID-885452', 'UNIQUE-ID-356458', 'UNIQUE-ID-09524', 'UNIQUE-ID-3235687')" type="button">Swap Dominant/Interior for <strong>"NE - Boone, GLF"</strong></button>
        </p>
        <p>
          <button onclick="pcpDemoMarker('UNIQUE-ID-12346', false)" type="button">Normal</button>
          <button onclick="pcpDemoMarker('UNIQUE-ID-12346','pcp-marker--high')" type="button">High</button>
          <button onclick="pcpDemoMarker('UNIQUE-ID-12346','pcp-marker--low')" type="button">Low</button>
        </p>
        <p>
          <button onclick="pcpDemoMarkerModified('UNIQUE-ID-12346')" type="button">Toggle Modified</button>
        </p>


      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/pcp-footer-project.html' %}
  </footer>

  {% include: 'includes/scripts.html' %}

</body>

</html>
