{% include: 'includes/html.njk' %}

{% include: 'includes/head.njk' @title:'Component' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.njk' %}

  {% include: 'includes/skipnav.njk' %}

  <header>
    {% include: 'includes/pcp-header-project.njk' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <h1>Component: Content Tabs</h1>

        <pre class="pcp-code-block"><code>class="<strong style="color:black">fsa-content-tabs</strong>"</code></pre>

        <div class="fsa-grid">
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="pcp-prototype-title">As seen on</h2>
            <ul>
              <li><a href="workflow_mapping.njk">Daily Process > Mapping / Adjustment</a></li>
              <li><a href="settings_commodities.njk">Settings</a></li>
            </ul>
          </div>
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="pcp-prototype-title">FSA Design System References</h2>
            <ul>
              <li><a href="http://usda-fsa.github.io/fsa-design-system/?preview">FSA Design System</a></li>
            </ul>
          </div>
        </div>

        <h2 class="pcp-prototype-title">Variations</h2>

        <h3>Default</h3>

        {% include: 'includes/pcp-content-tabs__handful.njk' %}

        <h3>Small</h3>

        {% include: 'includes/pcp-content-tabs__small.njk' %}

        <h3>Large</h3>

        {% include: 'includes/pcp-content-tabs__large.njk' %}

        <h3>Justified</h3>

        {% include: 'includes/pcp-content-tabs__justified.njk' %}

        <h3>Justified Equal</h3>

        {% include: 'includes/pcp-content-tabs__justified-equal.njk' %}

        <h2 class="pcp-prototype-title">Samples</h2>

        <h3>Mapping</h3>

        {% include: 'includes/pcp-content-tabs__map.njk' %}

        <h3>Settings</h3>

        {% include: 'includes/pcp-content-tabs__settings__markets.njk' %}

        <h3>Multi-line wrap (auto)</h3>

        {% include: 'includes/pcp-content-tabs__multi-line-wrap.njk' %}

      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/pcp-footer-project.njk' %}
  </footer>

  {% include: 'includes/scripts.njk' %}

</body>

</html>
