{% include: 'includes/html.njk' %}

{% include: 'includes/head.njk' @title:'Component' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.njk' %}

  {% include: 'includes/skipnav.njk' %}

  <header>
    {% include: 'includes/pcp-header-project.njk' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <h1>Component: Spinbox</h1>

        <pre class="pcp-code-block"><code>class="<strong style="color:black">pcp-spinbox</strong>"</code></pre>

        <div class="fsa-grid">
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="pcp-prototype-title">As seen on</h2>
            <ul>
              <li><a href="workflow_mapping.njk">Daily Process > Mapping / Adjustment</a></li>
              <li><a href="workflow_discovery.njk">Daily Process > Discovery</a> (Click on a Program, e.g. PNW)</li>
            </ul>
          </div>
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="pcp-prototype-title">FSA Design System References</h2>
            <ul>
              <li><a href="http://usda-fsa.github.io/fsa-design-system/?preview">FSA Design System</a></li>
              <li><a href="http://usda-fsa.github.io/fsa-design-system/elements/text-input/">Form > Text Input</a></li>
            </ul>
          </div>
        </div>

        <h2 class="pcp-prototype-title">Variations</h2>

        <div class="fsa-grid">

          <div class="fsa-grid__1/1 fsa-grid__1/2@m">

            <h3>Default</h3>

            <div class="pcp-spinbox">
              <div class="pcp-spinbox__number">
                <input class="fsa-input pcp-spinbox__input" id="lorem-ipsum-amount" name="lorem-ipsum-amount" type="number" value="1.06" step=".01">
              </div>
              <div class="pcp-spinbox__actions">
                <button tabindex="-1" class="pcp-spinbox__btn pcp-spinbox__btn--increment" type="button" data-behavior="spinbox spin--increment" aria-label="Increase" title="Increase"></button>
                <button tabindex="-1" class="pcp-spinbox__btn pcp-spinbox__btn--decrement" type="button" data-behavior="spinbox spin--decrement" aria-label="Decrease" title="Decrease"></button>
              </div>
            </div>

          </div>

          <div class="fsa-grid__1/1 fsa-grid__1/2@m">

            <h3>Align Right</h3>

            <div class="pcp-spinbox pcp-spinbox--right">
              <div class="pcp-spinbox__number">
                <input class="fsa-input pcp-spinbox__input" id="lorem-ipsum-amount" name="lorem-ipsum-amount" type="number" value="1.06" step=".01">
              </div>
              <div class="pcp-spinbox__actions">
                <button tabindex="-1" class="pcp-spinbox__btn pcp-spinbox__btn--increment" type="button" data-behavior="spinbox spin--increment" aria-label="Increase" title="Increase"></button>
                <button tabindex="-1" class="pcp-spinbox__btn pcp-spinbox__btn--decrement" type="button" data-behavior="spinbox spin--decrement" aria-label="Decrease" title="Decrease"></button>
              </div>
            </div>

          </div>

          <div class="fsa-grid__1/1 fsa-grid__1/2@m">

            <h3>Large</h3>

            <div class="pcp-spinbox pcp-spinbox--large">
              <div class="pcp-spinbox__number">
                <input class="fsa-input fsa-input--large pcp-spinbox__input" id="lorem-ipsum-amount__64539781354" name="lorem-ipsum-amount__64539781354" type="number" value="1.06" step=".01">
              </div>
              <div class="pcp-spinbox__actions">
                <button tabindex="-1" class="pcp-spinbox__btn pcp-spinbox__btn--increment" type="button" data-behavior="spinbox spin--increment" aria-label="Increase" title="Increase"></button>
                <button tabindex="-1" class="pcp-spinbox__btn pcp-spinbox__btn--decrement" type="button" data-behavior="spinbox spin--decrement" aria-label="Decrease" title="Decrease"></button>
              </div>
            </div>

          </div>

          <div class="fsa-grid__1/1 fsa-grid__1/2@m">

            <h3>Small</h3>

            <div class="pcp-spinbox pcp-spinbox--small">
              <div class="pcp-spinbox__number">
                <input class="fsa-input fsa-input--small pcp-spinbox__input" id="lorem-ipsum-amount__445648" name="lorem-ipsum-amount__445648" type="number" value="1.06" step=".01">
              </div>
              <div class="pcp-spinbox__actions">
                <button tabindex="-1" class="pcp-spinbox__btn pcp-spinbox__btn--increment" type="button" data-behavior="spinbox spin--increment" aria-label="Increase" title="Increase"></button>
                <button tabindex="-1" class="pcp-spinbox__btn pcp-spinbox__btn--decrement" type="button" data-behavior="spinbox spin--decrement" aria-label="Decrease" title="Decrease"></button>
              </div>
            </div>

          </div>

        </div>

        <h2 class="pcp-prototype-title">States</h2>

        <div class="fsa-grid">

          <div class="fsa-grid__1/1 fsa-grid__1/2@m">

            <h3>Disabled</h3>

            <div class="pcp-spinbox">
              <div class="pcp-spinbox__number">
                <input disabled="disabled" class="fsa-input pcp-spinbox__input" id="lorem-ipsum-amount-654asdf" name="lorem-ipsum-amount-654asdf" type="number" value="1.06" step=".01">
              </div>
              <div class="pcp-spinbox__actions">
                <button disabled="disabled" tabindex="-1" class="pcp-spinbox__btn pcp-spinbox__btn--increment" type="button" data-behavior="spinbox spin--increment" aria-label="Increase" title="Increase"></button>
                <button disabled="disabled" tabindex="-1" class="pcp-spinbox__btn pcp-spinbox__btn--decrement" type="button" data-behavior="spinbox spin--decrement" aria-label="Decrease" title="Decrease"></button>
              </div>
            </div>

          </div>

        </div>


        <h2 class="pcp-prototype-title">Samples</h2>

        <div class="fsa-grid">

          <div class="fsa-grid__1/1 fsa-grid__1/2@m">

            <h3>step="5"</h3>

            <div class="pcp-spinbox">
              <div class="pcp-spinbox__number">
                <input class="fsa-input pcp-spinbox__input" id="lorem-ipsum-amount__5s5s5ga4s4g" name="lorem-ipsum-amount__5s5s5ga4s4g" type="number" value="55" step="5">
              </div>
              <div class="pcp-spinbox__actions">
                <button tabindex="-1" class="pcp-spinbox__btn pcp-spinbox__btn--increment" type="button" data-behavior="spinbox spin--increment" aria-label="Increase" title="Increase"></button>
                <button tabindex="-1" class="pcp-spinbox__btn pcp-spinbox__btn--decrement" type="button" data-behavior="spinbox spin--decrement" aria-label="Decrease" title="Decrease"></button>
              </div>
            </div>

          </div>

          <div class="fsa-grid__1/1 fsa-grid__1/2@m">

            <h3>step="1" min="3" max="8"</h3>

            <div class="pcp-spinbox">
              <div class="pcp-spinbox__number">
                <input class="fsa-input pcp-spinbox__input" id="lorem-ipsum-amount__jdj8r8cjd7777" name="lorem-ipsum-amount__jdj8r8cjd7777" type="number" value="5" step="1" min="3" max="8">
              </div>
              <div class="pcp-spinbox__actions">
                <button tabindex="-1" class="pcp-spinbox__btn pcp-spinbox__btn--increment" type="button" data-behavior="spinbox spin--increment" aria-label="Increase" title="Increase"></button>
                <button tabindex="-1" class="pcp-spinbox__btn pcp-spinbox__btn--decrement" type="button" data-behavior="spinbox spin--decrement" aria-label="Decrease" title="Decrease"></button>
              </div>
            </div>

          </div>

        </div>

        <h3>In a <a href="component_field.njk">Field</a></h3>

        <div class="fsa-field">
          <label class="fsa-field__label" for="lorem-ipsum-amount__63768">Amount <span class="fsa-field__label-desc">Required</span></label>
          <div class="pcp-spinbox">
            <div class="pcp-spinbox__number">
              <input class="fsa-input pcp-spinbox__input" id="lorem-ipsum-amount__63768" name="lorem-ipsum-amount__63768" type="number" value="1.06" step=".01">
            </div>
            <div class="pcp-spinbox__actions">
              <button tabindex="-1" class="pcp-spinbox__btn pcp-spinbox__btn--increment" type="button" data-behavior="spinbox spin--increment" aria-label="Increase" title="Increase"></button>
              <button tabindex="-1" class="pcp-spinbox__btn pcp-spinbox__btn--decrement" type="button" data-behavior="spinbox spin--decrement" aria-label="Decrease" title="Decrease"></button>
            </div>
          </div>
          <span class="fsa-field__help">Helpful message</span>
          <span class="fsa-field__message" id="lorem-ipsum-amount__error-message-01" role="alert">This field is required</span>
        </div>

      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/pcp-footer-project.njk' %}
  </footer>

  {% include: 'includes/scripts.njk' %}

</body>

</html>
