{% include: 'includes/html.njk' %}

{% include: 'includes/head.njk' @title:'Component' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.njk' %}

  {% include: 'includes/skipnav.njk' %}

  <header>
    {% include: 'includes/pcp-header-project.njk' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <h1>Component: File Upload</h1>

        <pre class="pcp-code-block"><code>class="<strong style="color:black">pcp-file-upload</strong>"</code></pre>

        <div class="fsa-grid">
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="pcp-prototype-title">As seen on</h2>
            <ul>
              <li><a href="workflow_discovery.njk">Daily Process</a> (Click Start for Rice)</li>
            </ul>
          </div>
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="pcp-prototype-title">FSA Design System References</h2>
            <ul>
              <li><a href="http://usda-fsa.github.io/fsa-design-system/?preview">FSA Design System</a></li>
            </ul>
          </div>
        </div>


        <div class="fsa-grid">
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="pcp-prototype-title">Default</h2>
            <p>
              {% include: 'includes/pcp-file-upload.njk' @TARGET:'QWERqwer' @UPLOAD_ID:'UNIQUE_ID_ASdfqwER1234' @ATTACHMENT:' ' %}
            </p>
          </div>
          <div class="fsa-grid__1/1 fsa-grid__1/2@m">
            <h2 class="pcp-prototype-title">State: File Selected</h2>
            <p>
              {% include: 'includes/pcp-file-upload.njk' @TARGET:'WERTwert' @UPLOAD_ID:'UNIQUE_ID_ASdfqwER6637' @ATTACHMENT:'file-name.ext' %}
            </p>
          </div>
        </div>

        <h2 class="pcp-prototype-title">Small</h2>

        <p>
          {% include: 'includes/pcp-file-upload.njk' @TARGET:'QWERqwerQWER' @STYLE_VARIATION:'fsa-btn--small' @UPLOAD_ID:'UNIQUE_ID_ASdfqwER4567' @ATTACHMENT:' ' %}
        </p>

        <h2 class="pcp-prototype-title">Large</h2>

        <p>
          {% include: 'includes/pcp-file-upload.njk' @TARGET:'qwerQWERqwerQWER' @STYLE_VARIATION:'fsa-btn--large' @UPLOAD_ID:'UNIQUE_ID_ASdfqwER8751' @ATTACHMENT:' ' %}
        </p>

      </div>


    </div>


  </main>

  <footer>
    {% include: 'includes/pcp-footer-project.njk' %}
  </footer>

  {% include: 'includes/pcp-modal__edit-workflow.njk' %}
  {% include: 'includes/pcp-modal__edit-workflow__readonly.njk' %}

  {% include: 'includes/scripts.njk' %}

</body>

</html>
