{% include: 'includes/html.njk' %}

{% include: 'includes/head.njk' @title:'Posted County Prices' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.njk' %}

  {% include: 'includes/skipnav.njk' %}

  {% include: 'includes/fsa-disclaimer.njk' %}

  <header>
    {% include: 'includes/pcp-header__profile-only.njk' %}
    {% include: 'includes/pcp-nav-global__home.njk' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <h1>PCP Handbook</h1>

        {% include: 'includes/_TBD.njk' @text:'TBD' @style:'padding-top: 20vh; padding-bottom: 20vh;' %}

      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/fsa-footer.njk' %}
  </footer>

  {% include: 'includes/scripts.njk' %}

</body>

</html>
