{% include: 'includes/html.html' %}

{% include: 'includes/head.html' @title:'Mapping' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.html' %}

  {% include: 'includes/skipnav.html' %}

  {% include: 'includes/fsa-disclaimer.html' %}

  <header>
    {% include: 'includes/pcp-header.html' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <h1>[home]</h1>
        {% include: 'includes/_TBD.html' @text:'TBD' @style:'padding-top: 20vh; padding-bottom: 20vh;' %}

      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/pcp-footer-TEMP.html' %}
  </footer>

  {% include: 'includes/scripts.html' %}

  {% include: 'includes/whiteout.html' @CLASS:'pcp-whiteout--hidden' %}

  <div class="pcp-growl-container pcp-growl-container--hidden">
    {% include: 'includes/growl_map-reset-confirm.html' @ID:'unique-id-55sssss55om' %}
    {% include: 'includes/growl_map-save.html' @ID:'unique-id-55s55h55from' %}
  </div>
  <div class="pcp-growl-container pcp-growl-container--centered pcp-growl-container--hidden">
    {% include: 'includes/growl_map-reset.html' @ID:'unique-id-556847000om' %}
  </div>

</body>

</html>
