{% include: 'includes/html.njk' %}

{% include: 'includes/head.njk' @title:'Posted County Prices' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.njk' %}

  {% include: 'includes/skipnav.njk' %}

  {% include: 'includes/fsa-disclaimer.njk' %}

  <header>
    {% include: 'includes/pcp-header__profile-only.njk' %}
    {% include: 'includes/pcp-nav-global__home.njk' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <h1>[home]</h1>

        <!-- <div class="show_on_success" style="display: none;">
          <div class="fsa-grid">
            <div class="fsa-grid__1 fsa-grid__8/12@l">
              <div class="fsa-alert fsa-alert--success fsa-m-b--l" role="alert">
                <div class="fsa-alert__body">
                  <h3 class="fsa-alert__heading">Good job!</h3>
                  <p class="fsa-alert__text"><strong>March 22, 2017</strong> is complete. Get started on the next day now!</p>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        {% include: 'includes/_TBD.njk' @text:'TBD' @style:'padding-top: 20vh; padding-bottom: 20vh;' %}

      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/fsa-footer.njk' %}
  </footer>

  {% include: 'includes/scripts.njk' %}

  <div class="fsa-growl-container show_on_success" style="display:none;">
    {% include: 'includes/growl_publish-complete.njk ID:'unique-id-asdf3ha9999s' %}
  </div>

  <script>
    $(document).ready(function () {
      $(".show_on_success").toggle(document.URL.indexOf("success=true") !== -1);
    });
  </script>

</body>

</html>
