{% include: 'includes/html.html' %}

{% include: 'includes/head.html' @title:'Prototype' %}

<body>

  {% include: 'includes/fsa-browser-upgrade.html' %}

  {% include: 'includes/skipnav.html' %}

  {% include: 'includes/fsa-disclaimer.html' %}

  <header></header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <h1>PCP II Prototype</h1>
        <ul>
          <li><a href="markets.html">Markets</a></li>
          <li><a href="commodity_add.html">Commodity, Add</a></li>
          <li><a href="commodity_detail.html">Commodity, Detail</a></li>
        </ul>

      </div>


    </div>

  </main>

  <footer></footer>

  {% include: 'includes/scripts.html' %}

</body>

</html>
