{% include: 'includes/html.html' %}

{% include: 'includes/head.html' @title:'Prototype' %}

<body class="pcp-app pcp-prototype-home">

  {% include: 'includes/fsa-browser-upgrade.html' %}

  {% include: 'includes/skipnav.html' %}

  <header>
    {% include: 'includes/pcp-header-project.html' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <h1>PCP-II</h1>
        <p class="fsa-text--lead">UX Design and Prototyping for <strong>Posted County Prices - II</strong>.</p>
        <dl>
          <dt>Updated</dt>
          <dd>April 26, 2017</dd>
        </dl>
        <dl>
          <dt>Architecture Office Contacts</dt>
          <dd>
            <a href="mailto:Francis.Rupert@kcc.usda.gov">Francis C. Rupert</a> (Lead UX Architect),
            <a href="mailto:Casey.Hill@kcc.usda.gov">Casey Hill</a> (UX Architect),
            <a href="mailto:Joseph.Pallucca@kcc.usda.gov">Joe Pallucca</a> (PM)
          </dd>
        </dl>

        {% include: 'includes/prototype-list.html' @class:'asdf' %}

      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/pcp-footer-project.html' %}
  </footer>

  {% include: 'includes/scripts.html' %}

</body>

</html>
