{% include: 'includes/html.html' %}

{% include: 'includes/head.html' @title:'Markets' %}

<body>

  {% include: 'includes/fsa-browser-upgrade.html' %}

  {% include: 'includes/skipnav.html' %}

  {% include: 'includes/fsa-disclaimer.html' %}

  <header>
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <h1>
          Markets
        </h1>
        <div>
          <div class="fsa-grid">
            <div class="fsa-grid__1 fsa-grid__2/12@m">
              <a class="fsa-btn fsa-btn--primary" href="commodity_add.html">Add</a>
            </div>
            <div class="fsa-grid__1 fsa-grid__10/12@m">
              <div class="fsa-text-align--right">
                <form action="">
                  <label class="sr-only" for="searchText">Find</label>
                  <input class="fsa-input" placeholder="Find" type="text" id="searchText">
                  <label class="sr-only" for="active_type">Active Type</label>
                  <select class="fsa-select" name="active_type" id="active_type">
                    <option value="all" selected="">All</option>
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                  </select>
                  <button class="fsa-btn fsa-btn--secondary" type="reset">Reset</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <table class="fsa-table fsa-table--borderless inq-results_table">
          <thead>
            <tr>
              <th class="inq-results_hd-item inq-results_hd-item--name is-sorted-up" scope="col">
                <span tabindex="0" class="inq-results_hd-item-label">Name</span>
              </th>
              <th class="inq-results_hd-item inq-results_hd-item--abbreviation" scope="col">
                <span tabindex="0" class="inq-results_hd-item-label">Abbreviation</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="#/market/KCM/edit">Kansas City, Missouri</a></td>
              <td>KCM</td>
            </tr>
            <tr>
              <td><a href="#/market/MIN/edit">Minnesota</a></td>
              <td>MIN</td>
            </tr>
            <tr>
              <td><a href="#/market/PNW/edit">Pacific Northwest</a></td>
              <td>PNW</td>
            </tr>
            <tr>
              <td><a href="#/market/WCD/edit">West Coast Domestic</a></td>
              <td>WCD</td>
            </tr>
          </tbody>
        </table>

        <h1>Roles</h1>

        <table class="fsa-table fsa-table--borderless inq-results_table">
          <thead class="inq-results_hd">
            <tr class="inq-results_row">
              <th class="inq-results_hd-item inq-results_hd-item--name is-sorted-down" scope="col">
                <span tabindex="0" class="inq-results_hd-item-label">Name</span>
              </th>
              <th scope="col">
                <span tabindex="0" class="inq-results_hd-item-label">FSA-13 Value</span>
              </th>
              <th class="inq-results_hd-item inq-results_hd-item--description" scope="col">
                <span tabindex="0" class="inq-results_hd-item-label">Description</span>
              </th>
              <th scope="col">Permissions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Three Role</td>
              <td id="anchorTHREE_ROLE">THREE_ROLE</td>
              <td>The third role</td>
              <td>
                <ul class="fsa-list--inline">
                  <li>None</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Two Role</td>
              <td id="anchorTWO_ROLE">TWO_ROLE</td>
              <td>The second role</td>
              <td>
                <ul class="fsa-list--inline">
                  <li>
                    <a href="link.html">View Permission</a>
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>One Role</td>
              <td id="anchorONE_ROLE">ONE_ROLE</td>
              <td>The first role</td>
              <td>
                <ul class="fsa-list--inline">
                  <li>
                    <a href="link.html">View Map</a>
                  </li>
                  <li>
                    <a href="link.html">View Permission</a>
                  </li>
                  <li>
                    <a href="link.html">View Permission (Inactive)</a>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>


      </div>

    </div>

  </main>

  <footer>

  </footer>

  {% include: 'includes/scripts.html' %}

</body>

</html>
