{% include: 'includes/html.html' %}

{% include: 'includes/head.html' @title:'Markets' %}

<body>

  {% include: 'includes/fsa-browser-upgrade.html' %}

  {% include: 'includes/skipnav.html' %}

  {% include: 'includes/fsa-disclaimer.html' %}

  <header>
    {% include: 'includes/pcp-header-TEMP.html' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        {% include: 'includes/table-header_markets.html' %}
        {% include: 'includes/table_markets.html' %}

        {% include: 'includes/table-header_roles.html' %}

        {% include: 'includes/table_roles.html' %}

      </div>

    </div>

  </main>

  <footer>

  </footer>

  {% include: 'includes/scripts.html' %}

</body>

</html>
