{% include: 'includes/html.html' %}

{% include: 'includes/head.html' @title:'Mapping' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.html' %}

  {% include: 'includes/skipnav.html' %}

  {% include: 'includes/fsa-disclaimer.html' %}

  <header>
    {% include: 'includes/pcp-header.html' %}
    {% include: 'includes/pcp-nav-global__settings.html' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <h1>Settings</h1>

        {% include: 'includes/pcp-content-tabs__settings__commodities.html' %}
        {% include: 'includes/table-header_no-header.html' @title:'Markets' @link:'settings_thing__add.html' @modal_target:'12555485' %}
        {% include: 'includes/table_markets.html' %}

      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/pcp-footer-TEMP.html' %}
  </footer>

  {% include: 'includes/scripts.html' %}

  <div id="UNIQUE-ID-12555485" class="fsa-modal fsa-modal--top" role="dialog" aria-hidden="true">
    <div class="fsa-modal__dialog">
      <div class="fsa-modal__content">
        <button class="fsa-modal__close" data-behavior="close-modal"><img class="fsa-modal__close-icon" src="img/close.svg" alt="close"></button>
        <h1 class="fsa-modal__title">Add [thing]</h1>
        <p class="fsa-text--lead">Lorem ipsum dolor sit amet, nesciunt perferendis fugiat ipsam cam, officiis perspiciatis uidem accusamus earum.</p>
        {% include: 'includes/settings__add-thing.html' %}
      </div>
    </div>
  </div>

</body>

</html>
