{% include: 'includes/html.njk' %}

{% include: 'includes/head.njk' @title:'Settings > Markets' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.njk' %}

  {% include: 'includes/skipnav.njk' %}

  {% include: 'includes/fsa-disclaimer.njk' %}

  <header>
    {% include: 'includes/pcp-header__profile-only.njk' %}
    {% include: 'includes/pcp-nav-global__settings.njk' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <h1>Settings</h1>

        {% include: 'includes/pcp-content-tabs__settings__markets.njk' %}
        {% include: 'includes/table-header_no-header.njk' @title:'Markets' @link:'settings_thing__add.njk' @STATE:' ' %}
        {% include: 'includes/table_markets.njk' %}

      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/fsa-footer.njk' %}
  </footer>

  {% include: 'includes/whiteout.njk' @HIDDEN:'true' %}

  <div class="fsa-growl-container fsa-growl-container--USED-TO-BE--hidden">
    {% include: 'includes/growl_map-reset-confirm.njk' @ID:'unique-id-55sssss55om' %}
    {% include: 'includes/growl_map-save.njk' @ID:'unique-id-55s55h55from' %}
  </div>
  <div class="fsa-growl-container fsa-growl-container--centered fsa-growl-container--USED-TO-BE--hidden">
    {% include: 'includes/growl_map-reset.njk' @ID:'unique-id-556847000om' %}
  </div>

  {% include: 'includes/scripts.njk' %}

</body>

</html>
