{% include: 'includes/html.njk' %}

{% include: 'includes/head.njk' @title:'Markets' %}

<body class="pcp-app">

  <div class="fsa-growl-container">
    {% include: 'includes/growl_add-success.njk' %}
  </div>

  {% include: 'includes/fsa-browser-upgrade.njk' %}

  {% include: 'includes/skipnav.njk' %}

  {% include: 'includes/fsa-disclaimer.njk' %}

  <header>
    {% include: 'includes/pcp-header__profile-only.njk' %}
    {% include: 'includes/pcp-nav-global__settings.njk' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <h1>Settings</h1>

        {% include: 'includes/pcp-content-tabs__settings__markets.njk' %}
        {% include: 'includes/table-header_no-header.njk' @title:'Markets' @link:'settings_thing__add.njk' @STATE:' ' %}
        {% include: 'includes/table_markets.njk' %}

      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/fsa-footer.njk' %}
  </footer>

  {% include: 'includes/scripts.njk' %}

</body>

</html>
