{% include: 'includes/html.html' %}

{% include: 'includes/head.html' @title:'Review' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.html' %}

  {% include: 'includes/skipnav.html' %}

  {% include: 'includes/fsa-disclaimer.html' %}

  <header>
    {% include: 'includes/pcp-header__profile-only.html' %}
    {% include: 'includes/pcp-nav-global__workflow.html' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        {% include: 'includes/pcp-info-bar.html' %}

        {% include: 'includes/pcp-stepped-tabs__review.html' %}

        {% include: 'includes/pcp-title-action-bar.html' @title:'Review Adjustments' @action:'Complete Review' @link:'workflow_publish.html' @button_state:' ' %}

        <div class="fsa-m-t--m fsa-m-b--l">
          {% include: 'includes/pcp-content-tabs__review.html' %}
        </div>

        <div class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION">
          <div id="UNIQUE-ID-7654321" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM--ACTIVE">
            <p class="fsa-text--lead"><strong>Commodity Adjustments</strong> to be effective <strong><time datetime="2017-08-28T07:00-06:00">Monday, August 28, 2017 at 7:00am ET</time></strong>.</p>
            {% include: 'includes/table_review-commodities-change.html' %}
          </div>
          <div id="UNIQUE-ID-6272728" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
            <p class="fsa-text--lead"><strong>LDP Changes</strong> to be effective <strong><time datetime="2017-08-28T07:00-06:00">Monday, August 28, 2017 at 7:00am ET</time></strong>.</p>
            <p>
              <input class="fsa-checkbox" data-behavior="toggle-changes-only" data-target="UNIQUE-ID-CHANGE-TARGET_ldp" id="UNIQUE-ID-usjdudhdy4" type="checkbox" name="pies" value="UNIQUE-ID-usjdudhdy4" checked="checked">
              <label for="UNIQUE-ID-usjdudhdy4" class="HINT">Show changes only</label>
            </p>
            <div id="UNIQUE-ID-CHANGE-TARGET_ldp">
              {% include: 'includes/table_review-ldp-change.html' %}
            </div>
          </div>
          <div id="UNIQUE-ID-6274679" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
            <p class="fsa-text--lead"><strong>Differential Adjustments</strong> to be effective <strong><time datetime="2017-08-28T07:00-06:00">Monday, August 28, 2017 at 7:00am ET</time></strong>.</p>
            <p>
              <select class="fsa-select HINT" data-behavior="DEMO-FAKING-SELECT-CONTENT-SWAP" id="UNIQUE-ID-YHYHUhyg67" name="UNIQUE-ID-YHYHUhyg67">
                <option data-target="UNIQUE-ID-commodities" value="Commodities" selected="selected">Commodities</option>
                <option data-target="UNIQUE-ID-oilseeds" value="Minor Oilseeds">Minor Oilseeds</option>
                <option data-target="UNIQUE-ID-pulses" value="Pulses">Pulses</option>
                <option data-target="UNIQUE-ID-cotton" value="Cotton">Cotton</option>
                <option data-target="UNIQUE-ID-rice" value="Rice">Rice</option>
              </select>
            </p>
            <div class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION">
              <div id="UNIQUE-ID-commodities" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM--ACTIVE">
                <!-- <h2>Commodities</h2> -->
                {% include: 'includes/table_review-differential__commodities.html' %}
              </div>
              <div id="UNIQUE-ID-oilseeds" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
                <!-- <h2>Minor Oilseeds</h2> -->
                {% include: 'includes/table_review-differential__oilseeds.html' %}
              </div>
              <div id="UNIQUE-ID-pulses" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
                <!-- <h2>Pulses</h2> -->
                {% include: 'includes/table_review-differential__pulses.html' %}
              </div>
              <div id="UNIQUE-ID-cotton" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
                <!-- <h2>Cotton</h2> -->
                {% include: 'includes/table_review-differential__cotton.html' %}
              </div>
              <div id="UNIQUE-ID-rice" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
                <!-- <h2>Rice</h2> -->
                {% include: 'includes/table_review-differential__rice.html' %}
              </div>
            </div>

          </div>
        </div>


      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/pcp-footer-TEMP.html' %}
  </footer>

  {% include: 'includes/pcp-modal__edit-workflow.html' %}
  {% include: 'includes/pcp-modal__differential-footnotes.html' %}

  {% include: 'includes/whiteout.html' @CLASS:'pcp-whiteout--hidden' %}

  <div class="pcp-growl-container pcp-growl-container--hidden">
    {% include: 'includes/growl_map-reset-confirm.html' @ID:'unique-id-55sssss55om' %}
    {% include: 'includes/growl_map-save.html' @ID:'unique-id-55s55h55from' %}
  </div>
  <div class="pcp-growl-container pcp-growl-container--centered pcp-growl-container--hidden">
    {% include: 'includes/growl_map-reset.html' @ID:'unique-id-556847000om' %}
  </div>

  {% include: 'includes/scripts.html' %}

</body>

</html>
