{% include: 'includes/html.html' %}

{% include: 'includes/head.html' @title:'Mapping' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.html' %}

  {% include: 'includes/skipnav.html' %}

  {% include: 'includes/fsa-disclaimer.html' %}

  <header>
    {% include: 'includes/pcp-header.html' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <div class="pcp-stepped-tabs">
          <div class="pcp-stepped-tabs__bd">
            <ol class="pcp-stepped-tabs__list">
              <li class="pcp-stepped-tabs__item"><a class="pcp-stepped-tabs__label" href="workflow_price-discovery.html">Price Discovery</a></li>
              <li class="pcp-stepped-tabs__item"><a class="pcp-stepped-tabs__label" href="workflow_closing.html">Closing</a></li>
              <li class="pcp-stepped-tabs__item pcp-stepped-tabs__item--active"><a class="pcp-stepped-tabs__label pcp-stepped-tabs__label--active" href="workflow_mapping.html">Mapping</a></li>
              <li class="pcp-stepped-tabs__item"><span class="pcp-stepped-tabs__label">Publish</span></li>
            </ol>
          </div>
        </div>

        <div class="fsa-grid">
          <div class="fsa-grid__1 fsa-grid__8/12@l">
            <h2 class="fsa-m--none">Adjustments</h2>
          </div>
          <div class="fsa-grid__1 fsa-grid__4/12@l">
            <div class="fsa-text-align--right">
              <a href="workflow_publish.html" class="fsa-btn fsa-btn--primary">Finalize Adjustments</a>
              <button class="fsa-btn fsa-btn--alt" type="button">Reset</button>
            </div>
          </div>
        </div>

        <div class="pcp-TEMP-MAP-FRAME">
          <div class="pcp-TEMP-MAP-FRAME__HD">
            <div class="pcp-TEMP-MAP-FRAME__TABS">
              (commodities' tabs)
            </div>
          </div>
          <div class="pcp-TEMP-MAP-FRAME__BD">

            <div class="pcp-TEMP-MAP-FRAME__PANEL">
              (panel)
            </div>

            <div class="pcp-TEMP-MAP-FRAME__MAP"></div>

            <div class="pcp-TEMP-MAP-FRAME__MARKER" style="top: 390px; left: 865px;">
              <div class="pcp-marker">
                <div class="pcp-marker__value">-0.08</div>
                <div class="pcp-marker__pinpoint"></div>
              </div>
            </div>
            <div class="pcp-TEMP-MAP-FRAME__MARKER" style="top: 40px; left: 405px;">
              <div class="pcp-marker pcp-marker--high pcp-marker--modified pcp-marker--active">
                <div class="pcp-marker__value">-0.03</div>
                <div class="pcp-marker__pinpoint"></div>
              </div>
            </div>
            <div class="pcp-TEMP-MAP-FRAME__MARKER" style="top: 130px; left: 805px;">
              <div class="pcp-marker pcp-marker--low">
                <div class="pcp-marker__value">-0.76</div>
                <div class="pcp-marker__pinpoint"></div>
              </div>
            </div>

            <div class="pcp-TEMP-MAP-FRAME__RIFT-DETAIL">
              {% include: 'includes/rift-detail.html' %}
            </div>

          </div>
          <div class="pcp-TEMP-MAP-FRAME__FT"></div>
        </div>

      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/pcp-footer-TEMP.html' %}
  </footer>

  {% include: 'includes/scripts.html' %}

</body>

</html>
