{% include: 'includes/html.html' %}

{% include: 'includes/head.html' @title:'Review' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.html' %}

  {% include: 'includes/skipnav.html' %}

  {% include: 'includes/fsa-disclaimer.html' %}

  <header>
    {% include: 'includes/pcp-header__profile-only.html' %}
    {% include: 'includes/pcp-nav-global__workflow.html' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        {% include: 'includes/pcp-info-bar.html' %}

        {% include: 'includes/pcp-stepped-tabs__review.html' %}

        {% include: 'includes/pcp-title-action-bar.html' @title:'Review Adjustments' @action:'Complete Review' @link:'workflow_publish.html' @button_state:' ' %}

        <div class="fsa-m-t--m fsa-m-b--l">
          {% include: 'includes/pcp-content-tabs__review.html' %}
        </div>

        <div class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION">
          <div id="UNIQUE-ID-7654321" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM--ACTIVE">
            <p>
              <select class="fsa-select HINT" id="UNIQUE-ID-74USHHU" name="UNIQUE-ID-74USHHU">
                <option value="Corn">Summary</option>
                <option value="Corn" selected="">YC - Corn</option>
                <option value="Soybean">YSB - Soybean</option>
                <option value="Sorghum">SOR - Sorghum</option>
                <option value="Hard Red Winter Wheat">HRW - Hard Red Winter Wheat</option>
                <option value="Soft Red Winter Wheat">SRW - Soft Red Winter Wheat</option>
                <option value="Soft White Wheat">WHI - Soft White Wheat</option>
                <option value="Hard Red Spring Wheat">HRS - Hard Red Spring Wheat</option>
                <option value="Hard Amber Durum">HAD - Hard Amber Durum</option>
                <option value="Oats">OAT - Oats</option>
                <option value="Barley">BRL - Barley</option>
              </select>
              <span class="fsa-m-l--s">
                <input class="fsa-checkbox" data-behavior="toggle-changes-only" data-target="UNIQUE-ID-CHANGE-TARGET" id="UNIQUE-ID-HSYHSCHANG" type="checkbox" name="pies" value="UNIQUE-ID-HSYHSCHANG">
                <label for="UNIQUE-ID-HSYHSCHANG" class="HINT">Show changes only</label>
              </span>
            </p>
            <div class="fsa-grid" id="UNIQUE-ID-CHANGE-TARGET">
              <div class="fsa-grid__1/1 fsa-grid__1/2@m fsa-grid__1/3@l">
                <h3>Terminal</h3>
                {% include: 'includes/pcp-adjust__terminal-review.html' %}
              </div>
              <div class="fsa-grid__1/1 fsa-grid__1/2@m fsa-grid__1/3@l">
                <h3>State</h3>
                {% include: 'includes/pcp-adjust__state-review.html' %}
              </div>
              <div class="fsa-grid__1/1 fsa-grid__1/2@m fsa-grid__1/3@l">
                <h3>Protein Discounts</h3>
                {% include: 'includes/pcp-adjust__protein-review.html' %}
              </div>
            </div>
          </div>
          <div id="UNIQUE-ID-6272728" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
            <table>
              <tbody>
                <tr>
                  <td>BRL</td>
                  <td>2200</td>
                  <td>10/17/2017</td>
                  <td>10/16/2017</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>CAN</td>
                  <td>7200</td>
                  <td>10/17/2017</td>
                  <td>10/16/2017</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>CHK</td>
                  <td>5100</td>
                  <td>10/17/2017</td>
                  <td>10/16/2017</td>
                  <td>0.01</td>
                  <td>0</td>
                  <td>0.02</td>
                </tr>
                <tr>
                  <td>CHL</td>
                  <td>5110</td>
                  <td>10/17/2017</td>
                  <td>10/16/2017</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>CRA</td>
                  <td>8000</td>
                  <td>10/17/2017</td>
                  <td>10/16/2017</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>DUM</td>
                  <td>1500</td>
                  <td>10/17/2017</td>
                  <td>10/16/2017</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>FLX</td>
                  <td>2500</td>
                  <td>10/17/2017</td>
                  <td>10/16/2017</td>
                  <td>0.01</td>
                  <td>0</td>
                  <td>0.01</td>
                </tr>
                <tr>
                  <td>HRS</td>
                  <td>1200</td>
                  <td>10/17/2017</td>
                  <td>10/16/2017</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>HW</td>
                  <td>1100</td>
                  <td>10/17/2017</td>
                  <td>10/16/2017</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>LEN</td>
                  <td>4165</td>
                  <td>10/17/2017</td>
                  <td>10/16/2017</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0.02</td>
                </tr>
                <tr>
                  <td>MUS</td>
                  <td>7600</td>
                  <td>10/17/2017</td>
                  <td>10/16/2017</td>
                  <td>0</td>
                  <td>0.01</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>OAT</td>
                  <td>2300</td>
                  <td>10/17/2017</td>
                  <td>10/16/2017</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>PEA</td>
                  <td>4600</td>
                  <td>10/17/2017</td>
                  <td>10/16/2017</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>RAP</td>
                  <td>7300</td>
                  <td>10/17/2017</td>
                  <td>10/16/2017</td>
                  <td>0</td>
                  <td>0.01</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>RR</td>
                  <td>9530</td>
                  <td>10/17/2017</td>
                  <td>10/16/2017</td>
                  <td>0.01</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>RR</td>
                  <td>9510</td>
                  <td>10/17/2017</td>
                  <td>10/16/2017</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>RR</td>
                  <td>9520</td>
                  <td>10/17/2017</td>
                  <td>10/16/2017</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>SAF</td>
                  <td>7400</td>
                  <td>10/17/2017</td>
                  <td>10/16/2017</td>
                  <td>0.01</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>SEM</td>
                  <td>6900</td>
                  <td>10/17/2017</td>
                  <td>10/16/2017</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>SFN</td>
                  <td>7800</td>
                  <td>10/17/2017</td>
                  <td>10/16/2017</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>SOR</td>
                  <td>2700</td>
                  <td>10/17/2017</td>
                  <td>10/16/2017</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>SRW</td>
                  <td>1300</td>
                  <td>10/17/2017</td>
                  <td>10/16/2017</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>SUN</td>
                  <td>7100</td>
                  <td>10/17/2017</td>
                  <td>10/16/2017</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0.02</td>
                </tr>
                <tr>
                  <td>WHI</td>
                  <td>1400</td>
                  <td>10/17/2017</td>
                  <td>10/16/2017</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>YC</td>
                  <td>2000</td>
                  <td>10/17/2017</td>
                  <td>10/16/2017</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>YSB</td>
                  <td>2600</td>
                  <td>10/17/2017</td>
                  <td>10/16/2017</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="UNIQUE-ID-6274679" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
            <span class="OUTLINE">Differential content</span>
          </div>
        </div>

      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/pcp-footer-TEMP.html' %}
  </footer>

  {% include: 'includes/pcp-modal__edit-workflow.html' %}

  {% include: 'includes/whiteout.html' @CLASS:'pcp-whiteout--hidden' %}

  <div class="pcp-growl-container pcp-growl-container--hidden">
    {% include: 'includes/growl_map-reset-confirm.html' @ID:'unique-id-55sssss55om' %}
    {% include: 'includes/growl_map-save.html' @ID:'unique-id-55s55h55from' %}
  </div>
  <div class="pcp-growl-container pcp-growl-container--centered pcp-growl-container--hidden">
    {% include: 'includes/growl_map-reset.html' @ID:'unique-id-556847000om' %}
  </div>

  {% include: 'includes/scripts.html' %}

</body>

</html>
