{% include: 'includes/html.html' %}

{% include: 'includes/head.html' @title:'Discovery' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.html' %}

  {% include: 'includes/skipnav.html' %}

  {% include: 'includes/fsa-disclaimer.html' %}

  <header>
    {% include: 'includes/pcp-header__profile-only.html' %}
    {% include: 'includes/pcp-nav-global__workflow.html' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        {% include: 'includes/pcp-stepped-tabs__discovery.html' %}

        {% include: 'includes/pcp-title-action-bar.html' @title:'Today’s Assignments' @action:'Complete Discovery' @link:'workflow_closing.html' %}

        {% include: 'includes/table_assignments.html' %}

      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/pcp-footer-TEMP.html' %}
  </footer>

  {% include: 'includes/scripts.html' %}

  {% include: 'includes/whiteout.html' @CLASS:'pcp-whiteout--hidden' %}

  <div tabindex="0" id="UNIQUE-ID-415s5s4g5s4gf" class="pcp-modal pcp-modal--large pcp-modal--active" role="dialog" aria-hidden="true">
    <div class="pcp-modal__dialog">
      <div class="pcp-modal__content">
        <button class="pcp-modal__close" data-behavior="close-modal"><img class="pcp-modal__close-icon" src="img/close.svg" alt="close"></button>
        <h1 class="pcp-modal__title">Pacific Northwest - PNW</h1>
        {% include: 'includes/pcp-content-tabs__price-discovery__pnw.html' %}
        <p>
          <button type="button" class="fsa-btn fsa-btn--primary fsa-btn--small">Save</button>
          <button type="reset" class="fsa-btn fsa-btn--alt fsa-btn--small">Reset</button>
        </p>
        {% include: 'includes/program-entry__pnw.html' %}
      </div>
    </div>
  </div>

  <div class="pcp-growl-container pcp-growl-container--hidden">
    {% include: 'includes/growl_map-reset-confirm.html' @ID:'unique-id-55sssss55om' %}
    {% include: 'includes/growl_map-save.html' @ID:'unique-id-55s55h55from' %}
  </div>
  <div class="pcp-growl-container pcp-growl-container--centered pcp-growl-container--hidden">
    {% include: 'includes/growl_map-reset.html' @ID:'unique-id-556847000om' %}
  </div>

</body>

</html>
