{% include: 'includes/html.html' %}

{% include: 'includes/head.html' @title:'Review' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.html' %}

  {% include: 'includes/skipnav.html' %}

  {% include: 'includes/fsa-disclaimer.html' %}

  <header>
    {% include: 'includes/pcp-header__profile-only.html' %}
    {% include: 'includes/pcp-nav-global__workflow.html' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        {% include: 'includes/pcp-info-bar.html' %}

        {% include: 'includes/pcp-stepped-tabs__review.html' %}

        {% include: 'includes/pcp-title-action-bar.html' @title:'Review Adjustments' @action:'Complete Review' @link:'workflow_publish.html' @button_state:' ' %}

        <div class="fsa-m-t--m fsa-m-b--l">
          {% include: 'includes/pcp-content-tabs__review.html' %}
        </div>

        <div class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION">
          <div id="UNIQUE-ID-7654321" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM--ACTIVE">
            <!-- <p class="fsa-text--lead"><strong>Commodity Adjustments</strong> to be effective <strong><time datetime="2017-08-28T07:00-06:00">Monday, August 28, 2017 at 7:00am ET</time></strong>.</p> -->
            <p>
              <select class="fsa-select HINT" data-behavior="DEMO-FAKING-SELECT-CONTENT-SWAP" id="UNIQUE-ID-74USHHU" name="UNIQUE-ID-74USHHU">
                <option data-target="UNIQUE-ID-COM-All" value="All" selected="">All</option>
                <option data-target="UNIQUE-ID-COM-YC" value="Corn">YC - Corn</option>
                <option data-target="UNIQUE-ID-COM-YSB" value="Soybean">YSB - Soybean</option>
                <option data-target="UNIQUE-ID-COM-SOR" value="Sorghum">SOR - Sorghum</option>
                <option data-target="UNIQUE-ID-COM-HRW" value="Hard Red Winter Wheat">HRW - Hard Red Winter Wheat</option>
                <option data-target="UNIQUE-ID-COM-SRW" value="Soft Red Winter Wheat">SRW - Soft Red Winter Wheat</option>
                <option data-target="UNIQUE-ID-COM-WHI" value="Soft White Wheat">WHI - Soft White Wheat</option>
                <option data-target="UNIQUE-ID-COM-HRS" value="Hard Red Spring Wheat">HRS - Hard Red Spring Wheat</option>
                <option data-target="UNIQUE-ID-COM-HAD" value="Hard Amber Durum">HAD - Hard Amber Durum</option>
                <option data-target="UNIQUE-ID-COM-OAT" value="Oats">OAT - Oats</option>
                <option data-target="UNIQUE-ID-COM-BRL" value="Barley">BRL - Barley</option>
              </select>
              <span class="fsa-m-l--s">
                <input class="fsa-checkbox" data-behavior="toggle-changes-only" data-target="UNIQUE-ID-CHANGE-TARGET_commodity" id="UNIQUE-ID-HSYHSCHANG" type="checkbox" name="pies" value="UNIQUE-ID-HSYHSCHANG" checked="checked">
                <label for="UNIQUE-ID-HSYHSCHANG" class="HINT">Show changes only</label>
              </span>
            </p>
            <div id="UNIQUE-ID-CHANGE-TARGET_commodity">
              <div class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION">
                <div id="UNIQUE-ID-COM-All" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM--ACTIVE">
                  <h2>YC - Corn</h2>
                  {% include: 'includes/review-adjustments__two-up.html' %}
                  <h2>YSB - Soybean</h2>
                  {% include: 'includes/review-adjustments__three-up.html' %}
                  <h2>SOR - Sorghum</h2>
                  {% include: 'includes/review-adjustments__two-up.html' %}
                  <h2>HRW - Hard Red Winter Wheat</h2>
                  {% include: 'includes/review-adjustments__three-up.html' %}
                  <h2>SRW - Soft Red Winter Wheat</h2>
                  {% include: 'includes/review-adjustments__two-up.html' %}
                  <h2>WHI - Soft White Wheat</h2>
                  {% include: 'includes/review-adjustments__two-up.html' %}
                  <h2>HRS - Hard Red Spring Wheat</h2>
                  {% include: 'includes/review-adjustments__three-up.html' %}
                  <h2>HAD - Hard Amber Durum</h2>
                  {% include: 'includes/review-adjustments__two-up.html' %}
                  <h2>OAT - Oats</h2>
                  {% include: 'includes/review-adjustments__two-up.html' %}
                  <h2>BRL - Barley</h2>
                  {% include: 'includes/review-adjustments__two-up.html' %}
                </div>
                <div id="UNIQUE-ID-COM-YC" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
                  <h2 class="">YC - Corn</h2>
                  {% include: 'includes/review-adjustments__two-up.html' %}
                </div>
                <div id="UNIQUE-ID-COM-YSB" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
                  <h2>YSB - Soybean</h2>
                  {% include: 'includes/review-adjustments__three-up.html' %}
                </div>
                <div id="UNIQUE-ID-COM-SOR" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
                  <h2>SOR - Sorghum</h2>
                  {% include: 'includes/review-adjustments__two-up.html' %}
                </div>
                <div id="UNIQUE-ID-COM-HRW" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
                  <h2>HRW - Hard Red Winter Wheat</h2>
                  {% include: 'includes/review-adjustments__three-up.html' %}
                </div>
                <div id="UNIQUE-ID-COM-SRW" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
                  <h2>SRW - Soft Red Winter Wheat</h2>
                  {% include: 'includes/review-adjustments__two-up.html' %}
                </div>
                <div id="UNIQUE-ID-COM-WHI" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
                  <h2>WHI - Soft White Wheat</h2>
                  {% include: 'includes/review-adjustments__two-up.html' %}
                </div>
                <div id="UNIQUE-ID-COM-HRS" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
                  <h2>HRS - Hard Red Spring Wheat</h2>
                  {% include: 'includes/review-adjustments__three-up.html' %}
                </div>
                  <div id="UNIQUE-ID-COM-HAD" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
                  <h2>HAD - Hard Amber Durum</h2>
                  {% include: 'includes/review-adjustments__two-up.html' %}
                </div>
                <div id="UNIQUE-ID-COM-OAT" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
                  <h2>OAT - Oats</h2>
                  {% include: 'includes/review-adjustments__two-up.html' %}
                </div>
                <div id="UNIQUE-ID-COM-BRL" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
                  <h2>BRL - Barley</h2>
                  {% include: 'includes/review-adjustments__two-up.html' %}
                </div>
              </div>
            </div>
          </div>
          <div id="UNIQUE-ID-6272728" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
            <!-- <p class="fsa-text--lead"><strong>LDP Changes</strong> to be effective <strong><time datetime="2017-08-28T07:00-06:00">Monday, August 28, 2017 at 7:00am ET</time></strong>.</p> -->
            <p>
              <input class="fsa-checkbox" data-behavior="toggle-changes-only" data-target="UNIQUE-ID-CHANGE-TARGET_ldp" id="UNIQUE-ID-usjdudhdy4" type="checkbox" name="pies" value="UNIQUE-ID-usjdudhdy4" checked="checked">
              <label for="UNIQUE-ID-usjdudhdy4" class="HINT">Show changes only</label>
            </p>
            <div id="UNIQUE-ID-CHANGE-TARGET_ldp">
              {% include: 'includes/table_review-ldp-change.html' %}
            </div>
          </div>
          <div id="UNIQUE-ID-6274679" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
            <!-- <p class="fsa-text--lead"><strong>Differential Adjustments</strong> to be effective <strong><time datetime="2017-08-28T07:00-06:00">Monday, August 28, 2017 at 7:00am ET</time></strong>.</p> -->
            <p>
              <select class="fsa-select HINT" data-behavior="DEMO-FAKING-SELECT-CONTENT-SWAP" id="UNIQUE-ID-YHYHUhyg67" name="UNIQUE-ID-YHYHUhyg67">
                <option data-target="UNIQUE-ID-commodities" value="Commodities" selected="selected">Commodities</option>
                <option data-target="UNIQUE-ID-oilseeds" value="Minor Oilseeds">Minor Oilseeds</option>
                <option data-target="UNIQUE-ID-pulses" value="Pulses">Pulses</option>
                <option data-target="UNIQUE-ID-cotton" value="Cotton">Cotton</option>
                <option data-target="UNIQUE-ID-rice" value="Rice">Rice</option>
              </select>
              <span class="fsa-m-l--s">
                <input class="fsa-checkbox" data-behavior="toggle-changes-only--cell" data-target="UNIQUE-ID-CHANGE-TARGET_differential" id="UNIQUE-ID-hujK82HZZ" type="checkbox" name="pies" value="UNIQUE-ID-hujK82HZZ" checked="checked">
                <label for="UNIQUE-ID-hujK82HZZ" class="HINT">Show changes only</label>
              </span>
            </p>
            <div id="UNIQUE-ID-CHANGE-TARGET_differential">
              <div class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION">
                <div id="UNIQUE-ID-commodities" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM--ACTIVE">
                  <!-- <h2>Commodities</h2> -->
                  {% include: 'includes/table_review-differential__commodities.html' %}
                </div>
                <div id="UNIQUE-ID-oilseeds" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
                  <!-- <h2>Minor Oilseeds</h2> -->
                  {% include: 'includes/table_review-differential__oilseeds.html' %}
                </div>
                <div id="UNIQUE-ID-pulses" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
                  <!-- <h2>Pulses</h2> -->
                  {% include: 'includes/table_review-differential__pulses.html' %}
                </div>
                <div id="UNIQUE-ID-cotton" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
                  <!-- <h2>Cotton</h2> -->
                  {% include: 'includes/table_review-differential__cotton.html' %}
                </div>
                <div id="UNIQUE-ID-rice" class="PCP-TAB-CONTENT-DONT-USE-THESE-STYLES-IN-PRODUCTION__ITEM">
                  <!-- <h2>Rice</h2> -->
                  {% include: 'includes/table_review-differential__rice.html' %}
                </div>
              </div>
            </div>


          </div>
        </div>

        {% include: 'includes/proceeder__complete-review.html' @CLASS:'WIP-proceeder--sticky' @action:'Complete Review' @link:'workflow_publish.html' @button_state:' ' %}

      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/fsa-footer.html' %}
  </footer>

  {% include: 'includes/pcp-modal__edit-workflow.html' %}
  {% include: 'includes/pcp-modal__differential-footnotes.html' %}
  {% include: 'includes/pcp-modal__print-review.html' %}

  {% include: 'includes/whiteout.html' @HIDDEN:'true' %}

  <div class="fsa-growl-container fsa-growl-container--USED-TO-BE--hidden">
    {% include: 'includes/growl_map-reset-confirm.html' @ID:'unique-id-55sssss55om' %}
    {% include: 'includes/growl_map-save.html' @ID:'unique-id-55s55h55from' %}
  </div>
  <div class="fsa-growl-container fsa-growl-container--centered fsa-growl-container--USED-TO-BE--hidden">
    {% include: 'includes/growl_review-complete.html' @ID:'unique-id-sghj4ppp' %}
  </div>

  {% include: 'includes/scripts.html' %}

</body>

</html>
