{% include: 'includes/html.html' %}

{% include: 'includes/head.html' @title:'Discovery > GLF' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.html' %}

  {% include: 'includes/skipnav.html' %}

  {% include: 'includes/fsa-disclaimer.html' %}

  <header>
    {% include: 'includes/pcp-header.html' %}
    {% include: 'includes/pcp-nav-global__workflow.html' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        {% include: 'includes/pcp-stepped-tabs__discovery.html' %}

        <p><a href="workflow_discovery.html">&larr; Today's Assignments</a></p>

        {% include: 'includes/pcp-title-action-bar__no-action.html' @title:'GLF' %}

        <div class="fsa-field">
          <label class="fsa-field__label" for="sample-field">[label] <span class="fsa-field__label-desc">Required</span></label>
          <input data-behavior="validate-commodity" class="fsa-input fsa-field__item" id="sample-field" name="sample-field" type="text" value="">
          <span class="fsa-field__help">[helpful message]</span>
          <span class="fsa-field__message" id="sample-field__error-message-01" role="alert">[helpful error message]</span>
        </div>

        <div class="fsa-field">
          <a class="fsa-btn fsa-btn--primary" href="workflow_discovery.html">Save</a>
          <a type="button" class="fsa-btn fsa-btn--alt" type="reset" href="workflow_discovery.html">Cancel</a>
        </div>

        {% include: 'includes/_TBD.html' @text:'TBD' @style:'padding-top: 10vh; padding-bottom: 10vh;' %}

      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/pcp-footer-TEMP.html' %}
  </footer>

  {% include: 'includes/scripts.html' %}

  {% include: 'includes/whiteout.html' @CLASS:'pcp-whiteout--hidden' %}

  <div class="pcp-growl-container pcp-growl-container--hidden">
    {% include: 'includes/growl_map-reset-confirm.html' @ID:'unique-id-55sssss55om' %}
    {% include: 'includes/growl_map-save.html' @ID:'unique-id-55s55h55from' %}
  </div>
  <div class="pcp-growl-container pcp-growl-container--centered pcp-growl-container--hidden">
    {% include: 'includes/growl_map-reset.html' @ID:'unique-id-556847000om' %}
  </div>

</body>

</html>
