{% include: 'includes/html.njk' %}

{% include: 'includes/head.njk' @title:'Discovery' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.njk' %}

  {% include: 'includes/skipnav.njk' %}

  {% include: 'includes/fsa-disclaimer.njk' %}

  <header>
    {% include: 'includes/pcp-header__profile-only.njk' %}
    {% include: 'includes/pcp-nav-global__workflow.njk' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        {% include: 'includes/pcp-info-bar.njk' %}

        {% include: 'includes/pcp-stepped-tabs__discovery.njk' %}

        {% include: 'includes/pcp-title-action-bar.njk' @title:'Today’s Assignments' @action:'Complete Discovery' @link:'workflow_review.njk' @button_state:'disabled' %}

        <div class="HINT HINT--HIDDEN-BLOCK">
          <p class="fsa-text-align--center fsa-text-size--4">
            To enable <strong>Complete Discovery button </strong>: Mark <strong>RICE</strong> as complete.
          </p>
        </div>

        {% include: 'includes/table_assignments.njk' %}

        {% include: 'includes/fsa-stepped-control.njk' @CLASS:'fsa-stepped-control--sticky' @message:'<strong>7</strong> of <strong>8</strong>  Programs are Complete' @messageAfter:'<strong>All</strong> Programs are Complete' @action:'Complete Discovery' @link:'workflow_closing.njk' @button_state:'disabled' %}

      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/fsa-footer.njk' %}
  </footer>

  {% include: 'includes/pcp-modal__entry-pnw.njk' %}
  {% include: 'includes/pcp-modal__entry-glf.njk' %}
  {% include: 'includes/pcp-modal__entry-rice.njk' %}
  {% include: 'includes/pcp-modal__edit-workflow.njk' %}
  {% include: 'includes/pcp-modal__print-discovery.njk' %}

  {% include: 'includes/whiteout.njk' @HIDDEN:'true' %}

  <div class="fsa-growl-container fsa-growl-container--USED-TO-BE--hidden">
    {% include: 'includes/growl_map-reset-confirm.njk' @ID:'unique-id-55sssss55om' %}
    {% include: 'includes/growl_map-save.njk' @ID:'unique-id-55s55h55from' %}
  </div>
  <div class="fsa-growl-container fsa-growl-container--centered fsa-growl-container--USED-TO-BE--hidden">
    {% include: 'includes/growl_map-reset.njk' @ID:'unique-id-556847000om' %}
  </div>

  {% include: 'includes/scripts.njk' %}

</body>

</html>
