{% include: 'includes/html.njk' %}

{% include: 'includes/head.njk' @title:'Publish' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.njk' %}

  {% include: 'includes/skipnav.njk' %}

  {% include: 'includes/fsa-disclaimer.njk' %}

  <header>
    {% include: 'includes/pcp-header__profile-only.njk' %}
    {% include: 'includes/pcp-nav-global__workflow.njk' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        {% include: 'includes/pcp-info-bar.njk' %}

        {% include: 'includes/pcp-stepped-tabs__publish.njk' %}

        <!-- include: 'includes/pcp-title-action-bar.njk' @title:'' @action:'Complete March 22, 2017' @link:'workflow_closing.njk' @button_state:'disabled' -->

        <div class="pcp-title-action-bar">
          <div class="pcp-title-action-bar__hd">
            <h1 class="pcp-title-action-bar__title">Publish</h1>
          </div>
          <div class="pcp-title-action-bar__ft"></div>
        </div>

        <div class="HINT HINT--HIDDEN-BLOCK">
          <p class="fsa-text-align--center fsa-text-size--4">
            To enable <strong>Complete</strong> button: check all "Published" checkboxes.
          </p>
        </div>

        {% include: 'includes/table_publish.njk' %}

        {% include: 'includes/fsa-stepped-control__publish.njk' @CLASS:'fsa-stepped-control--sticky' @message:'<strong>0</strong> of <strong>3</strong> documents have been psoted' @action:'Complete March 22, 2017' @link:'workflow_mapping.njk' @button_state:'disabled' @reopen:'unique-id-publish-end' %}

      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/fsa-footer.njk' %}
  </footer>

  {% include: 'includes/pcp-modal__edit-workflow.njk' %}

  {% include: 'includes/whiteout.njk' @HIDDEN:'true' %}

  <div class="fsa-growl-container fsa-growl-container--USED-TO-BE--hidden">
    {% include: 'includes/growl_map-save.njk' @ID:'unique-id-55s55h55from' %}
  </div>
  <div class="fsa-growl-container fsa-growl-container--centered fsa-growl-container--USED-TO-BE--hidden">
    {% include: 'includes/growl_publish-end.njk' @ID:'unique-id-publish-end' %}
  </div>

  {% include: 'includes/scripts.njk' %}

</body>

</html>
