{% include: 'includes/html.html' %}

{% include: 'includes/head.html' @title:'New Workflow' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.html' %}

  {% include: 'includes/skipnav.html' %}

  {% include: 'includes/fsa-disclaimer.html' %}

  <header>
    {% include: 'includes/pcp-header__profile-only.html' %}
    {% include: 'includes/pcp-nav-global__workflow.html' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        <div id="unique-id-infobar2354" hidden>
          {% include: 'includes/pcp-info-bar.html' %}
        </div>

        {% include: 'includes/pcp-stepped-tabs__init.html' %}

        {% include: 'includes/pcp-title-action-bar.html' @title:'Initialize' @action:'Start Daily Process' @link:'workflow_discovery.html' @button_state:'disabled' %}

        <div class="fsa-m-t--m">
          {% include: 'includes/pcp-workflow__init.html' %}
        </div>

      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/fsa-footer.html' %}
  </footer>

  {% include: 'includes/whiteout.html' @HIDDEN:'true' %}

  {% include: 'includes/pcp-modal__edit-workflow.html' %}

  <div class="fsa-growl-container fsa-growl-container--USED-TO-BE--hidden">
    {% include: 'includes/growl_map-reset-confirm.html' @ID:'unique-id-55sssss55om' %}
    {% include: 'includes/growl_map-save.html' @ID:'unique-id-55s55h55from' %}
  </div>
  <div class="fsa-growl-container fsa-growl-container--centered fsa-growl-container--USED-TO-BE--hidden">
    {% include: 'includes/growl_map-reset.html' @ID:'unique-id-556847000om' %}
  </div>

  {% include: 'includes/scripts.html' %}

</body>

</html>
