{% include: 'includes/html.njk' %}

{% include: 'includes/head.njk' @title:'Closing' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.njk' %}

  {% include: 'includes/skipnav.njk' %}

  {% include: 'includes/fsa-disclaimer.njk' %}

  <header>
    {% include: 'includes/pcp-header__profile-only.njk' %}
    {% include: 'includes/pcp-nav-global__workflow.njk' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        {% include: 'includes/pcp-info-bar.njk' %}

        {% include: 'includes/pcp-stepped-tabs__closing.njk' %}

        <!-- include: 'includes/pcp-title-action-bar.njk' @title:'Closing' @action:'Complete Closing' @link:'workflow_mapping.njk' @button_state:'disabled' -->

        <div class="pcp-title-action-bar">
          <div class="pcp-title-action-bar__hd">
            <h1 class="pcp-title-action-bar__title">Closing</h1>
          </div>
          <div class="pcp-title-action-bar__ft"></div>
        </div>

        <div id="unique-id-closing-save">
          <div class="fsa-m-t--m">
            <!-- <div class="fsa-field">
              <label class="fsa-field__label" for="gemino-quis-y3y3">Approver</label>
              <input disabled="disabled" data-behavior="validate-commodity" class="fsa-input fsa-field__item" id="gemino-quis-y3y3" name="gemino-quis-y3y3" type="text" value="Mike Brady">
            </div> -->
            <div class="fsa-field">
              <label class="fsa-field__label" for="gemino-quis-shdj">Message</label>
              <textarea class="fsa-textarea fsa-field__item HINT" name="gemino-quis-shdj" id="gemino-quis-shdj" placeholder="Add a message"></textarea>
            </div>
            <!-- <div class="fsa-field">
              <input data-behavior="enable-closing-save" data-enable-target="unique-id-saver-272728" class="fsa-checkbox" id="UNIQUE-ID-77shhsn" type="checkbox" name="UNIQUE-ID-77shhsn" value="approve">
              <label for="UNIQUE-ID-77shhsn" class="HINT">Closings are in</label>
            </div> -->
            <!-- <div class="fsa-field">
              <label class="fsa-field__label" for="gemino-quis-ssg2">Message <span class="fsa-field__label-desc">Required</span></label>
              <textarea data-behavior="validate-closing" data-save-target="unique-id-saver-272728" class="fsa-textarea fsa-field__item" name="gemino-quis-ssg2" id="gemino-quis-ssg2" placeholder="Add a message"></textarea>
              <span class="fsa-field__message" id="closing-message__freeform" role="alert">This field is required</span>
            </div> -->
            <div class="fsa-field">
              <button id="unique-id-saver-272728" class="fsa-btn fsa-btn--primary HINT" type="button" data-behavior="growl-show growl-dismiss-delay closing-save" data-disable-target="unique-id-closing-save" data-complete-target="UNIQUE-ID-FINALIZER" data-target="unique-id-asdfgwbhq33">Save</button>
            </div>
          </div>
        </div>

        {% include: 'includes/fsa-stepped-control__closing.njk' @CLASS:'fsa-stepped-control--sticky' @message:'Ready for Adjustments' @action:'Complete Closing' @link:'workflow_mapping.njk' @button_state:' ' @target:'unique-id-close-end' %}

        <!-- data-behavior="growl-show whiteout-show" -->

      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/fsa-footer.njk' %}
  </footer>
  {% include: 'includes/pcp-modal__edit-workflow.njk' %}

  {% include: 'includes/whiteout.njk' @HIDDEN:'true' %}

  <div class="fsa-growl-container fsa-growl-container--USED-TO-BE--hidden">
    {% include: 'includes/growl_map-reset-confirm.njk' @ID:'unique-id-55sssss55om' %}
    {% include: 'includes/growl_closing-save.njk' @ID:'unique-id-asdfgwbhq33' %}
  </div>
  <div class="fsa-growl-container fsa-growl-container--centered fsa-growl-container--USED-TO-BE--hidden">
    {% include: 'includes/growl_map-reset.njk' @ID:'unique-id-556847000om' %}
  </div>

  <div class="fsa-growl-container fsa-growl-container--centered fsa-growl-container--USED-TO-BE--hidden">
    {% include: 'includes/growl_close-end.njk' @ID:'unique-id-close-end' %}
  </div>

  {% include: 'includes/scripts.njk' %}

</body>

</html>
