{% include: 'includes/html.html' %}

{% include: 'includes/head.html' @title:'Publish' %}

<body class="pcp-app">

  {% include: 'includes/fsa-browser-upgrade.html' %}

  {% include: 'includes/skipnav.html' %}

  {% include: 'includes/fsa-disclaimer.html' %}

  <header>
    {% include: 'includes/pcp-header__profile-only.html' %}
    {% include: 'includes/pcp-nav-global__workflow.html' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="pcp-section">

      <div class="pcp-section__bd">

        {% include: 'includes/pcp-info-bar.html' %}

        {% include: 'includes/pcp-stepped-tabs__publish.html' %}

        <!-- include: 'includes/pcp-title-action-bar.html' @title:'' @action:'Complete March 22, 2017' @link:'workflow_closing.html' @button_state:'disabled' -->

        <div class="pcp-title-action-bar">
          <div class="pcp-title-action-bar__hd">
            <h1 class="pcp-title-action-bar__title">Publish</h1>
          </div>
          <div class="pcp-title-action-bar__ft"></div>
        </div>

        <div class="HINT HINT--HIDDEN-BLOCK">
          <p class="fsa-text-align--center fsa-text-size--4">
            To enable <strong>Complete</strong> button: check all "Published" checkboxes.
          </p>
        </div>

        {% include: 'includes/table_publish.html' %}

        {% include: 'includes/proceeder__publish.html' @CLASS:'WIP-proceeder--sticky' @message:'<strong>0</strong> of <strong>3</strong> documents have been manually published' @action:'Complete March 22, 2017' @link:'workflow_mapping.html' @button_state:'disabled' @reopen:'unique-id-publish-end' %}

      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/fsa-footer.html' %}
  </footer>

  {% include: 'includes/pcp-modal__edit-workflow.html' %}

  {% include: 'includes/whiteout.html' @HIDDEN:'true' %}

  <div class="fsa-growl-container fsa-growl-container--USED-TO-BE--hidden">
    {% include: 'includes/growl_map-save.html' @ID:'unique-id-55s55h55from' %}
  </div>
  <div class="fsa-growl-container fsa-growl-container--centered fsa-growl-container--USED-TO-BE--hidden">
    {% include: 'includes/growl_publish-end.html' @ID:'unique-id-publish-end' %}
  </div>

  {% include: 'includes/scripts.html' %}

</body>

</html>
